
.column-container{
    min-width: 480px;
    max-width: 480px;
    min-height: 56px;
    max-height: 56px;
}

.sub-definition-mapping{
    max-height: calc(100vh - 308px) ;
    overflow-y: auto;
}

.objIcon{
    min-width: 14px;
    max-width: 14px;
    min-height: 14px;
    max-height: 14px;
}
.text-child{
    color:#352EE9;
}