.rich-text-wrapper {
  // min-width: 600px;
  // max-width: 600px;
  min-height: 140px;
}

.error-exclamation {
  top: 9px;
  right: 6px;
}

.display {
  display: block;
}

.display-hide {
  display: none;
}

.bg-error {
  background-color: #f8dcdc !important;
}