<div class="d-flex flex-column w-100 h-100 position-relative bg-light px-4" [formGroup]="form">
  <!-- <div class="default-loader d-flex flex-column h-100 w-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
      <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
      <div class="text-secondary mt-2">Processing...</div>
    </div>
  </div> -->
  <!-- <div class="header d-flex align-items-center justify-content-between w-100 pr-3 bg-light border-bottom">
    <div class="title d-flex align-items-center ml-2">
      <span class="dsi dsi-data-service text-primary mr-2"></span>
      <span class="m-0 font-weight-bold">Data Service</span>
      <div class="mx-2">
        <span class="text-secondary">/</span>
      </div>
      <div class="text-secondary">{{schema?.name}}</div>
      <div class="mx-2">
        <span class="text-secondary">/</span>
      </div>
      <div *ngIf="value?._id" class="text-secondary">{{value?._id}}</div>
      <div *ngIf="!value?._id" class="text-muted">New</div>
    </div>
    <div class="actions">
      <div class="text-warning align-self-end" *ngIf="hasWorkflow" id="workflowReview">
        {{ isEdit ? 'Any changes to this record will require approval(s).' :
        'Approval(s) will be required to publish this record.' }}
      </div>
    </div>
  </div> -->
  <div class="sub-header d-flex align-items-center"
    [ngClass]='{"justify-content-between": stateModelAttr , "justify-content-end": !stateModelAttr}'>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="d-flex my-auto">
        <span class="dsi dsi-arrow-left text-secondary my-auto mr-2 hover" [routerLink]="cancelUrl"></span>
        <!-- <div class="fw-600 font-24 id-wrap" *ngIf="value?._id">
          {{value._id}}
        </div> -->
        <div class="fw-600 font-24 id-wrap">
          {{schema.name}}
        </div>
      </div>
      <div class="d-flex align-items-center ml-auto">
        <button id="cancelBtn" type="button" class="btn btn-outline-primary btn-min-width mr-3"
          [routerLink]="cancelUrl">
          <!-- <span class="dsi dsi-close text-primary mr-2"></span> -->
          <span class="text-primary font-13 fw-600">Cancel</span>
        </button>
        <button id="discardDraftBtn" type="button" class="btn btn-link d-flex align-items-center mr-3"
          (click)="discardDraft()" *ngIf="!isEdit && isDraft">
          <!-- <span class="dsi dsi-trash mr-2"></span> -->
          <span class="text-dark font-13 fw-600">Discard</span>
        </button>
        <button id="saveDraftBtn" type="button" class="btn btn-link d-flex align-items-center mr-3"
          [disabled]="!form.valid || showLazyLoader || searchingRecord" (click)="saveDraft()"
          *ngIf="!isEdit && isDraft">
          <!-- <span class="dsi dsi-file mr-2"></span> -->
          <span class="text-dark font-13 fw-600">Save draft</span>
        </button>
        <button id="submitDraftBtn" type="button" class="btn btn-primary btn-min-width"
          [disabled]="!form.valid || !form.dirty || showLazyLoader || searchingRecord" (click)="submitDraft()"
          *ngIf="isDraft">
          <span class="text">Save and Proceed</span>
        </button>
        <button id="saveAsDraftBtn" type="button" class="btn btn-link d-flex align-items-center mr-3"
          [disabled]="!form.valid || draftReqInProgress || showLazyLoader || searchingRecord" (click)="saveAsDraft()"
          *ngIf="!isDraft && hasWorkflow">
          <!-- <span class="dsi dsi-file mr-2"></span> -->
          <span class="text-dark font-13 fw-600">Save as draft</span>
        </button>
        <button id="saveAndCreateBtn" type="button" class="btn btn-link d-flex align-items-center mr-3"
          [disabled]="!form.valid || showLazyLoader || reqInProgress || searchingRecord" (click)="save(true)"
          *ngIf="!isEdit && !isDraft">
          <span *ngIf="!hasWorkflow" class="font-13 fw-600 text-dark">
            Save &amp; Create Another
          </span>
          <span *ngIf="hasWorkflow" class="font-13 fw-600 text-dark">
            Proceed &amp; Create Another
          </span>
        </button>
        <div class="btn-group save-button">
          <button id="saveBtn" type="button" class="btn btn-min-width btn-primary"
            [disabled]="((!form.valid || !form.dirty) && !isSchemaFree) || reqInProgress || showLazyLoader || searchingRecord || invalidSchemaFreeRecord"
            (click)="save()" *ngIf="!isDraft">
            <span *ngIf="!hasWorkflow" class="text">Save</span>
            <span *ngIf="hasWorkflow" class="text">Proceed</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center bg-white rounded-lg mb-3 p-3" style="min-height: 72px" *ngIf="showSubHeader">
    <div class="d-flex align-items-center state-model" *ngIf="stateModelAttr">
      <span class="mr-2 font-13 fw-500 state-version hover text-uppercase">{{stateModelName}}</span>
      <select class="form-control btn-min-width font-12 fw-400" (change)="changeStatus($event)"
        [value]="form.get(stateModelAttr)?.value">
        <option [value]="state" *ngFor="let state of statusArray" [value]="state">{{state}}</option>
      </select>
      <!-- <div *ngIf="(stateModelAttr && stateModelNextStates.length && ID && !isInitialStateOnEdit)"
        class="btn-group state-model-dropdown" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn dropdown-toggle-split btn-primary" ngbDropdownToggle
          [disabled]="!form.valid || !form.dirty || reqInProgress || showLazyLoader || searchingRecord">
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class='state-model-option' ngbDropdownItem *ngFor='let state of stateModelNextStates'
            (click)='setStateAndSave(state)'>
            {{state}}
          </button>
        </div>
      </div> -->
    </div>
    <ng-container *ngFor="let step of wizard;let stepIndex = index">
      <div *ngIf="step.actions && step.actions.length>0 && active[stepIndex]" class="d-flex align-items-center ml-auto">
        <!-- <div class="text-secondary font-weight-bold experience-hooks-title">Available Actions</div> -->
        <!-- <div class="d-flex experience-hooks-buttons"> -->
        <button type="button" *ngFor="let ac of step.actions"
          class="btn btn-outline-dark action-btn experience-hooks-btn mr-3 fw-600"
          (click)="triggerHook(ac)">{{ac.name}}</button>
        <!-- </div> -->
        <!-- <div class="d-flex position-relative">
          <button type="button" class="btn btn-link all-actions-dropdown-btn"
            (click)="$event.stopPropagation();toggleAllActionsDropDown=!toggleAllActionsDropDown">
            <span class="fa fa-ellipsis-h"></span>
          </button>
          <div *ngIf="toggleAllActionsDropDown" class="list-group all-actions-dropdown position-absolute"
            #allActionsDropdown odpClickOutside (outside)="toggleAllActionsDropDown = false">
            <div class="list-group-item list-group-item-action hover" *ngFor="let ac of step.actions; let i=index;"
              (click)="triggerHook(ac);toggleAllActionsDropDown=false;">{{ac.name}}</div>
          </div>
        </div> -->
      </div>
    </ng-container>
  </div>
  <div class="view-container d-flex align-items-stretch bg-white rounded rounded-lg">
    <div *ngIf="wizard.length > 0" class="view-body steps-wrapper border-right" [ngClass]="{'no-action':showSubHeader}">
      <div class="step-tabs d-flex flex-column">
        <ng-container *ngFor="let step of wizard; let i=index;let last=last;">
          <div class="step-tab d-flex hover" (click)="showCard(i)" [attr.id]="'step-'+i"
            [ngClass]="{'selected': active[i] }">
            <span class="active-tab"></span>
            <div class="d-flex flex-column p-3">
              <div [ngbTooltip]="" class="d-flex font-12 text-secondary fw-400 text-uppercase">
                Step {{i +1}}
              </div>
              <div [ngbTooltip]="step.name" class="text-truncate fw-500">
                {{step.name}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="view-body p-4 w-100" [ngClass]="{'no-action':showSubHeader}">
      <ng-container *ngIf="!showLazyLoader">
        <ng-container *ngIf="!isSchemaFree">
          <ng-container *ngIf="wizard.length > 0 && definition.length > 0">
            <ng-container *ngFor="let step of wizard;let stepIndex = index;let stepFirst = first;let stepLast = last">
              <div class="d-flex flex-column" *ngIf="active[stepIndex]">
                <ng-container *ngFor="let field of step.fields;let fieldIndex = index;let first = first;">
                  <!-- <div [attr.id]="stepIndex+'-'+fieldIndex" *ngIf="getDefinition(field)">
                    <odp-manage-control [form]="form" [definition]="getDefinition(field)" [first]="first">
                    </odp-manage-control>
                  </div> -->
                  <ng-container *ngIf="getDefinition(field)">
                    <odp-manage-control [form]="form" [definition]="getDefinition(field)" [first]="first">
                    </odp-manage-control>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="wizard.length == 0">
            <div class="d-flex flex-column">
              <ng-container *ngFor="let def of definition;let i = index; let first = first; let last = last;">
                <ng-container *ngIf="!checkStateModel(def)">
                  <odp-manage-control [form]="form" [definition]="def" [first]="first" [last]="last">
                  </odp-manage-control>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isSchemaFree">
          <odp-code-editor class="code-editor" [edit]="{status:true}" [theme]="selectedEditorTheme"
            [fontSize]="selectedFontSize" [(code)]="schemaFreeCode" (codeError)='schemaFreeCodeError($event)'>
          </odp-code-editor>
        </ng-container>
      </ng-container>
      <div class="loading" *ngIf="showLazyLoader">
        <div class="rows d-flex align-items-center mt-4 ml-3" *ngFor="let row of dummyRows">
          <div class="mr-4">
            <odp-loading-placeholder [height]="24" [width]="200"></odp-loading-placeholder>
          </div>
          <div>
            <odp-loading-placeholder [height]="24" [width]="300"></odp-loading-placeholder>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #workflowModal id="_workflowModal">
  <div class="modal-header bg-dark">
    <h5 class="modal-title text-white">{{workflowModalOptions.title}}</h5>
    <button id="workflowModalCloseBtn" type="button" class="btn close no-focus" aria-label="Close"
      (click)="reqInProgress = false; workflowModalRef.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0 d-flex flex-column">
    <div class="d-flex flex-column bg-light font-weight-bold" *ngIf="workflowModalOptions.operation != 'POST'">
      <div class="d-flex align-items-center px-3 pt-3">
        <span *ngIf="workflowModalOptions.operation == 'POST'" class="text-primary d-flex align-items-center mr-2">
          <span class="dsi dsi-plus-circle mr-1"></span>
          <span>Create:</span>
        </span>
        <span *ngIf="workflowModalOptions.operation == 'PUT'" class="text-warning d-flex align-items-center mr-2">
          <span class="dsi dsi-edit fa-lg mr-1"></span>
          <span>Update:</span>
        </span>
        <span *ngIf="workflowModalOptions.operation == 'DELETE'" class="text-danger d-flex align-items-center mr-2">
          <span class="dsi dsi-trash mr-1"></span>
          <span>Delete:</span>
        </span>
        <span class="text-dark">{{workflowModalOptions._id}}</span>
      </div>
      <div class="d-flex align-items-center justify-content-between p-3">
        <span class="d-flex align-items-center">
          <span class="text-secondary mr-1">Submitted by</span>
          <span *ngIf="workflowModalOptions?.requestedBy?.length <= 32">{{workflowModalOptions?.requestedBy}}</span>
          <span *ngIf="workflowModalOptions?.requestedBy?.length > 32" class="text-truncate requestedBy high-zIndex"
            [ngbTooltip]="workflowModalOptions?.requestedBy"
            placement="top">{{workflowModalOptions?.requestedBy}}</span>
        </span>
        <span *ngIf="workflowModalOptions.operation == 'PUT'" class="d-flex align-items-center">
          <span class="text-secondary mr-1">Fields affected</span>
          <span>{{workflowModalOptions.fields}}</span>
        </span>
      </div>
    </div>
    <div class="d-flex flex-column p-3">
      <div class="d-flex">
        <label for="comments" class="font-weight-bold m-0">Attachments:</label>
        <div class="d-flex flex-column align-items-start pl-3 w-100">
          <input #workflowFileUploadInput class="d-none" type="file" name="workflowFileUpload" id="workflowFileUpload"
            (change)="uploadWorkflowFile($event)">
          <button class="btn btn-link p-0" (click)="workflowFileUploadInput.click()">
            <span class="fa fa-paperclip mr-1"></span>
            <span class="text">Add file(s)</span>
          </button>
          <div class="d-flex align-items-center justify-content-between w-100"
            *ngFor="let file of workflowFilesList;let fileIndex=index;">
            <div class="d-flex align-items-center">
              <span class="text-primary text-truncate fileName-width high-zIndex" [ngbTooltip]="file.name"
                placement="top">{{file.name}}</span>
              <small class="text-secondary ml-2">({{file.size|filesize}})</small>
            </div>
            <button class="btn btn-sm btn-link text-danger" (click)="removeWorkflowFile(fileIndex)">Remove</button>
          </div>
        </div>
      </div>
      <label for="comments" class="text-secondary">Comments</label>
      <textarea id="comments" class="form-control" placeholder="Provide the reviewer with some helpful information"
        [(ngModel)]="workflowModalOptions.remarks" odpAutoFocus></textarea>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-outline-primary min-width-control" id="workflowModalCancelBtn"
          (click)="workflowModalRef.close(false); reqInProgress = false;">Cancel</button>
        <button class="btn btn-primary min-width-control" id="workflowModalSubmitBtn"
          (click)="workflowModalRef.close(true)">Submit</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmDiscardModal>
  <div class="modal-header alert">
    <h4 class="modal-title text-danger">Discard draft</h4>
    <button id="discardModalCloseBtn" type="button" class="close btn no-focus" aria-label="Close"
      (click)="confirmDiscardModalRef.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">Are you sure, you want to discard this draft?</p>
  </div>
  <div class="modal-footer">
    <button id="discardModalCancelBtn" type="button" class="btn btn-secondary px-4 btn-min-width"
      (click)="confirmDiscardModalRef.close(false)">No</button>
    <button id="discardModalYesBtn" type="button" class="btn btn-danger px-4 btn-min-width"
      (click)="confirmDiscardModalRef.close(true)">Yes</button>
  </div>
</ng-template>
<ng-template #pageChangeModalTemplate>
  <div class="modal-body p-4">
    <div class="circle bg-dark">
      <span class="fa fa-exclamation-triangle text-white"></span>
    </div>
    <p class="text-dark font-weight-bold text-center">Unsaved changes</p>
    <p class="text-secondary text-center">You have unsaved changes, are you sure you want to leave?</p>
    <div class="d-flex align-item-center justify-content-end mt-4">
      <button type="button" class="btn btn-secondary btn-min-width mr-3"
        (click)="pageChangeModalTemplateRef.close(false)">No</button>
      <button type="button" class="btn btn-danger btn-min-width"
        (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
    </div>
  </div>
</ng-template>