@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.header {
  min-height: 96px;
  max-height: 96px;

  .title {
    font-size: 16px;

    .text-primary {
      font-size: 16px !important;
    }
  }

  .actions {
    .text-warning {
      font-size: 12px;
    }
  }
}

.sub-header {
  min-height: 96px;
  max-height: 96px;

  .state-model {
    min-height: 72px;
    max-height: 72px;
    font-size: 16px;
  }
}

.all-steps-dropdown {
  right: 15px;
  top: 42px;
  width: 230px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  display: none;
  z-index: 10;
  outline: 0;
  max-height: 234px;
  overflow: auto;

  .list-group-item {
    &:not(.active):hover {
      cursor: pointer;
      background: $light;
    }
  }
}

.all-actions-dropdown {
  min-width: 200px;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  max-height: 234px;
  overflow: auto;
}

.view-container {
  overflow: hidden;
}

.view-body {
  height: calc(100vh - 180px);
  overflow-y: auto;

  &.no-action {
    height: calc(100vh - 270px);
  }
}

.steps-wrapper {
  width: 260px;

  .step-tabs {
    overflow: hidden;

    .step-tab {
      min-height: 74px;
      max-height: 74px;
      transition: 0.25s;

      .step-name {
        max-width: 200px;
      }
    }
  }

  .step-controls {
    min-width: 134px;
    max-width: 134px;
  }
}

.active-tab {
  background: $white;
  border-radius: 0px 8px 8px 0px;
  width: 3px !important
}

.selected {
  background: rgba($primary, 0.04);

  .active-tab {
    background: $primary  !important;
  }
}

.experience-hooks {
  min-height: 40px;
  max-height: 40px;

  .experience-hooks-title {
    min-width: 120px;
    max-width: 120px;
  }

  .experience-hooks-buttons {
    min-width: calc(100vw - 416px);
    max-width: calc(100vw - 416px);
    overflow: hidden;

    .experience-hooks-btn {
      min-width: 160px;
      max-width: 160px;
      min-height: 26px;
      max-height: 26px;
      padding: 0;
    }
  }

  .btn-link {
    padding: 0;
  }
}

.requestedBy {
  max-width: 220px;
}

.fileName-width {
  max-width: 150px;
}

.no-focus {
  box-shadow: none !important;
}

.state-model-option {
  &:active {
    background: white !important;
    color: black;
  }
}

.dropdown-menu {
  &.show {
    transform: translate(-132px, 32px) !important;
  }
}

.action-btn {
  width: 142px;
  min-height: 40px;
  max-height: 40px;
}

.id-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50vw;
}