<ng-container *ngIf="definition?.dataType !=='others'">
  <ng-container *ngIf="type === 'workflowId'">
    <a class="text-primary hover" [ngClass]="{'font-bold':status=='Pending'}"
      (click)="view()">{{wfId}}</a>
  </ng-container>
  <ng-container *ngIf="type === 'docId'">
    <span class="hover text-muted" [ngClass]="{'font-bold text-dark':status=='Pending'}">{{docId}}</span>
  </ng-container>
  <ng-container *ngIf="type === 'req'">
    <span class="text-muted" [ngClass]="{'font-bold text-dark':status=='Pending'}">{{user}}</span>
  </ng-container>
  <ng-container *ngIf="type === 'res'">
    <span class="text-muted">{{lastRespondedBy}}</span>
  </ng-container>
  <ng-container *ngIf="type === 'date'">
    <span class="text-muted" *ngIf="createdOn"
      [ngClass]="{'font-bold text-dark':status=='Pending'}">{{createdOn |date:'dd-MMM-yyyy, hh:mm a'}}</span>
  </ng-container>
  <ng-container *ngIf="type === 'status'">
    <div class="d-flex align-items-center">
      <span *ngIf="status == 'Approved'" class="odp-check text-success font-xsm "></span>
      <span *ngIf="status == 'Rejected' || status == 'Failed'" class="odp-times text-danger font-xsm"></span>
      <span *ngIf="status == 'Pending'" class="odp-arrow-right text-primary font-sm"></span>
      <span *ngIf="status == 'Draft'" class="far fa-file  font-sm text-dark"></span>
      <span *ngIf="status == 'Rework'" class="odp-rework font-sm text-warning"></span>
      <span *ngIf="status == 'Discarded'" class="fa fa-circle text-secondary mr-1 fa-xs"></span>
      <span class="font-bold text-dark ml-2" *ngIf="status=='Pending'">Pending Review</span>
      <span class="text-muted ml-2" *ngIf="status!='Pending'">{{status}}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="type === 'Checkbox'">
    <div class="d-flex align-items-center mt-1">
      <odp-round-check [checked]="data._checked" [disabled]="!(status=='Pending' && canRespond)"
        (checkedChange)="onCheckChanged($event)"></odp-round-check>
    </div>
  </ng-container>
  <ng-container *ngIf="type === 'action'">
    <span class="text-primary mr-2 hover" (click)="view()">View</span>
    <span class="text-primary hover" (click)="respond($event)" *ngIf="canRespond">Respond</span>
  </ng-container>

</ng-container>


<ng-container *ngIf="definition?.dataType ==='others'">
  <ng-container *ngIf="type === 'Array'">
    <div class="">
      {{value?value.length : '0'}} records
    </div>
  </ng-container>
  <ng-container *ngIf="type === 'Object'">
    <div class="">
      {{keysCount}} fields
    </div>
  </ng-container>
  <ng-container *ngIf="type === 'String' && !properties.longText && !properties.richText && !properties.password">
    <span *ngIf="value && isenrichTextWithLinkRequired" [innerHTML]="textWithLink"></span>
    <span class="wrapper" *ngIf="value && !isenrichTextWithLinkRequired">{{value}}</span>
    <span *ngIf="!value" class="text-muted">N.A.</span>
  </ng-container>
  <div *ngIf="type === 'String' && properties.password" class="d-flex align-items-center">
    <ng-container *ngIf="value && value.value">
      <ng-container *ngIf="!showPassword">
        **********
      </ng-container>
      <ng-container *ngIf="showPassword">
        {{value.value}}
      </ng-container>
      <button type="button" class="btn btn-sm btn-link p-0 ml-2"
        (click)="showPassword=!showPassword;$event.stopPropagation();">
        {{showPassword?'Hide':'Show'}}
      </button>
    </ng-container>
    <span class="text-muted" *ngIf="!value">N.A</span>
  </div>
  <ng-container *ngIf="type === 'String' && properties.longText && !properties.richText">
    <span *ngIf="value" class="text-primary hover" (click)="view()">View</span>
    <span *ngIf="!value " class="text-muted">N.A.</span>
  </ng-container>
  <ng-container *ngIf="type === 'String' && !properties.longText && properties.richText">
    <span *ngIf="value" class="text-primary hover" (click)="view()">View</span>
    <span *ngIf="!value" class="text-muted">N.A.</span>
  </ng-container>
  <ng-container *ngIf="type === 'Number' && !properties.currency">
    <ng-container *ngIf="value || value === 0">
      {{value}}
    </ng-container>
    <span *ngIf="!value && value !== 0" class="text-muted">N.A.</span>
  </ng-container>
  <ng-container *ngIf="type === 'Number' && properties.currency">
    <span *ngIf="currencyType == 'INR'">&#8377;</span>
    <span *ngIf="currencyType == 'USD'">&#36;</span>
    <span *ngIf="currencyType == 'EUR'">&#8364;</span>
    <span *ngIf="currencyType == 'GBP'">&#163;</span>
    <span class="pl-2">{{value}}</span>
  </ng-container>
  <ng-container *ngIf="type === 'Date'">
    <ng-container *ngIf="properties.dateType == 'date'">
      <span class="text-muted" *ngIf="!value">N.A</span>
      <span class="text-muted" *ngIf="value">{{value |date:'dd-MMM-yyyy'}}</span>

    </ng-container>
    <ng-container *ngIf="properties.dateType != 'date'">
      <span class="text-muted" *ngIf="!value">N.A</span>
      <span class="text-muted" *ngIf="value">{{value |date:'dd-MMM-yyyy, hh:mm a'}}</span>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="type === 'Boolean'">
    <span *ngIf="value" class="text-muted">
      <span class="fa fa-check-circle text-primary"></span>
      <span class="text ml-1">Yes</span>
    </span>
    <span *ngIf="!value" class="text-muted">
      <span class="fa fa-times-circle"></span>
      <span class="text ml-1">No</span>
    </span>
  </ng-container>
  <ng-container *ngIf="type === 'Relation'">
    <odp-relation-view [definition]="definition" [data]="data"></odp-relation-view>
  </ng-container>
  <ng-container *ngIf="type === 'User'">
    <odp-user-view [definition]="definition" [data]="data"></odp-user-view>
  </ng-container>
  <ng-container *ngIf="type === 'File'">
    <odp-file-view [definition]="definition" [value]="value"></odp-file-view>
  </ng-container>


  <ng-container *ngIf="type === 'Geojson'">
    <a [attr.href]="url" class="text-truncate high-zIndex" *ngIf="formattedAddress" target="_blank"
      placement="top">{{formattedAddress}}</a>
    <span class="text-muted" *ngIf="!formattedAddress">N.A</span>
  </ng-container>




</ng-container>
<!-- <ng-container *ngIf="type === 'action'">
        <span class="fas fa-ellipsis-h text-muted" *ngIf="!showActionButtons" (mouseover)="onMouseOver()"
         ></span>
        <div *ngIf="showActionButtons" class="bg-white"  (mouseleave)="onMouseOut()">
          <button type="button" class="btn btn-link" (click)="performAction('view',$event)">
            View
          </button>
          <button type="button" class="btn btn-link " *ngIf="canRespond" (click)="performAction('respond',$event)">
            Respond
          </button>
        </div>
      </ng-container> -->