<ng-template #changePasswordModal >
  <div *ngIf="changePasswordForm" class="modal-body p-4" [formGroup]="changePasswordForm">
    <div class="circle bg-dark">
      <span class="fa fa-shield-alt text-white"></span>
    </div>
    <p class="text-dark font-weight-bold text-center">Change Password</p>
    <div class="input-wrapper position-relative">
      <input type="password" placeholder="Old Password" class="form-control mb-3" [ngClass]="{'is-invalid':oldPasswordRequired || oldPasswordLength}"
        formControlName="oldpassword" odpAutoFocus autocomplete="new-password">
      <span *ngIf="oldPasswordRequired" class="fas fa-question-circle position-absolute text-danger error-icon" ngbTooltip="Old Password is required"
        container="body" placement="right"></span>
      <span *ngIf="oldPasswordLength" class="fas fa-question-circle position-absolute text-danger error-icon" ngbTooltip="Password should be of atleast 8 characters"
        container="body" placement="right"></span>
    </div>
    <div class="input-wrapper position-relative mb-3">
      <input type="password" placeholder="New Password" class="form-control" [ngClass]="{'is-invalid':newPasswordRequired || newPasswordLength}"
        formControlName="newpassword" autocomplete="new-password">
      <span *ngIf="newPasswordRequired" class="fas fa-question-circle position-absolute text-danger error-icon" ngbTooltip="New Password is required"
        container="body" placement="right"></span>
      <span *ngIf="newPasswordLength" class="fas fa-question-circle position-absolute text-danger error-icon" ngbTooltip="Password should be of atleast 8 characters"
        container="body" placement="right"></span>
    </div>
    <div class="input-wrapper position-relative">
      <input type="password" placeholder="Re-enter new password" class="form-control" [ngClass]="{'is-invalid':cnfrmPasswordRequired || matchPwd}"
             formControlName="confirmpassword" autocomplete="new-password">
      <span *ngIf="cnfrmPasswordRequired" class="fas fa-question-circle position-absolute text-danger error-icon" ngbTooltip="Confirm Password is required"
            container="body" placement="right"></span>
      <span *ngIf="matchPwd" class="fas fa-question-circle position-absolute text-danger error-icon" ngbTooltip="Passwords are not matching"
            container="body" placement="right"></span>
    </div>
    <p class="text-danger my-2 text-center">{{message}}</p>
  </div>
  <div class="modal-footer p-3 bg-light">
    <button type="button" class="btn btn-min-width btn-link w-50 mx-3" (click)="changePasswordModalRef.close(false)" id="cancelChangePassword">Cancel</button>
    <button type="button" class="btn btn-min-width btn-primary w-50 mx-3" (click)="changePassword()" id="confirmChangePssword">Confirm</button>
  </div>
</ng-template>
