.input-wrapper{
    .fa{
        right: 6px;
        top: 13px;
    }
}
.error-icon {
    top: 8px;
    right: 8%;
}

input{
    width: 94% !important;
    border-radius: .25em 0 0 .25em;
}

.eye-icon{
    top: 0px;
    padding: 7.5px;
    border-radius: 0.25rem;
    right: -3px;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
}