@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}


// @font-face {
//   font-family: "Lato";
//   src: url("../fonts/default/Lato-Regular.woff") format("woff"),
//     /* Pretty Modern Browsers */
//     url("../fonts/default/Lato-Light.woff") format("woff"),
//     /* Pretty Modern Browsers */
//     url("../fonts/default/Lato-Italic.woff") format("woff"),
//     /* Pretty Modern Browsers */
//     url("../fonts/default/Lato-Bold.woff") format("woff"),
//     /* Pretty Modern Browsers */
//     url("../fonts/default/Lato-Regular.ttf") format("truetype"),
//     /* Safari, Android, iOS */
//     url("../fonts/default/Lato-Light.ttf") format("truetype"),
//     /* Safari, Android, iOS */
//     url("../fonts/default/Lato-Italic.ttf") format("truetype"),
//     /* Safari, Android, iOS */
//     url("../fonts/default/Lato-Bold.ttf") format("truetype"),
//     /* Safari, Android, iOS */
//     url("../fonts/default/Lato-Regular.svg#svgFontName") format("svg"),
//     /* Legacy iOS */
//     url("../fonts/default/Lato-Light.svg#svgFontName") format("svg"),
//     /* Legacy iOS */
//     url("../fonts/default/Lato-Italic.svg#svgFontName") format("svg"),
//     /* Legacy iOS */
//     url("../fonts/default/Lato-Bold.svg#svgFontName") format("svg");
//   /* Legacy iOS */
// }

.logo {
  // background-image: url("../img/data.stack_appcenter_dark_optimized.svg");
  background-image: url("../img/logo_default.svg");
  background-size: contain;
  background-position: center;
}

.logo-white {
  background-image: url("../img/logo_white.svg");
  background-size: contain;
  background-position: center;
}

.powered-by {
  // background-image: url("../img/data.stack_appcenter_powered_by.svg");
  background-image: url("../img/powered-by.svg");
  background-size: contain;
  background-position: center;
}

.login-img {
  background: url("../img/developer.svg");
}

.no-service-img {
  background: url("../img/no_services.svg");
}

.no-records-img {
  background: url("../img/no_records.svg");
  width: 340px;
  height: 340px;
}

.group-icon {
  background: url("../img/group-icon.svg");
  width: 340px;
  height: 340px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.azure-loader {
  background: url("../img/Loader.svg");
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
  background-position: center;
  animation: rotate 1s steps(16, end) infinite;
}

.font-lg {
  font-size: 16px !important;
}

.font-sm {
  font-size: 13px !important;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(#000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: 0.25s;
}

.btn-min-width {
  min-width: 120px !important;
}

.hover {
  cursor: pointer;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.default-loader {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
}

th,
td {
  .col-4 {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}

#toast-container .toast {
  box-shadow: none !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.error-messages {
  min-height: 0px;
  transform: 0.25s;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  position: absolute;
  visibility: hidden;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: $primary;
}

input:focus+.slider {
  box-shadow: 0 0 1px $primary;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.upload-icon {
  background: url("../img/upload-icon.svg");
}

.ic-upload-m {
  background: url("../img/ic-upload-m.svg");
}

.fileTypeIcon {
  background: url("../img/fileType.svg");
}

.objIcon {
  background: url("../img/objIcon.svg");
}

.objIcon1 {
  background: url("../img/objIcon1.svg");
}

/* width */
// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
//   border-radius: 5px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $primary;
// }