<input *ngIf="(type==='String' && !longText && !richText || type==='Identifier')" type="text" class="border rounded bg-white w-100" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
<input *ngIf="type==='Number'" type="number" class="border rounded bg-white w-100" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
<input *ngIf="type==='File'" type="text" class="border rounded bg-white w-100" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
<input *ngIf="type==='Geojson'" type="text" class="border rounded bg-white w-100" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
<input *ngIf="type==='Date'" type="date" max="9999-12-31" class="border rounded bg-white w-100" [(ngModel)]="value" (change)="onChange($event.target.value)">
<input *ngIf="type==='Relation'" type="text" class="border rounded bg-white w-100" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
<input *ngIf="type==='User'" type="text" class="border rounded bg-white w-100" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
<select *ngIf="type==='Boolean'" class="border rounded bg-white w-100" [(ngModel)]="value" (ngModelChange)="onChange($event)">
  <option value = "">--All--</option>
  <option value = "true">Yes</option>
  <option value = "false">No</option>
</select>
