.field-wrapper{
    min-height: 22px;
    .label-wrapper{
        .label-width{
            min-width: 150px;
            max-width: 150px;
            .text{
                max-width: 170px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .input-wrapper{
            min-width: 300px;
            max-width: 300px;
    }
}
.map{
    min-width: 400px;
    max-width: 400px;
    min-height: 280px;
    max-height: 280px;
}