<div class="d-flex align-items-center row-content">
  <!-- <div class="fas fa-bars text-muted mr-2 hover"></div> -->
  <div class="input-group col-name-dd mr-4 d-flex flex-column">
    <label class="font-14 fw-400 text-dark" *ngIf="index === 0">Columns</label>
    <select placeholder="Select" class="custom-select w-100 border-6" [(ngModel)]="filterModel.dataKey"
      (change)="onFieldChange()">
      <option *ngFor="let col of allFields;" [value]="col.dataKey">
        {{ col.properties.label ? col.properties.label : col.properties.name }}</option>
    </select>
  </div>
  <div class="input-group col-name-dd mr-4 d-flex flex-column">
    <label class="font-14 fw-400 text-dark" *ngIf="index === 0">Condition</label>
    <select placeholder="Select" #filterTypeEle class="custom-select w-100 border-6"
      [(ngModel)]="filterModel.filterType" (change)="valueChange()">
      <option *ngFor="let option of filterTypeOptions" [value]="option.value">
        {{option.name}}
      </option>
    </select>
  </div>
  <div class="input-group col-name-dd mr-4 d-flex flex-column">
    <label class="font-14 fw-400 text-dark" *ngIf="index === 0">Value</label>
    <!-- <div class="options-dd d-flex align-items-center text-primary position-relative">
      <select placeholder="Select" #filterTypeEle [(ngModel)]="filterModel.filterType" (change)="valueChange()">
        <option *ngFor="let option of filterTypeOptions" [value]="option.value">
          {{option.name}}
        </option>
      </select>
    </div> -->
    <ng-container *ngIf="selectedFieldType !== 'Date' && selectedFieldType !== 'Boolean'">
      <input *ngIf="selectedFieldType !== 'Number'" type="text" class="w-100 p-2 filter-txt border border-6"
        [(ngModel)]="filterModel.filterValue" (change)="valueChange()">
      <input *ngIf="selectedFieldType === 'Number' && filterModel.filterType !== 'inRange'" type="number"
        class="w-100 p-2 filter-txt border border-6" [(ngModel)]="filterModel.filterValue" (change)="valueChange()">
    </ng-container>
    <input *ngIf="selectedFieldType === 'Boolean'" type="text"
      class="w-100 p-2 filter-txt-disabled text-secondary border border-6" [value]="filterTypeEle.value" disabled>
    <div *ngIf="selectedFieldType === 'Date'" class="d-flex align-items-center w-100">
      <div class="d-flex align-items-center mr-3 w-50 h-100 px-2 bg-white"
        [ngClass]="{'date-picker-from': filterModel.filterType === 'inRange'}"
        (click)="toggleFromDate = true; toggleToDate = false; $event.stopPropagation();">
        <div class="d-flex align-items-center">
          <span class="fa fa-calendar mr-2 text-primary"></span>
          <span class="text-primary">{{ filterModel.filterType === 'inRange' ? 'From' : 'Date' }}</span>
        </div>
        <span class="timestamp  ml-auto mr-auto" *ngIf="dateFieldType === 'date'">{{ startDate ? ( startDate |
          date: 'd MMM y') : '' }}</span>
        <span class="timestamp font-xs ml-auto mr-auto" *ngIf="dateFieldType === 'date-time'">{{ startDate ? ( startDate
          | date: 'd MMM y, HH:mm:ss') : '' }}</span>
        <span class="fas fa-angle-down text-primary"></span>
        <div class="position-absolute">
          <odp-date-picker *ngIf="toggleFromDate" [togglePicker]="toggleFromDate"
            (togglePickerChange)="toggleFromDate = $event" [from]="startDate" (fromChange)="setStartDate($event)"
            [options]="{floating:true,buttons:true,type:dateFieldType}">
          </odp-date-picker>
        </div>
      </div>
      <div *ngIf="filterModel.filterType === 'inRange'"
        class="date-picker d-flex align-items-center w-50 h-100 px-2 bg-white"
        (click)="toggleToDate = true; toggleFromDate = false; $event.stopPropagation();">
        <div class="d-flex align-items-center">
          <span class="fa fa-calendar mr-2 text-primary"></span>
          <span class="text-primary">To</span>
        </div>
        <span class="timestamp  ml-auto mr-auto" *ngIf="dateFieldType === 'date'">{{ endDate ? (endDate | date:
          'd MMM y') : '' }}</span>
        <span class="timestamp font-xs ml-auto mr-auto" *ngIf="dateFieldType === 'date-time'">{{ endDate ? (endDate |
          date: 'd MMM y, HH:mm:ss') : '' }}</span>
        <span class="fas fa-angle-down text-primary"></span>
        <div class="position-absolute">
          <odp-date-picker *ngIf="toggleToDate" [togglePicker]="toggleToDate"
            (togglePickerChange)="toggleToDate = $event" [from]="endDate" (fromChange)="setEndDate($event)"
            [options]="{floating:true,buttons:true,type: dateFieldType}">
          </odp-date-picker>
        </div>
      </div>
    </div>
    <div *ngIf="selectedFieldType === 'Number' && filterModel.filterType === 'inRange'"
      class="d-flex align-items-center w-100">
      <input type="number" placeholder="From" style="border-right: 1px solid #bdbdbd !important"
        class="w-50 p-2 filter-txt border border-6" [(ngModel)]="fromNumber" (blur)="fromNumberChange()">
      <input type="number" placeholder="To" class="w-50 p-2 filter-txt border border-6" [(ngModel)]="toNumber"
        (blur)="toNumberChange()">
    </div>
  </div>
</div>