@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";


.app-switcher-window {
  min-width: 260px;
  max-width: 260px;
  min-height: 320px;
  max-height: 460px;
  position: fixed;
  z-index: 2;
  top: 50px;
  right: 80px;
  background: $white;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba($color: #000, $alpha: 0.4);

  .app-card {
    // &.active {
    //   .app-thumbnail {
    //     border-color: rgba($primary, 0.5);
    //   }
    // }

    &:hover {
      background: $light;
    }

    .app-thumbnail {
      min-width: 32px;
      max-width: 32px;
      min-height: 32px;
      max-height: 32px;
      border-radius: 6px;
      overflow: hidden;
      transition: 0.25s;
      outline: 0;

      img {
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
      }
    }

    .app-name {
      max-width: 150px;
      word-break: break-all;
    }
  }
}

.srch-pos {
  right: 16px;
  pointer-events: none;
}