.version-control {
    // background: #FFECB3;
    min-width: 300px;
}

.field-wrapper {
    min-width: 300px;
    max-width: 300px;

}

.eyeIcon {
    right: 1% !important;
    top: 5px !important;
}