<ng-container *ngIf="controlType!=='object'">
  <div class="version-control">
    <ng-container *ngIf="type == 'password'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text-secondary mr-2">From</span>
          <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:oldVal,type:'from'}">
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span><br>
          <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal,type:'to'}">
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text-secondary">Created&nbsp;</span><br>
          <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal,type:'to'}">
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='text'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text-secondary">From&nbsp;</span><br>
          <span *ngIf="oldVal?.length==0 || oldVal==null " class="text-secondary">No Items&nbsp;</span>
          <ng-container *ngFor="let data of oldVal">
            <span>{{data}}</span><br>
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span><br>
          <span *ngIf="newVal?.length==0 || newVal ==null" class="text-secondary">No Items&nbsp;</span>
          <ng-container *ngFor="let data of newVal">
            <span>{{data}}</span><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text-secondary">Created&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <span>{{data}}</span><br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='boolean'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text-secondary">From&nbsp;</span><br>
          <span *ngIf="oldVal?.length==0 || oldVal == null" class="text-secondary">No Items&nbsp;</span>
          <ng-container *ngFor="let data of oldVal">
            <span *ngIf="data==true">yes</span>
            <span *ngIf="data==false">No</span><br>
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span><br>
          <span *ngIf="newVal?.length==0 || newVal == null" class="text-secondary">No Items&nbsp;</span>
          <ng-container *ngFor="let data of newVal">
            <span *ngIf="data==true">yes</span>
            <span *ngIf="data==false">No</span><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text-secondary">Created&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <span *ngIf="data==true">yes</span>
            <span *ngIf="data==false">No</span><br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='textarea'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="tex text-secondary">From&nbsp;</span><br>
          <span *ngIf="oldVal?.length==0 || oldVal == null" class="text-secondary">No Items&nbsp;</span>

          <ng-container *ngFor="let data of oldVal">
            <span class="old" [innerHTML]="data"></span><br>
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text text-secondary">To&nbsp;</span><br>
          <span *ngIf="newVal?.length==0 || newVal == null" class="text-secondary">No Items&nbsp;</span>
          <ng-container *ngFor="let data of newVal">
            <span class="old" [innerHTML]="data"></span><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text text-secondary">Created&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <span class="old" [innerHTML]="data"></span><br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='relation'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text text-secondary">From &nbsp;</span><br>
          <span *ngIf="oldVal?.length==0 || oldVal == null" class="text-secondary">No Items&nbsp;</span>
          <ng-container *ngFor="let data of oldVal">
            <span class="old">
              <a target="_blank" [routerLink]="['/', currentAppId ,definition.properties.relatedTo,'view',data._id]"
                class="text-danger">{{data._id}}</a>
            </span><br>
          </ng-container>

        </div>
        <div class="text-success p-3">
          <span class="text text-secondary">To&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <span class="new">
              <a target="_blank" [routerLink]="['/', currentAppId ,definition.properties.relatedTo,'view',data._id]"
                class="text-success">{{data._id}}</a>
            </span><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text text-secondary">Created&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <span class="old">
              <a target="_blank" class="text-success"
                [routerLink]="['/', currentAppId ,definition.properties.relatedTo,'view',data._id]">{{data._id}}</a>
            </span><br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='number'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text-secondary">From&nbsp;</span>
          <br>
          <span *ngIf="oldVal?.length==0 || oldVal== null" class="text-secondary">No Items&nbsp;</span>

          <ng-container *ngFor="let value of oldVal">
            <ng-container *ngIf="definition.properties.currency">
              <span class="mr-2">
                <ng-container *ngIf="definition.properties.currency=='INR'">&#8377;</ng-container>
                <ng-container *ngIf="definition.properties.currency=='EUR'">&#8364;</ng-container>
                <ng-container *ngIf="definition.properties.currency=='USD'">&#36;</ng-container>
              </span>
              <span class="text">{{value|number:'1.2'}}</span>
            </ng-container>
            <span class="text" *ngIf="!definition.properties.currency">{{value}}</span><br>
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span>
          <br>
          <span *ngIf="newVal?.length==0 || newVal==null" class="text-secondary">No Items&nbsp;</span>

          <ng-container *ngFor="let value of newVal">
            <ng-container *ngIf="definition.properties.currency">
              <span class="mr-2">
                <ng-container *ngIf="definition.properties.currency=='INR'">&#8377;</ng-container>
                <ng-container *ngIf="definition.properties.currency=='EUR'">&#8364;</ng-container>
                <ng-container *ngIf="definition.properties.currency=='USD'">&#36;</ng-container>
              </span>
              <span class="text">{{value|number:'1.2'}}</span>
            </ng-container>
            <span class="text" *ngIf="!definition.properties.currency">{{value}}</span><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text-secondary">Created&nbsp;</span>
          <br>
          <ng-container *ngFor="let value of newVal">
            <ng-container *ngIf="definition.properties.currency">
              <span class="mr-2">
                <ng-container *ngIf="definition.properties.currency=='INR'">&#8377;</ng-container>
                <ng-container *ngIf="definition.properties.currency=='EUR'">&#8364;</ng-container>
                <ng-container *ngIf="definition.properties.currency=='USD'">&#36;</ng-container>
              </span>
              <span class="text">{{value|number:'1.2'}}</span>
            </ng-container>
            <span class="text" *ngIf="!definition.properties.currency">{{value}}</span><br>
            <br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='date'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text-secondary">From&nbsp;</span>
          <span *ngIf="oldVal?.length==0 || oldVal== null " class="text-secondary">No Items&nbsp;</span>

          <ng-container *ngFor="let data of oldVal">
            <span
              *ngIf="definition.properties.dateType=='datetime-local'">{{data | date: 'dd-MMM-yyyy hh:mm:ss a'}}</span>
            <span *ngIf="definition.properties.dateType=='date'">{{data | date: 'dd-MMM-yyyy'}}</span><br>
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span><br>
          <span *ngIf="newVal?.length==0 || oldVal == null " class="text-secondary">No Items&nbsp;</span>

          <ng-container *ngFor="let data of newVal">
            <span
              *ngIf="definition.properties.dateType=='datetime-local'">{{data | date: 'dd-MMM-yyyy hh:mm:ss a'}}</span>
            <span *ngIf="definition.properties.dateType=='date'">{{data | date: 'dd-MMM-yyyy'}}</span><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text-secondary">Created&nbsp;</span>
          <br>
          <ng-container *ngFor="let data of newVal">
            <span
              *ngIf="definition.properties.dateType=='datetime-local'">{{data | date: 'dd-MMM-yyyy hh:mm:ss a'}}</span>
            <span *ngIf="definition.properties.dateType=='date'">{{data | date: 'dd-MMM-yyyy'}}</span><br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='file'">
      <ng-container *ngIf="isUpdated ">
        <div class="text-danger p-3">
          <span class="text-secondary">From&nbsp;</span><br>
          <span *ngIf="oldVal?.length==0 || oldVal == null" class="text-secondary">No Items&nbsp;</span>

          <ng-container *ngFor="let data of oldVal">
            <button class="btn btn-link text-danger"
              (click)="downloadFile(data.filename)">{{data?.metadata?.filename}}</button><br>
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span><br>
          <span *ngIf="newVal?.length==0 || newVal == null" class="text-secondary">No Items&nbsp;</span>

          <ng-container *ngFor="let data of newVal">
            <button class="btn btn-link text-success"
              (click)="downloadFile(data.filename)">{{data?.metadata?.filename}}</button><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text-secondary">Created &nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <button class="btn btn-link text-success" (click)="downloadFile(data.filename)">{{data?.metadata?.filename}}
            </button><br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='Geojson'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text-secondary">From&nbsp;</span><br>
          <ng-container *ngFor="let data of oldVal">
            <div class="d-flex">
              <div class="d-flex ">
                <div class="field-wrapper d-flex align-items-start mt-3">
                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.userInput" class=" p-2 mt-2 history-value">
                      {{data.userInput}}
                    </div>
                    <div *ngIf="!data.userInput" class=" p-2 mt-2 history-value">
                      --
                    </div>
                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">
                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.formattedAddress" class=" p-2 mt-2 history-value">
                      {{data.formattedAddress}}
                    </div>
                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data?.town" class=" p-2 mt-2 history-value">
                      {{data?.town}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data?.state" class=" p-2 mt-2 history-value">
                      {{data?.state}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.country" class=" p-2 mt-2 history-value">
                      {{data?.country}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data.pincode" class=" p-2 mt-2 history-value">
                      {{data.pincode}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data?.geometry?.coordinates[1]" class=" p-2 mt-2 history-value">
                      {{data?.geometry?.coordinates[1]}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data?.geometry?.coordinates[0]" class=" p-2 mt-2 history-value">
                      {{data?.geometry?.coordinates[0]}}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <div class="d-flex">
              <div class="d-flex ">
                <div class="field-wrapper d-flex align-items-start mt-3">
                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.userInput" class=" p-2 mt-2 history-value">
                      {{data.userInput}}
                    </div>
                    <div *ngIf="!data.userInput" class=" p-2 mt-2 history-value">
                      --
                    </div>
                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">
                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.formattedAddress" class=" p-2 mt-2 history-value">
                      {{data.formattedAddress}}
                    </div>
                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data?.town" class=" p-2 mt-2 history-value">
                      {{data?.town}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data?.state" class=" p-2 mt-2 history-value">
                      {{data?.state}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.country" class=" p-2 mt-2 history-value">
                      {{data?.country}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data.pincode" class=" p-2 mt-2 history-value">
                      {{data.pincode}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data?.geometry?.coordinates[1]" class=" p-2 mt-2 history-value">
                      {{data?.geometry?.coordinates[1]}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data?.geometry?.coordinates[0]" class=" p-2 mt-2 history-value">
                      {{data?.geometry?.coordinates[0]}}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </ng-container>
      <ng-container *ngIf="isCreated ">
        <div class="text-success  p-2 mb-3">
          <span class="text-secondary">Created&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <div class="d-flex">
              <div class="d-flex ">
                <div class="field-wrapper d-flex align-items-start  mt-3">
                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.userInput" class="text-success p-2 mt-2 history-value">
                      {{data.userInput}}
                    </div>
                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start  mt-3">
                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.formattedAddress" class="text-success p-2 mt-2 history-value">
                      {{data.formattedAddress}}
                    </div>
                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start  mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data?.town" class="text-success p-2 mt-2 history-value">
                      {{data?.town}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start  mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data?.state" class="text-success p-2 mt-2 history-value">
                      {{data?.state}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start  mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data.country" class="text-sucess p-2 mt-2 history-value">
                      {{data?.country}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start  mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data.pincode" class="text-sucess p-2 mt-2 history-value">
                      {{data.pincode}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start  mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">
                    <div *ngIf="data?.geometry?.coordinates[1]" class="text-success p-2 mt-2 history-value">
                      {{data?.geometry?.coordinates[1]}}
                    </div>

                  </div>
                </div>
                <div class="field-wrapper d-flex align-items-start  mt-3">

                  <div class="d-flex flex-column font-weight-bold input-wrapper">

                    <div *ngIf="data?.geometry?.coordinates[0]" class="text-success p-2 mt-2 history-value">
                      {{data?.geometry?.coordinates[0]}}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='Object'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text-secondary">From&nbsp;</span>
          <div class="d-flex flex-column pt-3">
            <div class="d-flex" *ngFor="let val of oldVal;">
              <ng-container *ngFor="let def of definitionList;let i=index">
                <div class="array-control-wrapper">
                  <odp-view-separator [definition]="getDefinitionWithValue(def,val,i)" [value]="val">
                  </odp-view-separator>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="text-success p-3">
          <span class="text-secondary">To&nbsp;</span>
          <div class="d-flex flex-column pt-3">
            <span *ngIf="newVal?.length==0 || newVal == null" class="text-secondary">No Items&nbsp;</span>
            <div class="d-flex" *ngFor="let val of newVal;">
              <ng-container *ngFor="let def of definitionList;let i= index">
                <div class="array-control-wrapper">
                  <odp-view-separator [definition]="getDefinitionWithValue(def,val,i)" [value]="val">
                  </odp-view-separator>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="isCreated">
        <div class=" p-3">
          <span class="text-secondary  mb-3">Created&nbsp;</span><br>
          <div class="d-flex flex-column pt-3">
            <div class="d-flex" *ngFor="let val of newVal;">
              <ng-container *ngFor="let def of definitionList;let i =index">
                <div class="array-control-wrapper">
                  <odp-view-separator [definition]="getDefinitionWithValue(def,val,i)" [value]="val">
                  </odp-view-separator>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type=='User'">
      <ng-container *ngIf="isUpdated">
        <div class="text-danger p-3">
          <span class="text text-secondary">From &nbsp;</span><br>
          <span *ngIf="oldVal?.length==0 || oldVal == null" class="text-secondary">No Items&nbsp;</span>
          <ng-container *ngFor="let data of oldVal">
            <span class="old">
              <a class="text-danger">{{data._id}}</a>
            </span><br>
          </ng-container>

        </div>
        <div class="text-success p-3">
          <span class="text text-secondary">To&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <span class="new">
              <a class="text-success">{{data._id}}</a>
            </span><br>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isCreated">
        <div class="text-success  p-2 mb-3">
          <span class="text text-secondary">Created&nbsp;</span><br>
          <ng-container *ngFor="let data of newVal">
            <span class="old">
              <a class="text-success">{{data._id}}</a>
            </span><br>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #values let-definition="definition" let-values="value" let-type="type">

    <ng-container *ngFor="let value of values;let i = index">
      <br>

      <ng-container *ngIf="(value && value.value) || isCollectionSecureRichLongText">
        <ng-container *ngIf="!showPassword[i+type]">
          **********
        </ng-container>
        <ng-container *ngIf="showPassword[i+type]">
          <span *ngIf="definition.properties?.richText" [innerHTML]="decryptedVal[i+type]"></span>
          <span *ngIf="!definition.properties?.richText"> {{decryptedVal[i+type]}} </span>
        </ng-container>
        <button type="button" class="btn btn-sm btn-link p-0 ml-2" (click)="showDecryptedValue(value,i,type)">
          <span class='fas' [ngClass]="{'fa-eye': !showPassword[i+type], 'fa-eye-slash': showPassword[i+type]}"></span>
          <!-- {{showPassword[i+type]?'Hide':'Show'}} -->
        </button>
      </ng-container>
      <span *ngIf="!value || (!value?.value && !isCollectionSecureRichLongText)" class="text-muted">N.A.</span>

    </ng-container>
  </ng-template>
</ng-container>

<ng-container *ngIf="controlType==='object'">
  <div class="version-control">
    <ng-container *ngIf="isUpdated">
      <div class="text-danger p-3">
        <span class="text-secondary">From&nbsp;</span>
        <div class="d-flex flex-column pt-3">
          <odp-view-collection-of-objects-grid *ngIf="oldVal" [collectionFieldName]="collectionFieldName"
            [definition]="definition" [historyMode]="'old'" [oldValue]="oldVal" [workflowDoc]="workflowDoc">
          </odp-view-collection-of-objects-grid>
        </div>
      </div>
      <div class="text-success p-3">
        <span class="text-secondary">To&nbsp;</span>
        <div class="d-flex flex-column pt-3">
          <odp-view-collection-of-objects-grid *ngIf="newVal" [collectionFieldName]="collectionFieldName"
            [definition]="definition" [historyMode]="'new'" [newValue]="newVal" [workflowDoc]="workflowDoc">
          </odp-view-collection-of-objects-grid>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isCreated">
      <div class=" p-3">
        <span class="text-secondary  mb-3">Created&nbsp;</span><br>
        <div class="d-flex flex-column pt-3">
          <odp-view-collection-of-objects-grid *ngIf="newVal" [collectionFieldName]="collectionFieldName"
            [definition]="definition" [historyMode]="'new'" [newValue]="newVal" [workflowDoc]="workflowDoc">
          </odp-view-collection-of-objects-grid>
        </div>
      </div>
    </ng-container>
  </div>

</ng-container>