<div class="p-3">
    <div class="header p-3 d-flex align-items-center justify-content-between bg-white rounded mb-3">
        <button type="button" class="btn btn-link d-flex align-items-center p-0" routerLink="../">
            <span class="dsi dsi-arrow-left mr-2"></span>
            <span class="text">Back</span>
        </button>
        <div class="d-flex align-items-center font-13">
            <span class="text-secondary mr-1">Remote Txn ID:</span>
            <span class="text-dark">{{interactionData?.headers['data-stack-remote-txn-id']}}</span>
        </div>
        <div class="d-flex align-items-center font-13">
            <span class="text-secondary mr-1">Txn ID:</span>
            <span class="text-dark">{{interactionData?.headers['data-stack-txn-id']}}</span>
        </div>
        <!-- <div class="d-flex align-items-center font-13">
            <span class="text-secondary mr-1">Status:</span>
            <span class="text fw-500" [ngClass]="getStatusClass(interactionData)">{{interactionData?.status}}</span>
        </div> -->
        <div class="badge p-2" [ngClass]="getStatusBadgeClass(interactionData)">{{interactionData?.status}}</div>
    </div>
    <odp-flow-node-view *ngIf="flowData && flowData.inputNode" [currNode]="flowData.inputNode"
        [stateList]="interactionStateList" [flowData]="flowData">
    </odp-flow-node-view>
</div>