<div class="p-4">
    <div class="title-bar d-flex align-items-center py-3">
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-link d-flex align-items-center p-0" routerLink="../">
                <span class="dsi dsi-arrow-left mr-2"></span>
                <!-- <span class="text">Back</span> -->
            </button>
            <span class="text-dark font-24 fw-600">{{interactionData?._id}}</span>
            <div class="status-badge font-11 bg-transparent border border-{{getStatusClassSuffix(interactionData)}} text-{{getStatusClassSuffix(interactionData)}} px-2 ml-3">{{interactionData?.status}}</div>
        </div>
    </div>
    <div class="header p-3 d-flex align-items-center justify-content-between bg-white rounded my-3">
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">Remote Txn ID</span>
            <span class="font-12 fw-500 text-dark">{{interactionData?.headers['data-stack-remote-txn-id']}}</span>
        </div>
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">Txn ID</span>
            <span class="font-12 fw-500 text-dark">{{interactionData?.headers['data-stack-txn-id']}}</span>
        </div>
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">Start Time</span>
            <span class="font-12 fw-500 text-dark">{{interactionData?._metadata.createdAt | date:'dd MMM YY, HH:mm:ss'}}</span>
        </div>
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">End Time</span>
            <span class="font-12 fw-500 text-dark">{{interactionData?._metadata.lastUpdated | date:'dd MMM YY, HH:mm:ss'}}</span>
        </div>
        <div class="d-flex flex-column align-items-start font-13">
            <span class="font-11 fw-500 text-secondary mr-1">Duration</span>
            <span class="font-12 fw-500 text-dark">{{getDuration(interactionData?._metadata?.createdAt,interactionData?._metadata?.lastUpdated)}}</span>
        </div>
    </div>
    <div class="content d-flex align-items-start bg-white rounded">
        <div class="side-nav content-height border-right">
            <ng-container *ngIf="flowData && flowData.inputNode">
                <ng-template *ngTemplateOutlet="nodeList;context:{node:flowData.inputNode}"></ng-template>
            </ng-container>
        </div>
        <div class="body content-height w-100">
            <odp-flow-node-view *ngIf="flowData && flowData.inputNode" [currNode]="flowData.inputNode"
                [stateList]="interactionStateList" [flowData]="flowData" [selectedNodeId]="selectedNodeId">
            </odp-flow-node-view>
        </div>
    </div>
</div>

<ng-template #nodeList let-node="node">
    <div class="node-list-item p-3 d-flex align-items-center hover" (click)="selectedNodeId=node._id"
        [ngClass]="{'border-primary':selectedNodeId==node._id}">
        <div class="d-flex align-items-center">
            <ng-container *ngIf="node.type=='FILE'">
                <span class="node-icon dsi dsi-file"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">File
                    Agent</span>
            </ng-container>
            <ng-container *ngIf="node.type=='API' && node?.options?.path">
                <span class="node-icon dsi dsi-api-reciever"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">API
                    Reciever</span>
            </ng-container>
            <ng-container *ngIf="node.type=='API' && node?.options?.url">
                <span class="node-icon dsi dsi-invoke-api"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Invoke
                    API</span>
            </ng-container>
            <ng-container *ngIf="node.type=='TIMER'">
                <span class="node-icon dsi dsi-clock"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Timer</span>
            </ng-container>
            <ng-container *ngIf="node.type=='CONNECTOR'">
                <span class="node-icon dsi dsi-connector"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Connector</span>
            </ng-container>
            <ng-container *ngIf="node.type=='DATASERVICE'">
                <span class="node-icon dsi dsi-data-service"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Data
                    Service</span>
            </ng-container>
            <ng-container *ngIf="node.type=='FUNCTION'">
                <span class="node-icon dsi dsi-function"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Function</span>
            </ng-container>
            <ng-container *ngIf="node.type=='MAPPING'">
                <span class="node-icon dsi dsi-mapping"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Mapping</span>
            </ng-container>
            <ng-container *ngIf="node.type=='UNWIND'">
                <span class="node-icon dsi dsi-expand"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Change
                    Root</span>
            </ng-container>
            <ng-container *ngIf="node.type=='RESPONSE'">
                <span class="node-icon dsi dsi-response"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Response</span>
            </ng-container>
        </div>
    </div>
    <ng-container *ngFor="let next of node.onSuccess">
        <ng-template *ngTemplateOutlet="nodeList;context:{node:getNextNode(next)}"></ng-template>
    </ng-container>
</ng-template>