<div class="p-4">
    <div class="title-bar d-flex align-items-center py-3">
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-link d-flex align-items-center p-0" routerLink="../">
                <span class="dsi dsi-arrow-left mr-2"></span>
                <!-- <span class="text">Back</span> -->
            </button>
            <span class="text-dark font-24 fw-600">{{interactionData?._id}}</span>
            <div
                class="status-badge font-11 bg-transparent border border-{{getStatusClassSuffix(interactionData)}} text-{{getStatusClassSuffix(interactionData)}} px-2 ml-3">
                {{interactionData?.status}}</div>
        </div>
    </div>
    <div class="header p-3 d-flex align-items-center justify-content-between bg-white rounded my-3">
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">Remote Txn ID</span>
            <span class="font-12 fw-500 text-dark">{{interactionData?.headers['data-stack-remote-txn-id']}}</span>
        </div>
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">Txn ID</span>
            <span class="font-12 fw-500 text-dark">{{interactionData?.headers['data-stack-txn-id']}}</span>
        </div>
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">Start Time</span>
            <span class="font-12 fw-500 text-dark">
                {{interactionData?._metadata?.createdAt | date:'dd MMM YY, HH:mm:ss'}}
            </span>
        </div>
        <div class="d-flex flex-column align-items-start font-13 mr-3">
            <span class="font-11 fw-500 text-secondary mr-1">End Time</span>
            <span class="font-12 fw-500 text-dark">
                {{interactionData?._metadata?.lastUpdated | date:'dd MMM YY, HH:mm:ss'}}
            </span>
        </div>
        <div class="d-flex flex-column align-items-start font-13">
            <span class="font-11 fw-500 text-secondary mr-1">Duration</span>
            <span
                class="font-12 fw-500 text-dark">{{getDuration(interactionData?._metadata?.createdAt,interactionData?._metadata?.lastUpdated)}}</span>
        </div>
    </div>
    <div class="content d-flex align-items-start bg-white rounded">
        <div class="side-nav content-height border-right">
            <!-- <ng-container *ngIf="flowData && flowData.inputNode">
                <ng-template *ngTemplateOutlet="nodeListTemplate;context:{node:flowData.inputNode}"></ng-template>
            </ng-container> -->
            <ng-container *ngIf="nodeList && nodeList.length > 0">
                <ng-container *ngFor="let node of nodeList">
                    <ng-template *ngTemplateOutlet="nodeListTemplate;context:{node:node}"></ng-template>
                </ng-container>
            </ng-container>
        </div>
        <div class="body content-height w-100">
            <ng-container *ngFor="let node of nodeList">
                <odp-flow-node-view *ngIf="selectedNodeId == node._id" [node]="node" [flowData]="flowData">
                </odp-flow-node-view>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #nodeListTemplate let-node="node">
    <div *ngIf="hasExecuted(node._id)" class="node-list-item p-3 d-flex flex-column align-items-start hover"
        (click)="selectedNodeId=node._id" [ngClass]="{'border-primary':selectedNodeId==node._id}">
        <div class="d-flex align-items-center">
            <ng-container *ngIf="node.type=='FILE'">
                <span class="node-icon dsi dsi-file"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">File
                    Agent</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='API' && node?.options?.path">
                <span class="node-icon dsi dsi-api-reciever"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">API
                    Reciever</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='API' && node?.options?.url">
                <span class="node-icon dsi dsi-invoke-api"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">
                    Invoke API
                </span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='TIMER'">
                <span class="node-icon dsi dsi-clock"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Timer</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='CONNECTOR'">
                <span class="node-icon dsi dsi-connector"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Connector</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='CODEBLOCK'">
                <span class="node-icon dsi dsi-object"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Code
                    Block</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='DATASERVICE'">
                <span class="node-icon dsi dsi-data-service"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Data
                    Service</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='FUNCTION'">
                <span class="node-icon dsi dsi-function"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Function</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='MAPPING'">
                <span class="node-icon dsi dsi-mapping"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Mapping</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='CONVERT_JSON_JSON'">
                <span class="node-icon dsi dsi-refresh text-secondary"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Converter</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='UNWIND'">
                <span class="node-icon dsi dsi-expand"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Change
                    Root</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
            <ng-container *ngIf="node.type=='RESPONSE'">
                <span class="node-icon dsi dsi-response"></span>
                <span class="ml-3 font-14"
                    [ngClass]="{'fw-600 text-dark':selectedNodeId==node._id,'fw-400 text-secondary':selectedNodeId!=node._id}">Response</span>
                <span *ngIf="!hasError(node._id) && hasExecuted(node._id)"
                    class="dsi dsi-done text-success ml-2"></span>
                <span *ngIf="hasError(node._id)" class="dsi dsi-danger-circle text-danger ml-2"></span>
            </ng-container>
        </div>
        <div *ngIf="node.name" class="d-flex font-11 fw-400 text-grey mt-2 ml-34">{{node.name}}</div>
    </div>
    <!-- <ng-container *ngFor="let next of node.onSuccess">
        <ng-template *ngTemplateOutlet="nodeList;context:{node:getNextNode(next)}"></ng-template>
    </ng-container> -->
</ng-template>