<!-- <div class="search-control position-relative border-right">
    <span class="fa fa-search position-absolute"></span>
    <input type="text" class="border-0" placeholder="Search" [(ngModel)]="searchText">
</div> -->
<div class="menu-list-item d-flex align-items-center text-secondary" (click)="loadWorkflowOverview()"
    *ngIf="records.length>0">
    All Records - Workflow
</div>
<ng-container *ngFor=" let item of records | serviceSearch:searchText">
    <div *ngIf="item?.name" class="menu-list-item d-flex align-items-center justify-content-between"
        (click)="loadWorkflow(item, true)"
        [ngClass]="{'text-dark':item?._id === activeId,'text-secondary':item?._id !== activeId}">
        <div class="d-flex align-items-center">
            <!-- <div class="list-item-icon d-flex align-items-center">
                <span class="odp-workflow"></span>
            </div> -->
            <div class="list-item-label d-flex align-items-center text-truncate lh-22" [odpTruncated]="item?.name">
                {{item?.name}}
            </div>
        </div>
        <div class=" d-flex align-items-center justify-content-center mr-4"
            [ngClass]="{'text-dark':item?._id === activeId,'text-secondary':item?._id !== activeId}">
            <small>{{serviceDocsCount[item?._id] || 0}}</small>
        </div>
    </div>
</ng-container>
<div *ngIf="!records || records.length==0"
    class="menu-list-item d-flex align-items-center justify-content-between text-secondary">
    <div class="d-flex align-items-center">
        <div class="list-item-label d-flex align-items-center text-muted pl-2 font-11 fw-500">NO RECORDS</div>
    </div>
</div>