.service-overview-page {
  min-height: calc(100vh - 40px);

  .ds-item {
    min-height: 164px;
    max-height: 164px;
    width: 266px !important;
    margin: 16px 16px 0 0;
    cursor: pointer;

    &:hover {
      border: 1px solid #ECECEC;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    .last-updated {
      margin-top: 6px;
    }

    .ds-info {
      margin-top: 20px;
    }
  }
}