<div class="workflow-wrapper">
    <!-- <div class="header d-flex align-items-center justify-content-between pr-3 bg-light border-bottom w-100">
        <div class="title d-flex align-items-center ml-2">
            <span class="dsi dsi-branch mr-2 text-primary"></span>
            <span class="text m-0 font-weight-bold">Work Items</span>
            <div class="mx-2">
                <span class="text-secondary">/</span>
            </div>
            <div class="text-secondary">{{schema?.name}}</div>
        </div>
        <span class="text text-primary font-weight-bold hover">Refresh</span>
    </div> -->
    <div class="tabs d-flex bg-white align-items-center border-bottom border-top">
        <div class="text-muted py-2 hover border-right sbTabs d-flex justify-content-between"
            (click)="selectOperation(0);" [ngClass]="{'bg-primary text-white':activeTab==0}">
            <div class="d-flex align-items-center mr-1">
                <span class="dsi dsi-plus-circle font-13 mx-2" [ngClass]="{'text-white':activeTab==0}"></span>
                <span class="font-13 ml-1" [ngClass]="{'text-white':activeTab==0}">New Records</span>
            </div>
            <div class="d-flex align-items-center justify-content-center mr-2" [ngClass]="{'text-white':activeTab==0}">
                <small>{{newRecordCount}}</small>
            </div>
        </div>
        <div class="text-muted py-2 hover border-right sbTabs d-flex justify-content-between"
            (click)="selectOperation(1)" [ngClass]="{'bg-primary text-white':activeTab==1}">
            <div class="d-flex align-items-center mr-1">
                <span class="dsi dsi-edit font-13 mx-2 " [ngClass]="{'text-white':activeTab==1}"></span>
                <span class="font-13 ml-1" [ngClass]="{'text-white':activeTab==1}">Updates</span>
            </div>
            <div class="d-flex align-items-center justify-content-center mr-2" [ngClass]="{'text-white':activeTab==1}">
                <small>{{updatedRecordCount}}</small>
            </div>
        </div>
        <div class="text-muted py-2 hover border-right sbTabs d-flex justify-content-between"
            (click)="selectOperation(2)" [ngClass]="{'bg-primary text-white':activeTab==2}">
            <div class="d-flex align-items-center mr-1">
                <span class="dsi dsi-trash font-13 mx-2" [ngClass]="{'text-white':activeTab==2}"></span>
                <span class="font-13 ml-1" [ngClass]="{'text-white':activeTab==2}">Deletes</span>
            </div>
            <div class="d-flex align-items-center justify-content-center mr-2" [ngClass]="{'text-white' :activeTab==2}">
                <small>{{deleteRecordCount}}</small>
            </div>
        </div>
        <div class="text-muted py-2 hover border-right sbTabs d-flex justify-content-between"
            (click)="selectOperation(3)" [ngClass]="{'bg-primary text-white':activeTab==3}">
            <div class="d-flex align-items-center mr-1">
                <span class="dsi dsi-file-text font-13 mx-2" [ngClass]="{'text-white':activeTab==3}"></span>
                <span class="font-13 ml-1" [ngClass]="{'text-white':activeTab==3}">Draft</span>
            </div>
            <div class="d-flex align-items-center justify-content-center mr-2" [ngClass]="{'text-white ':activeTab==3}">
                <small>{{draftRecordCount}}</small>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column">
        <div class="d-flex p-3">
            <div class="d-flex align-items-center justify-content-between">
                <odp-workflow-filter #wfFilter (filterString)="selectSavedView($event)" [serviceId]="srvcId"
                    [allFilters]="allFilters" [dataColumns]="dataColumns" [definition]="schema?.definition"
                    (getAllfilters)="getAllFilters()" (clearFilters)="resetFilter()">
                    <!-- <odp-workflow-filter *ngIf="showfilterOptions" [config]="config" (filterString)="getWFData() ;showfilterOptions = !showfilterOptions" -->
                </odp-workflow-filter>
            </div>

            <div class="d-flex align-items-center justify-content-end hover position-relative ignore-outside ml-auto">
                <div class="d-flex p-2 border bg-white align-items-center ignore-outside rounded font-13"
                    style="height:40px;" (click)="showFilterList=!showFilterList">
                    <div class="ignore-outside d-flex align-items-center">
                        <span class="dsi dsi-search text-secondary mr-2 ignore-outside"
                            *ngIf="!selectedSavedView?.name"></span>
                        <span class="dsi dsi-search text-primary mr-2 ignore-outside"
                            *ngIf="selectedSavedView?.name"></span>
                        <span class="filter-name ignore-outside mr-3"
                            [ngClass]="{'text-primary': selectedSavedView?.name, 'text-secondary': !selectedSavedView?.name}">
                            {{ selectedSavedView?.name ? selectedSavedView?.name : 'All Saved Filters' }}
                        </span>
                    </div>
                    <div class="ml-auto ignore-outside">
                        <span class="dsi dsi-drop-down text-secondary ignore-outside"></span>
                    </div>
                </div>
                <div class="position-absolute filter-list bg-white d-flex flex-column ignore-outside border rounded"
                    *ngIf="showFilterList" odpClickOutside (outside)="showFilterList = false">
                    <div class="py-2 px-3 w-100 text-secondary filter-list-type d-flex align-items-center ignore-outside"
                        [ngClass]="{'border-bottom': !showSearchFilter}">
                        <span class="mr-2 pr-2 border-right ignore-outside hover" *ngIf="!showSearchFilter"
                            (click)="filterAllFilter('public')"
                            [ngClass]="{'text-primary': allFiltersListed}"><strong>Everyone</strong></span>
                        <span *ngIf="!showSearchFilter" class="ignore-outside hover"
                            [ngClass]="{'text-primary': !allFiltersListed}"
                            (click)="filterAllFilter('private')"><strong>Only Me</strong></span>
                        <span class="text-primary fas fa-arrow-left hover ignore-outside" *ngIf="showSearchFilter"
                            (click)="showSearchFilter = false"></span>
                        <div class="ml-auto hover ignore-outside" *ngIf="!showSearchFilter && allFilters.length > 0"
                            (click)="showSearchFilter = true">
                            <span class="dsi dsi-search text-mid-grey ignore-outside"></span>
                        </div>
                        <div class="position-relative ml-3 w-100 ignore-outside" *ngIf="showSearchFilter">
                            <input type="text" class="form-control pl-4 py-2 pr-2 ignore-outside"
                                placeholder="Search save view" #searchFilter odpAutoFocus>
                            <span
                                class="dsi dsi-search text-muted position-absolute srch-icon-pos ignore-outside"></span>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="allFilters.length > 0; else noFilters" class="h-100 sub-container">
                            <div *ngFor="let filter of allFilters"
                                class="filter-name px-3 py-2 d-flex align-items-center justify-content-between position-relative ignore-outside"
                                (mouseenter)="filter.hasOptions && filter.showOptions = true"
                                (mouseleave)="filter.hasOptions && filter.showOptions = false">
                                <div class="d-flex align-items-center mr-2 w-100">

                                    <span class="hover text-truncate filterNameWidth"
                                        (click)="selectSavedView({'view':filter})" [ngbTooltip]="filter.name">{{
                                        filter.name }}</span>
                                    <span *ngIf="!filter.showOptions" class="text-secondary ml-auto">{{
                                        filter.user }}</span>

                                    <div *ngIf="filter.hasOptions && filter.showOptions"
                                        class="ml-auto d-flex align-items-center hover" [@slideIn]>
                                        <span class="dsi dsi-edit icon-color mr-3" (click)="editFilter(filter)"></span>
                                        <span class="dsi dsi-trash icon-color mr-3"
                                            (click)="deleteFilter(filter)"></span>
                                        <div class="left-radius position-relative hover"
                                            [ngClass]="{'bg-white': !filter.private, 'bg-primary': filter.private}"
                                            (click)="changeFilterType(filter, 'private')">
                                            <span class="fas fa-unlock-alt position-absolute icon-pos"
                                                [ngClass]="{'text-secondary': !filter.private, 'text-white': filter.private}"></span>
                                        </div>
                                        <div class="right-radius bg-white position-relative hover mr-2"
                                            [ngClass]="{'bg-white': filter.private, 'bg-primary': !filter.private}"
                                            (click)="changeFilterType(filter, 'public')">
                                            <span class="fas fa-globe position-absolute icon-pos"
                                                [ngClass]="{'text-secondary': filter.private, 'text-white': !filter.private}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #noFilters>
                            <div class="text-secondary p-3">No filters are defined for this service yet</div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between pr-3 list-options"
            [ngClass]="{'border-bottom': !showfilterOptions}">
            <ng-container *ngIf="totalRecords>0">
                <div class="d-flex align-items-center ml-2">
                    <div class="d-flex align-items-center hover" *ngIf="pendingRecords>0">
                        <odp-round-check [(checked)]="checkAll " [white]="true"></odp-round-check>
                        <strong class="text-primary ml-2" (click)="checkAll=!checkAll">Select all</strong>
                    </div>
                    <button id="respond" type="button" class="btn btn-link ignore-outside" (click)="clearFilters()"
                        *ngIf="hasFilters">
                        <span class="dsi dsi-close mr-2"></span>
                        <span class="text font-bold ignore-outside">Clear Filter</span>
                    </button>

                    <button id="respond" type="button" class="btn btn-link ignore-outside" *ngIf="allCheckedRecords>0"
                        (click)="respondToMultipleWorkflow()">
                        <span class="text font-bold ignore-outside">Respond</span>
                    </button>
                </div>
                <div class="d-flex align-items-center">
                    <p class="text-muted mt-2" *ngIf="allCheckedRecords>0">
                        {{allCheckedRecords}} of {{pendingRecords}} pending workflows selected.
                        <span class="text-primary hover" *ngIf="allCheckedRecords!=pendingRecords"
                            (click)="checkAll=true">
                            Select all pending instead
                        </span>.
                        <span class="text-primary hover" *ngIf="allCheckedRecords===pendingRecords"
                            (click)="checkAll=false">
                            Click here to deselect all
                        </span>.
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    <div class="text-danger mr-3 hover font-sm d-flex align-items-center font-weight-bold"
                        *ngIf="selectedSavedView" (click)="resetFilter()">
                        <span class="dsi dsi-undo"></span>
                        <span class="pl-2">Reset Filter</span>
                    </div>
                    <div class="text-gray-medium mr-3" *ngIf="loadedRecordsCount">
                        <label class="m-0">Showing {{loadedRecordsCount}} of {{currentTotalCount}}</label>
                    </div>

                </div>
            </ng-container>

        </div>
        <div class="list-wrapper d-flex flex-column w-100 bg-light">
            <div class="list-page-wrapper row m-0 position-relative bg-white"
                [ngClass]="{'has-records':totalRecords>0}">
                <div #dataContainer class="data-container p-0 w-100" *ngIf="!loading.serviceDetails">
                    <odp-workflow-ag-grid #listGrid [schema]="schema" [columns]="columnDefs" [srvcId]="srvcId"
                        (viewRecord)="view($event)" [selectAll]="selectAll" (selectedRecords)="selectedRecords($event)"
                        (recordsInfo)="currentTotalCount=$event.total;loadedRecordsCount=$event.loaded"
                        (removedSavedView)="removedSavedView($event)">
                    </odp-workflow-ag-grid>
                </div>
            </div>

        </div>
        <!-- <odp-workflow-respond-view #respondView *ngIf="showRespondPannel" [schema]="schema" [selectedData]="selectedData"
        (actionResponse)=" onAction($event);" [ids]="allCheckedRecordIds"
        [requestedByList]="requestedByList" [serviceStatus]="schema.status"
        [workflowUploadedFiles]="workflowUploadedFiles" [workflowFilesList]="workflowFilesList"
        [respondControl]="respondControl" [workflowApi]="workflowApi"></odp-workflow-respond-view> -->
    </div>

    <ng-template #confirmDeleteModal>
        <div class="modal-header alert">
            <h4 class="modal-title text-danger">{{ deleteModal.title }}</h4>
            <button id="deleteModalCloseBtn" type="button" class="close" aria-label="Close"
                (click)="confirmDeleteModalRef.close(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="text-center">{{ deleteModal.message }}</p>
        </div>
        <div class="modal-footer">
            <button id="deleteModalCancelBtn" type="button" class="btn btn-secondary px-4 btn-min-width"
                (click)="confirmDeleteModalRef.close(false)">No</button>
            <button id="deleteModalYesBtn" type="button" class="btn btn-danger px-4 btn-min-width"
                (click)="confirmDeleteModalRef.close(true)">Yes</button>
        </div>
    </ng-template>