<div class="p-2">
    <odp-flows-filters #listFilters [allColumns]="columnDefs" [allFilters]="allFilters" (filterCleared)="resetFilter()"
    (refine)="onRefine($event)" [appliedFilter]="selectedSavedView">
  </odp-flows-filters>
    <div class="d-flex align-items-center pt-2">
        <span title="Refresh" (click)="getRecordsCount()" class="dsi dsi-refresh ml-2 hover refresh align-items-center mr-2"></span>
        <button *ngIf="selectedSavedView || filterModel" type="button" class="btn btn-link text-accent py-0" (click)="resetFilter()">
        <span class="fa fa-times mr-2"></span>
        <span class="text">Clear Filters</span>
        </button>
    </div>
    <div class="list-wrapper border rounded bg-white mt-2">
        <!-- <div class="list-group list-group-flush">
            <div class="list-group-item d-flex align-items-center bg-light fw-500 font-12 text-secondary">
                <span class="item-id">ID</span>
                <span class="item-txn-id">Txn ID</span>
                <span class="item-remote-txn-id">Remote Txn ID</span>
                <span class="item-status">Status</span>
                <span class="item-content-type">Payload Type</span>
                <span class="item-content-length">Payload Size</span>
                <span class="item-start-time">Start Time</span>
                <span class="item-duration">Duration</span>
            </div>
            <ng-container *ngFor="let item of interactionList">
                <div class="list-group-item d-flex align-items-center hover" [routerLink]="item._id">
                    <span class="item-id">{{item._id}}</span>
                    <pre class="m-0 item-txn-id">{{item.headers['data-stack-txn-id']}}</pre>
                    <pre class="m-0 item-remote-txn-id">{{item.headers['data-stack-remote-txn-id']}}</pre>
                    <span class="item-status fw-500 font-12" [ngClass]="getStatusClass(item)">{{item.status}}</span>
                    <span class="item-content-type">{{getContentType(item.headers['content-type'])}}</span>
                    <span class="item-content-length">{{item.headers['content-length'] | filesize}}</span>
                    <span class="item-start-time">{{item._metadata.createAt | date:'yyyy MMM dd, HH:mm:ss'}}</span>
                    <span class="item-duration">{{getDuration(item)}}</span>
                </div>
            </ng-container>
            <div *ngIf="!interactionList || interactionList.length==0"
                class="list-group-item d-flex align-items-center">
                <p class="m-0">No Interaction Found</p>
            </div>
        </div> -->
        <!-- <div class="no-record text-center m-3 p-4 bg-white rounded" *ngIf="!dataSource">
            <div class="no-records-img mx-auto"></div>
            <span class="text-grey font-16">No Interaction Found.
            </span>
        </div> -->
        <ag-grid-angular #agGrid style="width: 100%; height: 100%;"
            class="list-wrapper ag-theme-balham" [datasource]="dataSource" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" rowHeight="40"
            (rowDoubleClicked)="rowDoubleClicked($event)" (sortChanged)="sortChanged($event)" rowModelType="infinite" cacheBlockSize="30" [overlayNoRowsTemplate]="noRowsTemplate" (filterChanged)="filterModified($event)">
        </ag-grid-angular>
    </div>
</div>