@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";


.list-wrapper {
    // overflow-y: auto;
    // min-height: calc(100vh - 112px);
    // max-height: calc(100vh - 112px);
    height: calc(100vh - 112px);
}

.item-id {
    min-width: 90px;
    max-width: 90px;
}

.item-txn-id,
.item-remote-txn-id {
    min-width: 310px;
    max-width: 310px;
}

.item-status {
    min-width: 100px;
    max-width: 100px;
}

.item-content-type {
    min-width: 100px;
    max-width: 100px;
}

.item-content-length {
    min-width: 100px;
    max-width: 100px;
}

.item-real-ip {
    min-width: 200px;
    max-width: 200px;
}

.item-start-time {
    min-width: 200px;
    max-width: 200px;
}

.item-duration {
    min-width: 200px;
    max-width: 200px;
}

.list-group-item {
    &.hover {
        &:hover {
            z-index: 2;
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.4);
        }
    }
}