.menu-list {
  min-height: calc(100vh - 104px);
  max-height: calc(100vh - 104px);
  overflow-y: auto;

  .fa-star {
    color: #fcd452;
  }

  .menu-item {
    min-height: 48px;
    max-height: 48px;
  }
}


.bg-v-light {
  background: #fafafb;
}