.menu-list {
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  overflow-y: auto;

  .pinned {
    color: #fcd452 !important;
  }

  .fa-star {
    color: #dfe1e2
  }

  .menu-item {
    min-height: 48px;
    max-height: 48px;
  }
}

.bg-v-light {
  background: #fafafb;
}