<div class="menu-list border-right">
    <div class="px-4 menu-item d-flex align-items-center justify-content-between hover"
        (click)="togglePanel('pinnedDs')">
        <div>
            <span class="fa fa-star font-14 mr-3" [ngClass]="{'pinned': openPanel['pinnedDs']}"></span>
            <span class="font-14 fw-500 lh-17" [ngClass]="{'text-dark': openPanel['pinnedDs'],'text-secondary': 
            !openPanel['pinnedDs']}">Starred Records</span>
        </div>
        <span class="fa mt-1"
            [ngClass]="{'fa-chevron-up text-secondary ': openPanel['pinnedDs'],'fa-chevron-down text-muted': !openPanel['pinnedDs']}">
        </span>
    </div>

    <div *ngIf="openPanel['pinnedDs']" class="bg-v-light">
        <odp-service-list [dsType]="'pinnedDs'" (onStarredAction)="onStarredAction($event)"></odp-service-list>
    </div>
    <div class="px-4 menu-item d-flex align-items-center justify-content-between hover" (click)="togglePanel('ds')">
        <div>
            <span class="odp-record text-secondary font-14 mr-3" [ngClass]="{'text-primary': openPanel['ds'],'text-secondary': 
            !openPanel['ds']}"></span>
            <span class="font-14 fw-500 lh-17" [ngClass]="{'text-dark': openPanel['ds'],'text-secondary': 
            !openPanel['ds']}">Data Services</span>
        </div>
        <span class="fa mt-1"
            [ngClass]="{'fa-chevron-up text-secondary': openPanel['ds'],'fa-chevron-down text-muted': !openPanel['ds']}"></span>
    </div>
    <div *ngIf="openPanel['ds']">
        <odp-service-list [dsType]="'ds'" (onStarredAction)="onStarredAction($event)"></odp-service-list>
    </div>
    <div class=" px-4 menu-item d-flex align-items-center justify-content-between hover"
        (click)="togglePanel('workflow')">
        <div>
            <span class="odp-workflow text-secondary font-14 mr-3" [ngClass]="{'text-primary': openPanel['workflow'],'text-secondary': 
            !openPanel['workflow']}"></span>
            <span class="font-14 fw-500 lh-17" [ngClass]="{'text-dark': openPanel['workflow'],'text-secondary': 
            !openPanel['workflow']}">Workflows</span>
        </div>
        <span class="fa mt-1"
            [ngClass]="{'fa-chevron-up text-secondary': openPanel['workflow'],'fa-chevron-down text-muted': !openPanel['workflow']}"></span>
    </div>
    <div *ngIf="openPanel['workflow']">
        <odp-workflow-list></odp-workflow-list>
    </div>

    <!-- <ng-container *ngIf="activeMenuKey=='services'">
        <odp-service-list></odp-service-list>
    </ng-container>
    <ng-container *ngIf="activeMenuKey=='interactions'">
        <odp-integration-list></odp-integration-list>
    </ng-container>
    <ng-container *ngIf="activeMenuKey=='bookmark'">
        <odp-bookmark-list></odp-bookmark-list>
    </ng-container>
    <ng-container *ngIf="activeMenuKey=='workflow'">
        <odp-workflow-list></odp-workflow-list>
    </ng-container> -->
</div>