.rich-text-wrapper {
  min-width: 75vw;
  max-width: 75vw;
  border-radius: 4px;
  overflow: auto;
  resize: vertical !important;
  height: 100px;
}

.wrap {
  max-width: 75vw;
  min-width: 75vw;
  word-wrap: break-word;
}

.show-paragraph {
  white-space: pre-wrap;
  border-radius: 4px;
  word-break: break-all;
}

.eyeIcon {
  right: 0%;
  top: 1%;
}