@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.workflow-data {
  overflow: hidden;
  z-index: 2;
  width: calc(100% - 231px);
  height: calc(100% - 40px);
  right: -100%;
  bottom: 0;
  transition: 0.25s;
  &.show {
    right: 0;
  }
}

.workflow-data-heading {
  min-height: 72px;
  position: sticky;
  font-size: 13px;
}

.view-body {
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: auto;
  &.no-steps {
    min-height: calc(100vh - 158px);
    max-height: calc(100vh - 158px);
    // margin-top: 60px;
  }
}

.steps-wrapper {
  .step-tabs {
    overflow: hidden;
    z-index: 0;
    .step-tab {
      min-width: 150px;
      max-width: 150px;
      min-height: 42px;
      max-height: 42px;
      border-bottom: 4px solid transparent;
      transition: 0.25s;
      &.active {
        font-weight: bold;
      }
      .step-no {
        min-width: 36px;
        max-width: 36px;
        min-height: 42px;
        max-height: 42px;
      }
      .step-name {
        max-width: 114px;
      }
    }
    .not-overlap {
      z-index: 0;
    }
  }
  .step-controls {
    min-width: 134px;
    max-width: 134px;
  }
}

// .steps-max-width {
//   max-width: 100px;
// }
.all-steps-dropdown {
  width: 230px;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  display: none;
  z-index: 10;
  outline: 0;
  .list-group-item {
    &:not(.active):hover {
      cursor: pointer;
      background: $light;
    }
  }
}
.record-detail {
  min-width: 100px;
  max-width: 100px;
  .state-model-badge {
    min-width: 20px;
    max-width: fit-content;
  }
}
.respond-header {
  min-width: 640px;
  max-width: 640px;
  min-height: 40px;
  max-height: 40px;
  box-shadow: 0 0px rgba(0, 0, 0, 1);
  background-color: #0082c9;
  border-radius: 8px 8px 0px 0px;
}

.comp-pos {
  top: 10px;
}
.respond-header {
  left: 0px;
  right: 0px;
  min-width: 640px;
  max-width: 640px;
  min-height: 40px;
  max-height: 40px;
  box-shadow: 0 0px rgba(0, 0, 0, 1);
  background-color: #0082c9;
  border-radius: 8px 8px 0px 0px;
  margin: auto;
}
.b-0 {
  bottom: 0px;
}
.b-15 {
  bottom: 15px;
}

.experience-hooks {
  min-height: 40px;
  max-height: 40px;
  .experience-hooks-title {
    min-width: 120px;
    max-width: 120px;
  }
  .experience-hooks-buttons {
    min-width: calc(100vw - 431px);
    max-width: calc(100vw - 431px);
    overflow: hidden;
    .experience-hooks-btn {
      min-width: 160px;
      max-width: 160px;
      min-height: 26px;
      max-height: 26px;
      padding: 0;
    }
  }
  .btn-link {
    padding: 0;
  }
}

.all-actions-dropdown {
  min-width: 200px;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  max-height: 234px;
  overflow: auto;
}
.dropdown-menu {
  max-height: 35px;
  button {
    margin-top: -6px;
  }
}

.no-focus {
  box-shadow: none !important;
}
