<div class="default-loader d-flex justify-content-center h-100 w-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-lg fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>

<!-- <div odpClickOutside (outside)="closeData()" [ignore]="['#_workflowModalDelete','#comments','#deleteM',
        '#addFile','#workflowFileUpload','ignore','#confirmDiscardModal','#discardModalCancelBtn','.ignore','_workflowModal']"
          id="workflowData" class="workflow-data position-fixed bg-white border-left d-flex flex-column" [ngClass]="{'show':showWorkflowData}"> -->

<div class="d-flex flex-column border-top p-3  bg-white">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <div class="d-flex flex-column ml-4 record-detail" *ngIf="stateModelAttr && !canEditDraft">
                <span class='mr-2 font-weight-bold text-muted'>{{stateModelName}}</span>
                <span class='badge badge-primary mt-1 state-model-badge'>{{stateModelAttrVal}}</span>
            </div>
            <div class="d-flex flex-column record-detail">
                <span class="font-weight-bold text-muted"> Data Service</span>
                <div class="text-truncate " [odpTruncated]="schema.name">{{schema?.name}}</div>
            </div>
            <div class="d-flex flex-column ml-4 record-detail">
                <span class="font-weight-bold text-muted">Record ID</span>
                <div class="text-truncate " [odpTruncated]="selectedData.documentId">{{selectedData?.documentId}}
                </div>
            </div>
            <div class="d-flex flex-column ml-4 record-detail">
                <span class="font-weight-bold text-muted">Requested By</span>
                <div class="text-truncate " [odpTruncated]="selectedData?.username">{{selectedData?.username}}</div>
            </div>
            <div class="d-flex flex-column ml-4 record-detail extra">
                <span class="font-weight-bold text-muted">Requested On</span>
                <span>{{selectedData._metadata ?
                    (selectedData._metadata.createdAt|date:'dd-MMM-yyyy,hh:mma'):null}}</span>
            </div>
            <div class="d-flex flex-column ml-4 record-detail">
                <span class="font-weight-bold text-muted">Type</span>
                <div class="d-flex">
                    <span class="odp-plus-circle text-primary mt-1" *ngIf="selectedData.operation == 'POST'"></span>
                    <span class="odp-edit text-warning mt-1 mr-1" *ngIf="selectedData.operation == 'PUT'"></span>
                    <span class="odp-trash text-danger font-sm mt-1" *ngIf="selectedData.operation == 'DELETE'"></span>
                    <span class="ml-1" *ngIf="selectedData.operation == 'POST'">Create</span>
                    <span class="ml-1" *ngIf="selectedData.operation == 'PUT'" class="mr-3">Edit</span>
                    <span class="ml-1" *ngIf="selectedData.operation == 'DELETE'">Delete</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-end">
            <div class="d-flex">
                <!-- <button type="button" class="btn btn-link" id="closeReview" (click)="closeData()">
                    <ng-container *ngIf="canEditDraft">
                        <span class="fa fa-times mr-2"></span>
                        <span class="text">Cancel</span>
                    </ng-container>
                    <ng-container *ngIf="!canEditDraft">
                        <span class="fa fa-angle-left mr-2"></span>
                        <span class="text">Back</span>
                    </ng-container>
                </button>
                <button type="button" class="btn btn-link text-danger" *ngIf="canEditDraft" id="discardDraft"
                    (click)="discardDraft()" [disabled]="showLazyLoader">Discard
                </button>
                <button type="button" class="btn btn-primary btn-min-width ml-3" *ngIf="canResubmit" id="canResubmit"
                    (click)="resubmit()" [disabled]="showLazyLoader">Re-Submit
                </button> -->


                <div class="btn-group mr-3">
                    <button type="button" class="btn btn-link text-danger" id="closeReview" (click)="closeData()">
                        <ng-container *ngIf="canEditDraft">
                            <span class="fa fa-times mr-2"></span>
                            <span class="text">Cancel</span>
                        </ng-container>
                        <ng-container *ngIf="!canEditDraft">
                            <span class="fa fa-angle-left mr-2"></span>
                            <span class="text">Back</span>
                        </ng-container>
                    </button>
                    <div class="btn-group" ngbDropdown *ngIf="canEditDraft && canResubmit">
                        <button type="button" class="btn btn-link text-danger" ngbDropdownToggle
                            [disabled]="showLazyLoader">
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button ngbDropdownItem type="button" class="btn btn-link text-danger" *ngIf="canEditDraft"
                                id="discardDraft" (click)="discardDraft()" [disabled]="showLazyLoader">Discard
                            </button>
                            <button ngbDropdownItem type="button" class="btn btn-primary btn-min-width ml-3"
                                *ngIf="canResubmit" id="canResubmit" (click)="resubmit()"
                                [disabled]="showLazyLoader">Re-Submit
                            </button>
                        </div>
                    </div>
                </div>


                <div class="btn-group" *ngIf="canEditDraft">
                    <button type="button" class="btn btn-outline-primary ignore-outside" *ngIf="canRespond"
                        id="canRespond" (click)="showRespondView=true;" [disabled]="showLazyLoader">Respond
                    </button>
                    <button type="button" class="btn btn-outline-primary ignore-outside" *ngIf="!canRespond"
                        id="canReview" (click)="showRespondView=true;" [disabled]="showLazyLoader">Remarks
                    </button>
                    <button type="button" class="btn btn-outline-primary ignore-outside" id="saveDraft"
                        *ngIf="canEditDraft" (click)="saveDraft()">Save Draft
                    </button>
                    <button type="button" class="btn btn-primary btn-min-width" id="submitDraft" (click)="submitDraft()"
                        [disabled]="showLazyLoader">Proceed
                    </button>
                    <div class="btn-group" ngbDropdown *ngIf="(stateModelAttr && stateModelNextStates.length)">
                        <button type="button" class="btn btn-primary-dark" ngbDropdownToggle
                            [disabled]="showLazyLoader">
                            <!-- <span class="fa fa-angle-down"></span> -->
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class='state-model-option' ngbDropdownItem
                                *ngFor='let state of stateModelNextStates' (click)='setStateAndSave(state)'>
                                {{state}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end mt-2" *ngIf="stateModelAttr && canEditDraft">
                <span class="font-weight-bold text-muted">{{stateModelName}}</span>
                <span class="mx-2">:</span>
                <span class="badge badge-dark p-1">{{stateModelAttrVal}}</span>
            </div>
        </div>
    </div>
</div>
<div id="workflowData" class="bg-white  border-top d-flex flex-column data-container">
    <div *ngIf="wizard.length > 0"
        class="steps-wrapper wizard-steps  d-flex justify-content-between w-100 bg-white rounded px-3 border-bottom">
        <div class="step-tabs d-flex align-items-center">
            <ng-container *ngFor="let step of wizard; let i=index;let last=last;">
                <div (click)="showStep(i)" [attr.id]="'step-'+i"
                    [ngClass]="{'active border-primary text-primary':active[i]}"
                    class="step-tab d-flex align-items-center hover border-primary-hover">
                    <div [ngbTooltip]="" class="step-no d-flex align-items-center justify-content-center">{{i + 1}}
                        .
                    </div>
                    <div [ngbTooltip]="step.name" class="step-name high-zIndex text-truncate" placement="top">
                        {{step.name}}</div>
                </div>
            </ng-container>
        </div>
        <div class="step-controls d-flex align-items-center position-relative">
            <button (click)="showStep(currentStep-1);tooltip1.close()" [disabled]="stepFirst"
                class="btn btn-link btn-sm high-zIndex" ngbTooltip="Previous step" placement="top"
                #tooltip1="ngbTooltip">
                <span class="fa fa-angle-left"></span>
            </button>

            <span class="steps-info text-secondary">
                {{currentStep + 1}} of {{wizard.length}}
            </span>
            <button (click)="showStep(currentStep+1);tooltip2.close()" [disabled]="stepLast"
                class="btn btn-link btn-sm high-zIndex" ngbTooltip="Next step" placement="top" #tooltip2="ngbTooltip">
                <span class="fa fa-angle-right"></span>
            </button>
            <button (click)="showAllStepsDropdown($event)" class="btn btn-link btn-sm high-zIndex" ngbTooltip="All step"
                placement="top">
                <span class="fa fa-ellipsis-h"></span>
            </button>
            <div #allStepsDropdown (blur)="hideAllStepsDropdown($event)"
                class="list-group all-steps-dropdown position-absolute" tabindex="0">
                <div (click)="showStep(i);hideAllStepsDropdown($event)"
                    *ngFor="let step of wizard; let i=index;let last=last;" [ngClass]="{'active':active[i]}"
                    class="list-group-item">{{step.name}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="canEditDraft " class="d-flex align-items-center px-3 border-bottom bg-white">
        <ng-container *ngFor="let step of wizard;let stepIndex = index">
            <div *ngIf="step.actions && step.actions.length>0 && active[stepIndex]"
                class="d-flex experience-hooks px-3 align-items-center">
                <div class="text-secondary font-weight-bold w-100 text-nowrap">Available Actions</div>
                <div class="d-flex experience-hooks-buttons ml-3">
                    <button (click)="triggerHook(ac)" *ngFor="let ac of step.actions"
                        class="btn btn-outline-{{ac.type}} experience-hooks-btn mr-3" type="button">{{ac.name}}</button>
                </div>
                <div class="d-flex position-relative">
                    <button (click)="$event.stopPropagation();toggleAllActionsDropDown = !toggleAllActionsDropDown"
                        class="btn btn-link all-actions-dropdown-btn" type="button">
                        <span class="fa fa-ellipsis-h"></span>
                    </button>
                    <div #allActionsDropdown (outside)="toggleAllActionsDropDown = false"
                        *ngIf="toggleAllActionsDropDown" class="list-group all-actions-dropdown position-absolute"
                        odpClickOutside>
                        <div (click)="triggerHook(ac);toggleAllActionsDropDown=false;"
                            *ngFor="let ac of step.actions; let i=index;"
                            class="list-group-item list-group-item-action hover">{{ac.name}}</div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="!canEditDraft" class="view-body  bg-white " [ngClass]="{'no-steps':wizard.length == 0}">
        <ng-container *ngIf="wizard.length > 0">
            <ng-container *ngFor="let step of wizard;let stepIndex = index;let stepFirst = first;let stepLast = last">
                <div class="container-fluid mt-3 d-none" [ngClass]="{'d-block':active[stepIndex]}">
                    <!-- <div class="row mb-2">
                  <div class="col">
                    <h3 class="text-primary-dark d-inline-block text-truncate">{{step.name}}</h3>
                  </div>
                </div> -->
                    <ng-container *ngFor="let field of step.fields;let i=index;let l= last">
                        <odp-view-control *ngIf="getDefinition(field)" [definition]="getDefinition(field)"
                            [value]="value" [oldValue]="activeAuditOldData" [newValue]="activeAuditNewData"
                            [workflowDoc]="selectedData" [last]=l>
                        </odp-view-control>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="wizard.length == 0">
            <div class="container-fluid">
                <ng-container *ngFor="let def of definition;let i=index; let l=last">
                    <ng-container *ngIf="!checkStateModel(def)">
                        <odp-view-control [definition]="def" [value]="value" [oldValue]="activeAuditOldData" [last]="l"
                            [newValue]="activeAuditNewData" [workflowDoc]="selectedData"></odp-view-control>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div *ngIf="canEditDraft" class="view-body pt-3 pb-5 bg-white" [ngClass]="{'no-steps':wizard.length == 0}">
        <ng-container *ngIf="wizard.length > 0 && definition.length > 0">
            <ng-container *ngFor="let step of wizard;let stepIndex = index;let stepFirst = first;let stepLast = last">
                <div class="d-flex flex-column py-3" *ngIf="active[stepIndex]">
                    <ng-container
                        *ngFor="let field of step.fields;let fieldIndex = index;let first = first;let l =last">
                        <div [attr.id]="stepIndex+'-'+fieldIndex" *ngIf="getDefinition(field)">
                            <odp-manage-control [form]="form" [definition]="getDefinition(field)" [first]="first"
                                [last]=l>
                            </odp-manage-control>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="wizard.length == 0">
            <div class="d-flex flex-column py-3">
                <ng-container *ngFor="let def of definition;let i = index; let first = first; let last = last;">
                    <ng-container *ngIf="!checkStateModel(def)">
                        <odp-manage-control [form]="form" [definition]="def" [first]="first" [last]="last">
                        </odp-manage-control>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div class="respond-header d-flex p-2 position-fixed ignore-outside" id='ignore'
        [ngClass]="{'b-0':!isScrollExist,'b-15':isScrollExist}" *ngIf='showHeaderOnly '
        (click)="showRespondView=true;showHeaderOnly=false">
        <span class="text-white" id='respond' *ngIf="canRespond">Respond</span>
        <span class="text-white" id='remark' *ngIf="!canRespond">Remarks</span>
        <span class="fa fa-angle-up text-white ml-auto font-lg" id='angle-down'></span>
    </div>

    <!-- <odp-respond-view [approversList]="approversList" *ngIf="showRespondView" [selectedData]='selectedData' [ids]='ids'
          (actionResponse)='actionResponse($event);' [requestedByList]="requestedByList" [serviceStatus]="schema.status">
        </odp-respond-view> -->
    <odp-workflow-respond-view [approversList]="approversList" *ngIf="showRespondView" [selectedData]='selectedData'
        [ids]='ids' (actionResponse)='actionResponse($event);' [requestedByList]="requestedByList"
        [workflowUploadedFiles]="workflowUploadedFiles" [workflowFilesList]="workflowFilesList"
        [respondControl]="respondControl" [serviceStatus]="schema.status" [workflowApi]="workflowApi">
    </odp-workflow-respond-view>

    <!-- <odp-respond-view *ngIf="showRespondPannel" [records]="records" [presentAudit]="presentAudit"
         [selectedData]="selectedData"
        (actionResponse)="showRespondPannel =!showRespondPannel;getWFData(false,true)" 
        [ids]="allCheckedRecordIds" [approversList]="approversList"></odp-respond-view> -->
</div>

<ng-template #confirmDiscardModal>
    <div class="modal-header alert ignore">
        <h4 class="modal-title text-danger ignore">Discard draft</h4>
        <button id="discardModalCloseBtn ignore" type="button" class="close" aria-label="Close"
            (click)="confirmDiscardModalRef.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body ignore">
        <p class="text-center">Are you sure, you want to discard this draft?</p>
    </div>
    <div class="modal-footer ignore">
        <button id="discardModalCancelBtn" type="button" class="btn btn-secondary px-4 btn-min-width ignore"
            (click)="confirmDiscardModalRef.close(false)">No</button>
        <button id="discardModalYesBtn" type="button" class="btn btn-danger px-4 btn-min-width ignore"
            (click)="confirmDiscardModalRef.close(true)">Yes</button>
    </div>
</ng-template>

<ng-template #confirmCancelModal>
    <div class="modal-header alert ignore">
        <h4 class="modal-title text-danger ignore">Changes Made</h4>
        <button id="discardModalCloseBtn ignore" type="button" class="close" aria-label="Close"
            (click)="confirmCancelModalRef.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body ignore">
        <p class="text-center">You have made some changes. Are you sure, you want to cancel?</p>
    </div>
    <div class="modal-footer ignore">
        <button id="discardModalCancelBtn" type="button" class="btn btn-secondary px-4 btn-min-width ignore"
            (click)="confirmCancelModalRef.close(false)">No</button>
        <button id="discardModalYesBtn" type="button" class="btn btn-danger px-4 btn-min-width ignore"
            (click)="confirmCancelModalRef.close(true)">Yes</button>
    </div>
</ng-template>

<ng-template #workflowModal id="_workflowModal ">
    <div id="_workflowModal1">
        <div class="modal-header bg-dark py-2">
            <h5 class="modal-title text-white">{{workflowModalOptions.title}}</h5>
            <button id="workflowModalCloseBtn" type="button" class="btn close no-focus" aria-label="Close"
                (click)="workflowModalRef.close(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0 d-flex flex-column">
            <div class="d-flex flex-column bg-light font-weight-bold" *ngIf="workflowModalOptions.operation != 'POST'">
                <div class="d-flex align-items-center px-3 pt-3">
                    <span *ngIf="workflowModalOptions.operation == 'POST'"
                        class="text-primary d-flex align-items-center mr-2">
                        <span class="odp-plus-circle mr-1"></span>
                        <span>Create:</span>
                    </span>
                    <span *ngIf="workflowModalOptions.operation == 'PUT'"
                        class="text-warning d-flex align-items-center mr-2">
                        <span class="odp-edit fa-lg mr-1"></span>
                        <span>Update:</span>
                    </span>
                    <span *ngIf="workflowModalOptions.operation == 'DELETE'"
                        class="text-danger d-flex align-items-center mr-2">
                        <span class="odp-trash mr-1"></span>
                        <span>Delete:</span>
                    </span>
                    <span class="text-dark">{{workflowModalOptions._id}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-between p-3">
                    <span class="d-flex align-items-center">
                        <span class="text-secondary mr-1">Submitted by</span>
                        <span>{{workflowModalOptions.requestedBy}}</span>
                    </span>
                    <span *ngIf="workflowModalOptions.operation == 'PUT'" class="d-flex align-items-center">
                        <span class="text-secondary mr-1">Fields affected</span>
                        <span>{{workflowModalOptions.fields}}</span>
                    </span>
                </div>
            </div>
            <div class="d-flex flex-column p-3 ignore">
                <div class="d-flex">
                    <label for="comments" class="font-weight-bold m-0">Attachments:</label>
                    <div class="d-flex flex-column align-items-start pl-3 w-100">
                        <input #workflowFileUploadInput class="d-none" type="file" name="workflowFileUpload"
                            id="workflowFileUpload" (change)="uploadWorkflowFile($event)">
                        <button class="btn btn-link p-0" (click)="workflowFileUploadInput.click()">
                            <span class="fa fa-paperclip mr-1"></span>
                            <span class="text" id="addFile">Add file(s)</span>
                        </button>
                        <div class="d-flex align-items-center justify-content-between w-100"
                            *ngFor="let file of workflowFilesList;let fileIndex=index;">
                            <div class="d-flex align-items-center">
                                <span class="text-primary text-truncate fileName-width">{{file.name}}</span>
                                <small class="text-secondary ml-2">({{file.size|filesize}})</small>
                            </div>
                            <button class="btn btn-sm btn-link text-danger"
                                (click)="removeWorkflowFile(fileIndex)">Remove</button>
                        </div>
                    </div>
                </div>
                <label for="comments" class="text-secondary ignore">Comments</label>
                <textarea id="comments" class="form-control ignore"
                    placeholder="Provide the reviewer with some helpful information"
                    [(ngModel)]="respondModalOptions.remarks"></textarea>
                <div class="d-flex justify-content-between mt-3 ignore">
                    <button class="btn btn-outline-primary min-width-control" id="workflowModalCancelBtn ignore"
                        (click)="workflowModalRef.close(false)">Cancel</button>
                    <button class="btn btn-success min-width-control" id="workflowModalSubmitBtn ignore"
                        (click)="workflowModalRef.close(true)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #workflowModalDelete id="_workflowModalDelete" class="deleteModal ignore-outside">
    <div class="modal-header bg-dark p-2 deleteModal ignore-outside">
        <h4 class="modal-title text-white">Document delete request</h4>
        <button id="workflowModalCloseBtn" type="button" class="btn close no-focus" aria-label="Close"
            (click)="workflowModalDeleteRef.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0 d-flex flex-column deleteModal ignore-outside" id="deleteM">
        <div class="d-flex flex-column bg-light font-weight-bold ignore-outside">
            <div class="d-flex align-items-center px-3 pt-3 ignore-outside">
                <span class="text-danger d-flex align-items-center mr-2 ignore-outside">
                    <span class="odp-trash mr-1 ignore-outside"></span>
                    <span class="ignore-outside">Delete:</span>
                </span>
                <span class="text-dark ignore-outside">{{selectedData.documentId}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between p-3 ignore-outside">
                <span class="d-flex align-items-center">
                    <span class="text-secondary mr-1 ignore-outside">Submitted by</span>
                    <span>{{selectedData?.requestedByName}}</span>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column p-3 ignore-outside">
            <div class="d-flex ignore-outside">
                <label for="comments" class="font-weight-bold m-0 ignore-outside">Attachments:</label>
                <div class="d-flex flex-column align-items-start pl-3 w-100 ignore-outside">
                    <input #workflowFileUploadInput class="d-none ignore-outside" type="file" name="workflowFileUpload"
                        id="workflowFileUpload" (change)="uploadWorkflowFile($event)">
                    <button class="btn btn-link p-0 ignore-outside" (click)="workflowFileUploadInput.click()"
                        id="addFile">
                        <span class="fa fa-paperclip mr-1 ignore-outside"></span>
                        <span class="text ignore-outside">Add file(s)</span>
                    </button>
                    <div class="d-flex align-items-center justify-content-between w-100 ignore-outside"
                        *ngFor="let file of workflowFilesList;let fileIndex=index;">
                        <div class="d-flex align-items-center ignore-outside">
                            <span class="text-primary ignore-outside" [ngbTooltip]="file.name"
                                placement="top">{{file.name}}</span>
                            <small class="text-secondary ml-2 ignore-outside">({{file.size|filesize}})</small>
                        </div>
                        <button class="btn btn-sm btn-link text-danger ignore-outside"
                            (click)="removeWorkflowFile(fileIndex)">Remove</button>
                    </div>
                </div>
            </div>
            <label for="comments" class="text-secondary ignore-outside">Comments</label>
            <textarea id="comments" class="form-control ignore-outside"
                placeholder="Provide the reviewer with some helpful information"
                [(ngModel)]="workflowModalOptions.remarks"></textarea>
            <div class="d-flex justify-content-between mt-3 ignore-outside">
                <button class="btn btn-outline-primary min-width-control " id="workflowModalCancelBtn"
                    (click)="workflowModalDeleteRef.close(false)">Cancel</button>
                <button class="btn btn-success min-width-control" id="workflowModalSubmitBtn"
                    (click)="workflowModalDeleteRef.close(true)">Submit</button>
            </div>
        </div>
    </div>
</ng-template>



<ng-template #discardModal id="discardModal">
    <div class="default-loader d-flex justify-content-center h-100 w-100" *ngIf=" showLazyLoader">
        <div class="align-self-center text-center">
            <span class="fa fa-spinner fa-pulse fa-lg fa-3x"></span>
            <div class="text-secondary mt-2">Processing...</div>
        </div>
    </div>
    <div id="discardModal1">
        <div class="modal-header bg-dark py-2">
            <h5 class="modal-title text-white">Are you sure you want to discard this draft ?</h5>
            <button id="workflowModalCloseBtn" type="button" class="btn close no-focus" aria-label="Close"
                (click)="discardModalRef.close(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0 d-flex flex-column">
            <div class="d-flex flex-column bg-light font-weight-bold" *ngIf="workflowModalOptions.operation != 'POST'">
                <div class="d-flex align-items-center px-3 pt-3">
                    <span class="text-primary d-flex align-items-center mr-2">
                        <span class="odp-edit mr-1"></span>
                        <span>Discard:</span>
                    </span>

                    <span class="text-dark">{{workflowModalOptions._id}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-between p-3">
                    <span class="d-flex align-items-center">
                        <span class="text-secondary mr-1">Submitted by</span>
                        <span>{{workflowModalOptions.requestedBy}}</span>
                    </span>
                </div>
            </div>
            <div class="d-flex flex-column p-3 ignore">
                <div class="d-flex">
                    <label for="comments" class="font-weight-bold m-0">Attachments:</label>
                    <div class="d-flex flex-column align-items-start pl-3 w-100">
                        <input #workflowFileUploadInput class="d-none" type="file" name="workflowFileUpload"
                            id="workflowFileUpload" (change)="uploadWorkflowFile($event)">
                        <button class="btn btn-link p-0" (click)="workflowFileUploadInput.click()">
                            <span class="fa fa-paperclip mr-1"></span>
                            <span class="text" id="addFile">Add file(s)</span>
                        </button>
                        <div class="d-flex align-items-center justify-content-between w-100"
                            *ngFor="let file of workflowFilesList;let fileIndex=index;">
                            <div class="d-flex align-items-center">
                                <span class="text-primary text-truncate fileName-width">{{file.name}}</span>
                                <small class="text-secondary ml-2">({{file.size|filesize}})</small>
                            </div>
                            <button class="btn btn-sm btn-link text-danger"
                                (click)="removeWorkflowFile(fileIndex)">Remove</button>
                        </div>
                    </div>
                </div>
                <label for="comments" class="text-secondary ignore">Comments</label>
                <textarea id="comments" #inputBox class="form-control ignore" [ngClass]="{'is-invalid':requiredError}"
                    placeholder="Provide the reviewer with some helpful information"
                    [formControl]="respondControl"></textarea>
                <!-- [(ngModel)]="respondModalOptions.remarks"></textarea> -->
                <div class="d-flex justify-content-between mt-3 ignore">
                    <button class="btn btn-outline-primary min-width-control" id="workflowModalCancelBtn ignore"
                        (click)="discardModalRef.close(false)">No</button>
                    <button class="btn btn-success min-width-control" id="workflowModalSubmitBtn ignore"
                        (click)="closeDiscardModel(); ">Yes</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>