<div class="number-control-wrapper position-relative">
    <div class="input-symbol position-absolute font-20" *ngIf="specificType === 'currency'">
        <span *ngIf="definition.properties.currency == 'INR'">&#8377;</span>
        <span *ngIf="definition.properties.currency == 'EUR'">&#8364;</span>
        <span *ngIf="definition.properties.currency == 'USD'">&#36;</span>
        <span *ngIf="definition.properties.currency == 'NA'">{{definition.properties.currency}}</span>
    </div>
    <input *ngIf="specificType === 'number' || specificType === 'currency'" class="form-control"
        [ngClass]="{'is-invalid pr-4':requiredError || minError || maxError ,'symbol':specificType === 'currency'}"
        type="number" [formControl]="control" (change)="setValue()" (keyup)="onKeyup($event)" (focus)="onFocus()"
        #numberTypeInput [attr.id]="definition.path" [disabled]="definition.properties.readonly || control.disabled">
    <select *ngIf="specificType === 'select'" class="form-control"
        [ngClass]="{'is-invalid pr-4':requiredError}" (change)="setValue()" (keyup)="onKeyup($event)"
        (focus)="onFocus()" [formControl]="control" #numberTypeInput [attr.id]="definition.path"
        [disabled]="definition.properties.readonly || control.disabled">
        <option *ngIf="!definition.properties.required" [value]="null">---select---</option>
        <option *ngFor="let opt of definition.properties.enum" [value]="opt">{{opt}}</option>
    </select>
    <!-- <span #validationErrorsDot="ngbTooltip" (mouseover)="validationErrorsDot.open()" triggers="manual" class="fa fa-xs fa-circle text-danger position-absolute error-exclamation"
        *ngIf="requiredError || minError || maxError" [ngbTooltip]="validationErrors" placement="right"></span> -->
    <ng-container *ngIf="!definition.properties.errorMessage">
        <div class="p-2 mt-1 text-secondary rounded" *ngIf="requiredError || minError || maxError"
            [ngClass]="{'bg-error':requiredError || minError || maxError}">
            <div class="d-flex flex-column align-items-start">
                <div *ngIf="requiredError">
                    {{ definition.properties.name!== '_self' ? definition.properties.label ? definition.properties.label
                    : definition.properties.name : 'field' }}
                    is required</div>
                <div *ngIf="minError">
                    {{ definition.properties.name!== '_self' ? definition.properties.label ? definition.properties.label
                    : definition.properties.name : 'field' }}
                    should have
                    min {{definition.properties.min}}</div>
                <div *ngIf="maxError">
                    {{ definition.properties.name!== '_self' ? definition.properties.label ? definition.properties.label
                    : definition.properties.name : 'field' }}
                    should have
                    max {{definition.properties.max}}</div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="definition.properties.errorMessage">
        <div class="p-2 mt-1 text-secondary rounded" *ngIf="requiredError || minError || maxError"
            [ngClass]="{'bg-error':requiredError || minError || maxError}">
            <div class="d-flex flex-column align-items-start">
                {{definition.properties.errorMessage}}
            </div>
        </div>
    </ng-container>


</div>