.number-control-wrapper{
min-width: 340px;
  max-width: 340px;
}
.error-exclamation {
  top: 9px;
  right: 6px;
}
.input-symbol{
    left: 6px;
    top: 4px;
}
.form-control{
    &.symbol{
        text-indent: 10px;
    }
}
.custom-input-number::-webkit-inner-spin-button,
.custom-input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bg-error{
  background-color: #F8DCDC !important;
}
