.grid-container {
    display: grid;
    width: 100%;
    border: 1px solid #ECECEC;
    max-height: 260px;
    min-height: 250px;
}

.buttonsRow {
    min-height: 32px;
    align-items: center;
    justify-content: end;
}

.capitalize {
    text-transform: uppercase;
}