.grid-container {
    display: grid;
    width: 100%;
    // border: 1px solid #ECECEC;
    max-height: 273px;
    min-height: 250px;
    overflow: hidden;
}

.buttonsRow {
    min-height: 48px;
    align-items: center;
    justify-content: end;
}

.capitalize {
    text-transform: uppercase;
}