<div *ngFor='let child of treeData' class='bg-white pl-2 pt-2'>
    <ng-container *ngTemplateOutlet="treeStructure;context:{val:child,level:0}"></ng-container>
</div>

<ng-template #treeStructure let-val="val" let-level="level">
    <div>
        <div *ngIf="val.children && val.children.length" (click)="val.isCollapsed = !val.isCollapsed"
            [attr.aria-expanded]="!val.isCollapsed" aria-controls="collapseExample">
            <i class="fas fa-chevron-down fa-sm hover mr-3" *ngIf="val.isCollapsed"></i>
            <i class="fas fa-chevron-right fa-sm hover mr-3 text-secondary" *ngIf="!val.isCollapsed"></i>
            {{val.name}}
        </div>
        <div *ngIf="!val.children || (val.children && val.children.length == 0)" class="text-secondary">
            {{val.name}}
        </div>

        <div *ngIf="val.children && val.children.length" #collapse="ngbCollapse" [ngbCollapse]="val.isCollapsed">
            <div *ngFor='let child of val.children;index as index; last as last; first as first '
                class='mx-4 py-2 border-node' [ngClass]='{"border-node": !last}'>
                <ng-container *ngTemplateOutlet="treeStructure;context:{val:child,level:level + 1}"></ng-container>
            </div>
        </div>
    </div>

</ng-template>