<router-outlet odpShortcut></router-outlet>
<odp-loading *ngIf="commonService.loading || navigating"></odp-loading>
<div class="session-refresh overlay align-items-center justify-content-center" [class.show]="showStallLoader">
    <div class="message-box">
        <div class="fa fa-spinner fa-pulse fa-3x"></div>
        <div>Your session is being refreshed, please wait.</div>
    </div>
</div>
<div class="session-expire overlay align-items-center justify-content-center" [ngClass]="{'show':sessionExpired}">
</div>
<div class="session-expire align-items-center justify-content-center" [ngClass]="{'show':sessionExpired}">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert">
                <h4 class="modal-title">Session</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Your session has expired, please login again.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-min-width px-4" tabindex="1" type="button" (click)="logoutUser()"
                    odpAutoFocus [timeout]="1200">Ok</button>
            </div>
        </div>
    </div>
</div>
<div id="odp-tooltiptext" class="odp-tooltiptext"></div>
<div class="shortcuts-container" *ngIf="showShortcuts && !!availableShortcuts.length">
    <div class="shortcuts-card" [style.width.px]="shortcutsCardWidth">
        <div class="title">Available Shortcuts</div>
        <div class="body">
            <ng-container *ngFor="let section of shortcutSections">
                <ng-container *ngTemplateOutlet="shortcutDiv; context: {section: section}"></ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #shortcutDiv let-section="section">
    <ng-container *ngIf="hasShortcutsForSection(section)">
        <div class="section">
            <div class="section-title">
                {{ section }}
            </div>
            <div class="shortcut-item" *ngFor="let shortcut of getShortcutsForSection(section)">
                <div class="shortcut-label">{{ shortcut.label}}</div>
                <div class="shortcut-keys text-primary">
                    <ng-container *ngFor="let key of shortcut.keys; let last = last">
                        <span class="border-primary key">{{ key }}</span>
                        <span *ngIf="!last">&nbsp;+&nbsp;</span>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #sessionTierAlertModal>
    <div class="modal-body p-4">
        <div class="circle bg-dark">
            <span class="fas fa-exclamation text-white"></span>
        </div>
        <p class="text-dark font-weight-bold text-center">Session Expire Alert</p>
        <p class="text-secondary text-center">{{sessionExpireMsg}}</p>
        <!-- <input *ngIf="authType && authType=='local'" type="password" [(ngModel)]="userPwd" placeholder="Password" class="form-control"> -->
    </div>
    <div class="modal-footer p-3 bg-light">
        <button type="button" class="btn btn-min-width btn-link text-dark w-50 mx-3"
            (click)="sessionTierAlertModalRef.close(false)" id="sContinueNo">Cancel</button>
        <!-- <button *ngIf="authType && authType=='local'" type="button" class="btn btn-min-width btn-primary w-50 mx-3"
            (click)="extendSession()" id="sContinueYes" [disabled]="!userPwd || userPwd.length < 8">
            Extend
        </button> -->
        <button type="button" class="btn btn-min-width btn-primary w-50 mx-3" (click)="extendSession()"
            id="sContinueYes">Extend</button>
    </div>
</ng-template>