<div class="flow-node-block mb-3 rounded bg-white p-3">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-column w-100">
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="w-100 border-bottom border-light-grey pb-3">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <!-- <span class="fw-600">Node Details</span> -->
                            <div class="d-flex align-items-center">
                                <ng-container *ngIf="currNode.type=='FILE'">
                                    <span class="node-icon dsi dsi-file"></span>
                                    <span class="ml-3 fw-500 text-accent">File Agent</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='API' && currNode?.options?.path">
                                    <span class="node-icon dsi dsi-api-reciever"></span>
                                    <span class="ml-3 fw-500 text-accent">API Reciever</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='API' && currNode?.options?.url">
                                    <span class="node-icon dsi dsi-invoke-api"></span>
                                    <span class="ml-3 fw-500 text-accent">Invoke API</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='TIMER'">
                                    <span class="node-icon dsi dsi-clock"></span>
                                    <span class="ml-3 fw-500 text-accent">Timer</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='CONNECTOR'">
                                    <span class="node-icon dsi dsi-connector"></span>
                                    <span class="ml-3 fw-500 text-accent">Connector</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='DATASERVICE'">
                                    <span class="node-icon dsi dsi-data-service"></span>
                                    <span class="ml-3 fw-500 text-accent">Data Service</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='FUNCTION'">
                                    <span class="node-icon dsi dsi-function"></span>
                                    <span class="ml-3 fw-500 text-accent">Function</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='MAPPING'">
                                    <span class="node-icon dsi dsi-mapping"></span>
                                    <span class="ml-3 fw-500 text-accent">Mapping</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='UNWIND'">
                                    <span class="node-icon dsi dsi-expand"></span>
                                    <span class="ml-3 fw-500 text-accent">Unwind</span>
                                </ng-container>
                                <ng-container *ngIf="currNode.type=='RESPONSE'">
                                    <span class="node-icon dsi dsi-response"></span>
                                    <span class="ml-3 fw-500 text-accent">Response</span>
                                </ng-container>
                            </div>
                            <button type="button" class="btn btn-dark btn-sm" (click)="downloadStateData()">
                                Download Complete JSON
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">ID</div>
                    <div class="p-2 header-value w-100">{{currNode._id}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">Type</div>
                    <div class="p-2 header-value w-100">{{currNode.type}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">Start Time</div>
                    <div class="p-2 header-value w-100">{{startTime}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">End Time</div>
                    <div class="p-2 header-value w-100">{{endTime}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">Duration</div>
                    <div class="p-2 header-value w-100">{{duration}}</div>
                </div>
                <ng-container *ngIf="currNode.type=='API'">
                    <div class="d-flex align-items-center align-items-stretch">
                        <div class="p-2 header-key fw-600">Content Type</div>
                        <div class="p-2 header-value w-100">{{getContentType(currNode?.options?.contentType)}}</div>
                    </div>
                    <div *ngIf="currNode?.options?.path" class="d-flex align-items-center align-items-stretch">
                        <div class="p-2 header-key fw-600">Path</div>
                        <div class="p-2 header-value w-100">{{currNode?.options?.path}}</div>
                    </div>
                    <div *ngIf="currNode?.options?.url" class="d-flex align-items-center align-items-stretch">
                        <div class="p-2 header-key fw-600">URL</div>
                        <div class="p-2 header-value w-100">{{currNode?.options?.url}}</div>
                    </div>
                    <div class="d-flex align-items-center align-items-stretch">
                        <div class="p-2 header-key fw-600">HTTP Method</div>
                        <div class="p-2 header-value w-100">{{currNode?.options?.method}}</div>
                    </div>
                    <div class="d-flex align-items-center align-items-stretch">
                        <div class="p-2 header-key fw-600">Status Code</div>
                        <div class="p-2 header-value w-100 fw-500" [ngClass]="getStatusClass()">
                            {{currState?.statusCode}}
                        </div>
                    </div>
                </ng-container>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">Status</div>
                    <div class="p-2 header-value w-100 fw-500" [ngClass]="getStatusClass()">
                        {{currState?.status || 'PENDING'}}
                    </div>
                </div>
                <ng-container *ngIf="currState?.headers">
                    <div class="d-flex align-items-center align-items-stretch mt-3">
                        <div class="w-100 border p-3 rounded">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <span class="fw-600">Headers ({{(currState?.headers | keyvalue).length}})</span>
                                <button type="button" class="btn btn-dark btn-sm"
                                    (click)="toggleHeaders=!toggleHeaders">
                                    {{toggleHeaders ? 'Hide':'Show'}} Header
                                </button>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="toggleHeaders">
                        <div class="d-flex align-items-center align-items-stretch"
                            *ngFor="let item of currState?.headers | keyvalue">
                            <div class="p-2 header-key fw-600">{{item.key}}</div>
                            <div class="p-2 header-value w-100">{{item.value}}</div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="d-flex align-items-center align-items-stretch mt-3">
                    <div class="w-100 border p-3 rounded">
                        <span class="fw-600">Payload</span>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">Type</div>
                    <div class="p-2 header-value w-100">{{currState?.payload?.type}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">Attributes</div>
                    <div class="p-2 header-value w-100">{{currState?.payload?.attributes}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="p-2 header-key fw-600">Total Records</div>
                    <div class="p-2 header-value w-100">{{currState?.payload?.totalRecords}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch">
                    <div class="w-100 p-2">
                        <button type="button" class="btn btn-dark btn-sm" (click)="showPayload()">
                            <span *ngIf="!togglePayload">Show Complete Payload</span>
                            <span *ngIf="togglePayload">Hide Complete Payload</span>
                        </button>
                    </div>
                </div>
                <div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="fetchingData">
                    <div class="align-self-center text-center">
                        <div class="spinner-border text-dark" role="status">
                            <span class="sr-only">Processing...</span>
                        </div>
                        <div class="text-secondary mt-2">Processing...</div>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch" *ngIf="togglePayload && currState?.body">
                    <div class="w-100">
                        <pre>{{currState?.body|json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <pre>{{currState|json}}</pre>
    <pre>{{currNode|json}}</pre>
    <pre>{{completeData|json}}</pre> -->
</div>

<ng-container *ngFor="let next of currNode.onSuccess">
    <odp-flow-node-view *ngIf="getNextNode(next)" [currNode]="getNextNode(next)" [stateList]="stateList"
        [flowData]="flowData">
    </odp-flow-node-view>
</ng-container>