<div class="flow-node-block mb-3 bg-white p-3">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center align-items-stretch">
                <div class="w-100 mb-4">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <ng-container *ngIf="node.type=='FILE'">
                                    <span class="node-icon dsi dsi-file font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">File Agent</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='API' && node?.options?.path">
                                    <span class="node-icon dsi dsi-api-reciever font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">API Reciever</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='API' && node?.options?.url">
                                    <span class="node-icon dsi dsi-invoke-api font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Invoke API</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='TIMER'">
                                    <span class="node-icon dsi dsi-clock font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Timer</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='CODEBLOCK'">
                                    <span class="node-icon dsi dsi-object font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Code Block</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='CONNECTOR'">
                                    <span class="node-icon dsi dsi-connector font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Connector</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='DATASERVICE'">
                                    <span class="node-icon dsi dsi-data-service font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Data Service</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='FUNCTION'">
                                    <span class="node-icon dsi dsi-function font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Function</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='MAPPING'">
                                    <span class="node-icon dsi dsi-mapping font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Mapping</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='UNWIND'">
                                    <span class="node-icon dsi dsi-expand font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Change Root</span>
                                </ng-container>
                                <ng-container *ngIf="node.type=='RESPONSE'">
                                    <span class="node-icon dsi dsi-response font-16"></span>
                                    <span class="ml-3 font-14 fw-700 text-dark">Response</span>
                                </ng-container>
                            </div>
                            <!-- <span class="dsi dsi-more-vertical-6 mx-3"></span>
                            <div class="px-2 py-1 fw-500 badge" [ngClass]="getStatusBagdeClass()">
                                {{node.state?.status || 'PENDING'}}
                            </div> -->
                        </div>
                        <button type="button" class="btn btn-link btn-sm" (click)="downloadStateData()">
                            Download Complete JSON
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">Name</div>
                <div *ngIf="node.name" class="px-2 header-value w-100 fw-500 text-dark">{{node.name}}</div>
                <div *ngIf="!node.name" class="px-2 header-value w-100 fw-400 text-muted">N.A.</div>
            </div>
            <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">ID</div>
                <div class="px-2 header-value w-100 fw-400 text-dark">{{node._id}}</div>
            </div>
            <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">Type</div>
                <div class="px-2 header-value w-100 fw-400 text-dark">{{node.type}}</div>
                <div *ngIf="showNameOfNodeType" class="px-2 header-value w-100 fw-400 text-primary ml-2">
                    {{nameOfNodeType}}</div>
            </div>
            <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">Start Time</div>
                <div class="px-2 header-value w-100 fw-400 text-dark">{{startTime}}</div>
            </div>
            <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">End Time</div>
                <div class="px-2 header-value w-100 fw-400 text-dark">{{endTime}}</div>
            </div>
            <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">Duration</div>
                <div class="px-2 header-value w-100 fw-400 text-dark">{{duration}}</div>
            </div>
            <ng-container *ngIf="node.type=='API'">
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Content Type</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">
                        {{getContentType(node?.options?.contentType)}}</div>
                </div>
                <div *ngIf="node?.options?.path" class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Path</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">{{node?.options?.path}}</div>
                </div>
                <div *ngIf="node?.options?.url" class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">URL</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">{{node?.options?.url}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">HTTP Method</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">{{node?.options?.method}}</div>
                </div>
                <div *ngIf="node?.options?.url" class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Status Code</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark fw-500" [ngClass]="getStatusClass()">
                        {{node.state?.statusCode}}
                    </div>
                </div>
            </ng-container>
            <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">Status</div>
                <div class="px-2 header-value w-100 fw-500 text-dark" [ngClass]="getStatusClass()">
                    {{node.state.status}}</div>
            </div>
            <!-- <div class="d-flex align-items-center align-items-stretch mb-1">
                <div class="px-2 header-key fw-400 font-12 text-secondary">Status</div>
                <div class="px-2 header-value w-100 fw-400 text-dark fw-500" [ngClass]="getStatusClass()">
                    {{node.state?.status || 'PENDING'}}
                </div>
            </div> -->
            <ng-container *ngIf="node.state?.headers">
                <div class="d-flex align-items-center align-items-stretch mb-1 my-3 ml-1">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center">
                            <span class="dsi dsi-object font-16 mr-2 text-primary"></span>
                            <span class="fw-600">Headers ({{(node.state?.headers | keyvalue).length}})</span>
                        </div>
                        <button type="button" class="btn btn-link btn-sm"
                            (click)="toggle['headers']=!toggle['headers']">
                            {{toggle['headers'] ? 'Hide':'Show'}} Header
                        </button>
                    </div>
                </div>
                <ng-container *ngIf="toggle['headers']">
                    <div class="d-flex align-items-center align-items-stretch mb-1"
                        *ngFor="let item of node.state?.headers | keyvalue">
                        <div class="px-2 header-key fw-400 font-12 text-secondary">{{item.key}}</div>
                        <div class="px-2 header-value w-100 fw-400 text-dark">{{maskValue(item.value,item.key)}}
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="node.state?.retry && node.state?.retry.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th>Retry Count</th>
                        <th>Timestamp</th>
                        <th>Retry Result</th>
                    </tr>
                    <tr *ngFor="let item of node.state.retry">
                        <td>{{item.retryCount}}</td>
                        <td>{{item.timestamp|date:'yyyy MMM dd, HH:mm:ss'}}</td>
                        <td>
                            <pre>{{item.error|json}}</pre>
                        </td>
                    </tr>
                </table>
            </ng-container>

            <ng-container *ngIf="node.type!='RESPONSE'">
                <div class="d-flex align-items-center align-items-stretch mb-1 my-3 ml-1">
                    <div class="w-100 d-flex align-items-center">
                        <span class="dsi dsi-object font-16 mr-2 text-primary"></span>
                        <span class="fw-600">Request Payload</span>
                    </div>
                    <div class="d-flex align-items-center align-items-stretch mb-1">
                        <div class="w-100 px-2">
                            <button type="button" class="btn btn-link btn-sm px-0" (click)="showPayload()">
                                <span *ngIf="!toggle['payload']">Show Complete Payload</span>
                                <span *ngIf="toggle['payload']">Hide Complete Payload</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Type</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">{{node.state?.payload?.type}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Attributes</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">{{node.state?.payload?.attributes}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Total Records</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">{{node.state?.payload?.totalRecords}}
                    </div>
                </div>
                <div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="fetchingData">
                    <div class="align-self-center text-center">
                        <div class="spinner-border text-dark" role="status">
                            <span class="sr-only">Processing...</span>
                        </div>
                        <div class="text-secondary mt-2">Processing...</div>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch ml-2 border rounded p-3"
                    *ngIf="toggle['payload']">
                    <div class="w-100">
                        <pre class="m-0">{{node.state?.body|json}}</pre>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="node.type!='API' || (node.type=='API' && node?.options?.url)">
                <div class="d-flex align-items-center align-items-stretch mb-1 my-3 ml-1">
                    <div class="w-100 d-flex align-items-center">
                        <span class="dsi dsi-object font-16 mr-2 text-primary"></span>
                        <span class="fw-600">Response Data</span>
                    </div>
                    <div class="d-flex align-items-center align-items-stretch mb-1">
                        <div class="w-100 px-2">
                            <button type="button" class="btn btn-link btn-sm px-0" (click)="showResponseBody()">
                                <span *ngIf="!toggle['responseBody']">Show Complete Payload</span>
                                <span *ngIf="toggle['responseBody']">Hide Complete Payload</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Type</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">
                        {{node.state?.responseData?.type}}
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Attributes</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">
                        {{node.state?.responseData?.attributes}}</div>
                </div>
                <div class="d-flex align-items-center align-items-stretch mb-1">
                    <div class="px-2 header-key fw-400 font-12 text-secondary">Total Records</div>
                    <div class="px-2 header-value w-100 fw-400 text-dark">
                        {{node.state?.responseData?.totalRecords}}
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-stretch ml-2 border rounded p-3"
                    *ngIf="toggle['responseBody']">
                    <div class="w-100">
                        <pre class="m-0">{{node.state?.responseBody|json}}</pre>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- <ng-container *ngFor="let next of node.onSuccess">
    <odp-flow-node-view *ngIf="getNextNode(next)" [node]="getNextNode(next)" [stateList]="stateList"
        [flowData]="flowData" [selectedNodeId]="selectedNodeId">
    </odp-flow-node-view>
</ng-container> -->