<div class="default-loader d-flex justify-content-center h-100 w-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-lg fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="workflow-overview-page w-100 " *ngIf="!showLazyLoader">
    <div class="font-22 fw-700">All Records - Workflow</div>
    <div class="row no-gutters">
        <div class="col-3" *ngFor="let srvc of services">
            <div class="bg-white ds-item mr-3 rounded mt-3">
                <div class="px-3 pt-3">
                    <div class="ds-name font-11 fw-500">{{srvc.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>