.workflow-overview-page {
    padding: 36px;
    min-height: calc(100vh - 40px);
    background: #f5f5f8;
  
    .ds-item {
      min-height: 164px;
      max-height: 164px;
      min-width: none;
  
    }
  }