<div class="default-loader d-flex justify-content-center h-100 w-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="workflow-overview-page w-100 " *ngIf="!showLazyLoader">
    <div class="d-flex align-items-center justify-content-between">
        <div class="font-22 fw-700">All Records - Workflow</div>
        <div>
            <odp-search-box (enteredText)="search($event)" (reset)="resetSearch();" tooltipDir="left">
            </odp-search-box>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-3" *ngFor="let srvc of services">
            <div class="bg-white ds-item mr-3 rounded mt-3 hover" (click)="navigate(srvc)">
                <div class="px-3 pt-3">
                    <div class="ds-name font-12 fw-500">{{srvc.name}}</div>
                </div>
                <div class="d-flex flex-column p-3">
                    <div class="d-flex">
                        <div class="d-flex flex-column mr-4">
                            <span class="text-secondary font-11 fw-400">In Create</span>
                            <span class="text-dark font-14 fw-700">{{srvc.count?.new || 0}}</span>
                        </div>
                        <div class="d-flex flex-column ml-5">
                            <span class="text-secondary font-11 fw-400">To Edit</span>
                            <span class="text-dark font-14 fw-700">{{srvc.count?.update || 0}}</span>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="d-flex flex-column mr-4">
                            <span class="text-secondary font-11 fw-400">To Delete</span>
                            <span class="text-dark font-14 fw-700">{{srvc.count?.delete || 0}}</span>
                        </div>
                        <div id="right" class="d-flex flex-column ml-5">
                            <span class="text-secondary font-11 fw-400">To Draft</span>
                            <span class="text-dark font-14 fw-700">{{srvc.count?.draft || 0}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>