<div class="list-wrapper d-flex flex-column w-100 bg-light p-32">
  <!-- <div class="d-flex flex-column w-100" [ngClass]="{'bg-dark':appCenterStyle?.theme === 'dark','bg-white':appCenterStyle?.theme != 'dark'}"> -->
  <div class="d-flex align-items-center justify-content-between border-bottom header">
    <div class="title d-flex align-items-center w-50" *ngIf="schema">
      <!-- <span class="odp-record mr-2 text-primary ml-2"></span> -->
      <span class="text m-0 fw-600 font-24">{{schema?.name}}</span>
    </div>
    <div class="actions w-50 d-flex justify-content-end ignore-outside mb-3" *ngIf="schema">
      <!--<button id="columnsBtn" class="btn btn-link ignore-outside" *ngIf="totalRecords > 0" (click)="showColumnOptions=true;">
          <span class="fa fa-cog mr-2 ignore-outside"></span>
          <span class="text ignore-outside">Columns</span>
        </button>-->
      <!--<button id="uploadDataBtn" type="button" class="btn btn-link mr-3" *ngIf="hasPermission('POST') || hasPermission('PUT')"
          [routerLink]="['/src/services/',schema._id,'filemapper']">
          <span class="fa fa-upload mr-2"></span>
          <span class="text">Upload</span>
        </button>-->
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-link mr-4 font-14">
          <span class="fa fa-download"></span>
          <span> Export All </span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-min-width mr-4" *ngIf="(hasPermission('POST') || hasPermission('PUT'))"
          [routerLink]="['/',selectedAppId,'services',schema._id,'filemapper']">
          <span > Upload </span>
        </button>
        <button id="addDataBtn" type="button" class="btn btn-primary btn-min-width d-flex align-items-center text-white fw-600 font-14"
          *ngIf="hasPermission('POST')" [routerLink]="['/',selectedAppId,'services',schema._id,'manage']">
          <span class="fas fa-plus mr-2"></span>
          <span>Add Data</span>
        </button>
      </div>
    </div>
  </div>
  <div class='bg-white p-2' [formGroup]="searchForm" *ngIf="isSchemaFree && totalRecords > 0">
    <div class='d-flex align-items-center justify-content-between'>
      <div ngbDropdown class="d-inline-block ">
        <button class="btn btn-outline bg-white shadow-none p-0 search-button" ngbDropdownToggle>
          <div class="d-inline-block text-truncate max-width-100 font-bold"
            title="{{selectedSearch? selectedSearch.name : 'All Searches'}}">
            {{selectedSearch? selectedSearch.name : "All Searches"}}
          </div>
        </button>
        <i class="fas fa-chevron-down fa-sm ml-1 search-button hover" ngbDropdownToggle></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem class='search-views px-3'
            (click)='selectSearch();isCollapsed?collapse.toggle():""'>New Search</button>
          <button ngbDropdownItem *ngFor="let filter of savedViews" class="search-views px-3"
            (click)='selectSearch(filter)'>
            <div class="d-flex">
              <div title="{{filter.name}}" class="hover d-inline-block text-truncate max-width-100 mr-2">{{filter.name}}
              </div>
              <div *ngIf="!filter.private" class='ml-auto font-italic text-success'>Public</div>
              <div *ngIf="filter.private" class='ml-auto font-italic text-secondary'>Private</div>
            </div>

          </button>
        </div>
      </div>
      <div class='d-flex align-items-baseline mr-4'>
        <div ngbDropdown class="search-options-section mr-2" *ngIf="selectedSearch && !saveAsNewSearch">
          <i class="fas fa-solid fa-ellipsis-h fa-rotate-90 fa-sm hover" id="searchOption" ngbDropdownToggle></i>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="deleteFilter(selectedSearch)"> Delete</button>
          </div>
        </div>
        <i class="fas fa-chevron-down fa-sm hover" *ngIf="isCollapsed" (click)="collapse.toggle()"></i>
        <i class="fas fa-chevron-up fa-sm hover" *ngIf="!isCollapsed" (click)="collapse.toggle()"></i>
      </div>
    </div>
    <div class='row mr-4 ' *ngIf="selectedSearch && isCollapsed">
      <div class='col-md-4 d-flex align-items-center'>
        <span class='font-bold text-secondary mr-1'>
          Filter:
        </span>
        <span class="d-inline-block text-truncate view-search-parameters hover" title="{{selectedSearch.value.filter}}">
          {{selectedSearch.value.filter}}
        </span>
      </div>
      <div class='col-md-4 d-flex align-items-center'>
        <span class='font-bold text-secondary mr-1'>
          Project:
        </span>
        <span class="d-inline-block text-truncate view-project-sort-parameters hover"
          title="{{selectedSearch.value.project}}">
          {{selectedSearch.value.project}}
        </span>
      </div>
      <div class='col-md-4 d-flex align-items-center'>
        <span class='font-bold text-secondary mr-1'>
          Sort:
        </span>
        <span class="d-inline-block text-truncate view-project-sort-parameters hover"
          title="{{selectedSearch.value.sort}}">
          {{selectedSearch.value.sort}}
        </span>
      </div>
      <!-- <div class='col-md-1 d-flex align-items-center'>
        <span class='font-bold text-secondary'>
          Count &nbsp;:&nbsp;
        </span>
        <span class="d-inline-block text-truncate  hover" title="{{selectedSearch.value.count}}">
          {{selectedSearch.value.count}}
        </span>
      </div>
      <div class='col-md-1 d-flex align-items-center'>
        <span class='font-bold text-secondary mr-1'>
          Page:
        </span>
        <span class="d-inline-block text-truncate hover" title="{{selectedSearch.value.page}}">
          {{selectedSearch.value.page}}
        </span>
      </div> -->
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="schema-free-filter-label pr-4 text-secondary font-bold">Filter :</div>
          </div>
          <input type="text" class="form-control" formControlName='filter' class="sf-min-width schema-free-filters">
          <small class='text-danger' *ngIf="searchForm.get('filter').hasError('validJSON')">Invalid Format</small>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="schema-free-filter-label pr-3 text-secondary font-bold">Project :</div>
          </div>
          <input type="text" class="form-control" formControlName='project' class="sf-min-width schema-free-filters">
          <small class='text-danger'
            *ngIf="searchForm.get('project').hasError('validJSON') || searchForm.get('project').hasError('validSearch')">Invalid
            Format</small>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="schema-free-filter-label pr-3 text-secondary font-bold">Sort :</div>
              </div>
              <input type="text" class="form-control" formControlName='sort' class="sf-min-width schema-free-filters">
              <small class='text-danger'
                *ngIf="searchForm.get('sort').hasError('validJSON') || searchForm.get('sort').hasError('validSearch')">Invalid
                Format</small>
            </div>
          </div>
          <!-- <div class="col-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="schema-free-filter-label pr-1 text-secondary font-bold">Count :</div>
              </div>
              <input type="number" formControlName='count' class="page-count-filters page-count-width" min="0">
              <small class='text-danger' *ngIf="!searchForm.get('count').valid">Please enter a positive count</small>
            </div>
          </div>
          <div class="col-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="schema-free-filter-label pr-1 text-secondary font-bold">Page :</div>
              </div>
              <input type="number" formControlName='page' class="page-count-filters page-count-width" min="0">
              <small class='text-danger' *ngIf="!searchForm.get('page').valid">Please enter a positive page</small>
            </div>
          </div> -->

        </div>


        <div class='d-flex justify-content-end mr-2'>
          <div>
            <button class='btn btn-outline btn-link' (click)='clearSearch()'>Clear All</button>
          </div>
          <div>
            <button class="btn btn-outline-primary mr-2 btn-min-width" (click)='saveSearchViewModal()'
              *ngIf="!saveAsNewSearch" [disabled]="!(searchForm.get('project').valid &&
            searchForm.get('filter').valid && searchForm.get('sort').valid)">
              Save View
            </button>
            <button class="btn btn-outline-primary btn-min-width mr-2" (click)='saveSearchViewModal()'
              *ngIf="saveAsNewSearch" [disabled]="!(searchForm.get('project').valid &&
            searchForm.get('filter').valid && searchForm.get('sort').valid)">Save
              as New Search</button>
            <button class="btn btn-primary btn-min-width" (click)='run()' [disabled]="!(searchForm.get('project').valid &&
            searchForm.get('filter').valid && searchForm.get('sort').valid)">
              Run
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between pr-3 pl-2 list-options"
    [ngClass]="{'border-bottom': !advanceFilter}" *ngIf="totalRecords>0">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center hover" (click)="selectAllRecords()" *ngIf="!listGrid?.showLoading">
        <odp-round-check [checked]="checkAll" [white]="true" (checkedChange)="selectAllRecords()"></odp-round-check>
        <strong class="text-primary ml-2">Select all </strong>
      </div>
      <button id="clearFiltersBtn" type="button" class="btn btn-link" *ngIf="hasFilters" (click)="clearFilters()">
        <span class="fa fa-times mr-2"></span>
        <span class="text">Clear filters</span>
      </button>
      <button id="clearSortBtn" type="button" class="btn btn-link" *ngIf="hasSort" (click)="clearSort()">
        <span class="fa fa-times mr-2"></span>
        <span class="text">Clear sort</span>
      </button>
      <button id="exportBtn" type="button" class="btn btn-link" *ngIf="recordChecked && hasPermission()"
        (click)="exportData()">
        <span class="fa fa-download mr-2"></span>
        <span class="text">Export ({{recordChecked}})</span>
      </button>
      <!-- <button id="exportAllBtn" type="button" class="btn btn-link" *ngIf="!recordChecked && hasPermission()"
        (click)="exportData()">
        <span class="fa fa-download mr-2"></span>
        <span class="text">Export All</span>
      </button> -->
      <button id="deleteRecordBtn" type="button" class="btn btn-link"
        *ngIf="recordCheckedForDelete && hasPermission('DELETE')" (click)="workflowAlert()">
        <span class="odp-trash mr-2"></span>
        <span class="text">Delete ({{recordCheckedForDelete}})</span>
      </button>
      <button id="_viewBtn" type="button" class="btn btn-link" *ngIf="recordChecked && recordChecked==1"
        (click)="view()">
        <span class="fa fa-eye mr-2"></span>
        <span class="text">View</span>
      </button>
      <button type="button" class="btn btn-link"
        *ngIf="recordChecked && recordChecked==1 && hasPermission('PUT') && canEdit" (click)="edit()" id="editButton">
        <span class="odp-edit mr-2"></span>
        <span class="text">Edit</span>
      </button>
      <button type="button" class="btn btn-link"
        *ngIf="recordChecked > 1 && hasPermission('PUT') && canEdit && !isSchemaFree" (click)="bulkEdit()"
        id="bulkEditButton">
        <span class="odp-edit mr-2"></span>
        <span class="text">Bulk Edit ({{recordChecked}})</span>
      </button>
    </div>
    <div class="d-flex align-items-center">
      <div class="text-danger mr-3 hover font-sm d-flex align-items-center font-weight-bold"
        *ngIf="selectedSavedView || hasFilterFromUrl || selectedSearch" (click)="resetFilter();">
        <span class="fas fa-redo fa-flip-horizontal"></span>
        <span class="pl-2">Reset Filter</span>
      </div>
      <div class="text-gray-medium mr-3" *ngIf="loadedRecordsCount">
        <label class="m-0">Showing {{loadedRecordsCount}} of {{currentTotalCount}}</label>
      </div>

      <div class="bg-white p-2 mr-3 view-container d-flex align-items-center hover position-relative ignore-outside"
        *ngIf="!isSchemaFree">
        <div class="d-flex align-items-center w-100 ignore-outside" [ngClass]="{'disabled': apiCallsPending}"
          (click)="showSaveViewDropDown=!showSaveViewDropDown">
          <div class="ignore-outside">
            <span class="fa fa-search text-gray-medium mr-1 ignore-outside" *ngIf="!selectedSavedView?.name"></span>
            <span class="fa fa-search text-primary mr-1 ignore-outside" *ngIf="selectedSavedView?.name"></span>
            <span class="ignore-outside"
              [ngClass]="{'text-primary font-weight-bold': selectedSavedView?.name, 'text-gray-medium': !selectedSavedView?.name}">{{
              selectedSavedView?.name ? selectedSavedView?.name : 'Saved Views' }}</span>
          </div>
          <div class="ml-auto ignore-outside">
            <span class="fas fa-angle-down text-primary ignore-outside"></span>
          </div>
        </div>
        <div class="position-absolute filter-list bg-white d-flex flex-column ignore-outside"
          *ngIf="showSaveViewDropDown" odpClickOutside (outside)="showSaveViewDropDown = false">
          <div class="py-2 px-3 w-100 text-secondary filter-list-type d-flex align-items-center ignore-outside"
            [ngClass]="{'border-bottom': !showSearchSavedView}">
            <span class="mr-2 pr-2 border-right ignore-outside hover" *ngIf="!showSearchSavedView"
              (click)="showPrivateViews=false;filterSavedViews()" [ngClass]="{'text-primary': !showPrivateViews}">
              <strong>Everyone</strong>
            </span>
            <span *ngIf="!showSearchSavedView" class="ignore-outside hover"
              [ngClass]="{'text-primary': showPrivateViews}" (click)="showPrivateViews=true;filterSavedViews()">
              <strong>Only Me</strong>
            </span>
            <span class="text-primary fas fa-arrow-left hover ignore-outside" *ngIf="showSearchSavedView"
              (click)="showSearchSavedView = false;savedViewSearchTerm='';filterSavedViews()"></span>
            <div class="ml-auto hover ignore-outside" *ngIf="!showSearchSavedView && savedViews.length > 0"
              (click)="showSearchSavedView = true">
              <span class="fas fa-search text-muted ignore-outside"></span>
            </div>
            <div class="position-relative ml-3 w-100 ignore-outside" *ngIf="showSearchSavedView">
              <input type="text" class="form-control pl-4 py-2 pr-2 ignore-outside" [(ngModel)]="savedViewSearchTerm"
                placeholder="Search save view" (keyup.enter)="filterSavedViews()" odpAutoFocus>
              <span class="fas fa-search text-muted position-absolute srch-icon-pos ignore-outside"></span>
            </div>
          </div>
          <div *ngIf="savedViews.length > 0; else noFilters" class="h-100 sub-container">
            <div *ngFor="let filter of savedViews"
              class="filter-name p-3 d-flex align-items-center position-relative ignore-outside"
              (mouseenter)="filter.hasOptions && filter.showOptions = true"
              (mouseleave)="filter.hasOptions && filter.showOptions = false">
              <span *ngIf="filter.private" class="fas fa-unlock-alt text-muted ml-2 mr-4"></span>
              <span *ngIf="!filter.private" class="fas fa-globe text-muted ml-2 mr-4"></span>
              <span class="hover text-truncate filterNameWidth"
                (click)="advanceFilter = false; selectSavedView({'query':filter});showSaveViewDropDown=false"
                [odpTruncated]="filter.name">{{ filter.name }}</span>
              <span *ngIf="!filter.showOptions" class="text-secondary ml-auto position-absolute un-pos">
                {{ filter.user }}
              </span>
              <span *ngIf="filter.hasOptions && !filter.showOptions"
                class="fas fa-ellipsis-h text-muted hover position-absolute ellipses-pos"></span>
              <div *ngIf="filter.hasOptions && filter.showOptions" class="ml-auto d-flex align-items-center hover"
                [@slideIn]>
                <span class="odp-edit icon-color mr-3" (click)="editFilter(filter)"></span>
                <span class="fas fa-trash icon-color mr-3" (click)="deleteFilter(filter)"></span>
                <div class="left-radius position-relative hover"
                  [ngClass]="{'bg-white': !filter.private, 'bg-primary': filter.private}"
                  (click)="changeFilterType(filter, 'private')">
                  <span class="fas fa-unlock-alt position-absolute icon-pos"
                    [ngClass]="{'text-secondary': !filter.private, 'text-white': filter.private}"></span>
                </div>
                <div class="right-radius bg-white position-relative hover mr-2"
                  [ngClass]="{'bg-white': filter.private, 'bg-primary': !filter.private}"
                  (click)="changeFilterType(filter, 'public')">
                  <span class="fas fa-globe position-absolute icon-pos"
                    [ngClass]="{'text-secondary': filter.private, 'text-white': !filter.private}"></span>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noFilters>
            <div class="text-secondary p-3">No filters are defined for this service yet</div>
          </ng-template>
        </div>
      </div>
      <div class="p-1 filter-icon position-relative hover"
        [ngClass]="{'full-br': !advanceFilter, 'half-br': advanceFilter, 'bg-white': !selectedSavedView?.name || advanceFilter, 'bg-primary': selectedSavedView?.name && !advanceFilter, 'disabled': apiCallsPending}"
        (click)="advanceFilter=!advanceFilter" *ngIf="!isSchemaFree">
        <span *ngIf="!advanceFilter" class="fas fa-filter position-absolute"
          [ngClass]="{'text-primary': !selectedSavedView?.name, 'text-white': selectedSavedView?.name}"></span>
        <div *ngIf="selectedSavedView?.name" class="bg-white position-absolute sm-circle"></div>
        <span *ngIf="advanceFilter" class="fas fa-times text-muted position-absolute"></span>
      </div>
    </div>
  </div>
  <div class="no-record text-center mx-2 mt-2 bg-white rounded" *ngIf="!apiCallsPending && totalRecords==0">
    <div class="no-records-img mx-auto"></div>
    <h4 class="text-muted">This data service does not have any records, yet. <span *ngIf="hasPermission('POST')">You
        could get started by <a [routerLink]="['/',selectedAppId,'services',schema._id,'manage']">adding
          data</a>.</span>
    </h4>
  </div>
  <odp-list-filters #listFilters *ngIf="advanceFilter" [allColumns]="definition" [allFilters]="allFilters"
    (filterCleared)="resetFilter(true)" (refine)="onRefine($event)">
  </odp-list-filters>

  <div *ngIf="!apiCallsPending && totalRecords>0" class="list-page-wrapper row m-0 position-relative bg-white"
    [ngClass]="{'has-records':totalRecords>0}">
    <div class="data-container p-0 w-100" #dataContainer [ngClass]="{'border-top': advanceFilter}"
      *ngIf="totalRecords>0" odpClickOutside (outside)="showContextMenu = false" (click)="closeContextMenu();"
      (contextmenu)="false">
      <odp-list-ag-grid #listGrid *ngIf="definition && definition.length >0" [schema]="schema" [columns]="definition"
        [selectAll]="selectAll" [applySavedView]="applySavedView" (removedSavedView)="removedSavedView($event)"
        (selectedRecords)="selectedRecords($event)" (viewRecord)="view($event._id)"
        (recordsInfo)="currentTotalCount=$event.total;loadedRecordsCount=$event.loaded"
        (rightClick)="onRightClick($event)" (scroll)="showContextMenu = false"></odp-list-ag-grid>
      <div class="  d-flex flex-column  position-absolute  context-menu" *ngIf="showContextMenu"
        [ngStyle]="getPosition()">
        <!-- [ngStyle]="getPosition()" (contextmenu)="false"> -->

        <ng-container *ngIf="recordChecked<2">

          <button class="btn btn-link d-flex w-100" (click)="exportData(selectedRow.data._id)">
            <span class="fa fa-download mr-2 mt-1"></span> <span>Export</span>
          </button>
          <button class="btn btn-link d-flex w-100" (click)="view(selectedRow.data._id)">
            <span class="fa fa-eye mr-2 mt-1"></span> <span>View</span>
          </button>
          <button class="btn btn-link d-flex w-100" *ngIf="hasPermission('PUT') && canEdit"
            (click)="edit(selectedRow.data._id)">
            <span class="odp-edit mr-2 mt-1"></span><span>Edit</span>
          </button>
          <button class="btn btn-link d-flex w-100" *ngIf="hasPermission('POST')"
            (click)="cloneRecord(selectedRow.data._id)">
            <span class="fa fa-copy mr-2 mt-1"></span><span>Clone</span></button>
          <button class="btn btn-link d-flex   w-100" *ngIf="hasPermission('DELETE')"
            (click)="workflowAlert(selectedRow.data._id)">
            <span class="odp-trash mt-1 mr-2"></span> <span>Delete</span></button>
        </ng-container>
        <ng-container *ngIf="recordChecked >1">
          <button id="exportBtn" type="button" class="btn btn-link d-flex w-100"
            *ngIf="recordChecked && hasPermission()" (click)="exportData()">
            <span class="fa fa-download mr-2 mt-1"></span>
            <span class="text">Export ({{recordChecked}})</span>
          </button>
          <button type="button" class="btn btn-link d-flex w-100"
            *ngIf="recordChecked > 1 && hasPermission('PUT') && canEdit" (click)="bulkEdit()" id="bulkEditButton">
            <span class="odp-edit mr-2 mt-1"></span>
            <span class="text">Bulk Edit ({{recordChecked}})</span>
          </button>
          <button id="deleteRecordBtn" type="button" class="btn btn-link d-flex w-100"
            *ngIf="recordCheckedForDelete && hasPermission('DELETE')" (click)="workflowAlert()">
            <span class="odp-trash mr-2 mt-1"></span>
            <span class="text">Delete ({{recordCheckedForDelete}})</span>
          </button>

        </ng-container>
      </div>
    </div>
  </div>
  <div class="list default-loader d-flex justify-content-center w-100" *ngIf="apiCallsPending">
    <div class="align-self-center text-center">
      <span class="fa fa-spinner fa-pulse fa-3x"></span>
      <div class="text-secondary mt-2">Processing...</div>
    </div>
  </div>
</div>
<ng-template #confirmDeleteModal>
  <div class="modal-header alert">
    <h4 class="modal-title text-danger">{{ deleteModal.title }}</h4>
    <button id="deleteModalCloseBtn" type="button" class="btn no-focus close" aria-label="Close"
      (click)="confirmDeleteModalRef.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">{{ deleteModal.message }}</p>
  </div>
  <div class="modal-footer">
    <button id="deleteModalCancelBtn" type="button" class="btn btn-secondary px-4 btn-min-width"
      (click)="confirmDeleteModalRef.close(false)">No</button>
    <button id="deleteModalYesBtn" type="button" class="btn btn-danger px-4 btn-min-width"
      (click)="confirmDeleteModalRef.close(true)">Yes</button>
  </div>
</ng-template>

<ng-template #workflowModal id="_workflowModal">
  <div class="modal-header bg-dark p-2">
    <h4 class="modal-title text-white">Delete record</h4>
    <button id="workflowModalCloseBtn" type="button" class="btn no-focus close" aria-label="Close"
      (click)="workflowModalRef.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0 d-flex flex-column">
    <div class="d-flex flex-column bg-light font-weight-bold">
      <div class="d-flex align-items-start px-3 pt-3">
        <span *ngIf="workflowModalOptions.operation == 'POST'" class="text-primary d-flex align-items-center mr-2">
          <span class="odp-plus-circle mr-1"></span>
          <span>Create:</span>
        </span>
        <span *ngIf="workflowModalOptions.operation == 'PUT'" class="text-warning d-flex align-items-center mr-2">
          <span class="odp-edit fa-lg mr-1"></span>
          <span>Edit:</span>
        </span>
        <span *ngIf="workflowModalOptions.operation == 'DELETE'" class="text-danger d-flex align-items-center mr-2">
          <span class="odp-trash mr-1"></span>
          <span>Delete:</span>
        </span>
        <span class="text-dark word-break">{{workflowModalOptions._id}}</span>
      </div>
      <div class="d-flex align-items-center justify-content-between p-3">
        <span class="d-flex align-items-center">
          <span class="text-secondary mr-1">Submitted by</span>
          <span *ngIf="workflowModalOptions?.requestedBy?.length <= 52">{{workflowModalOptions?.requestedBy}}</span>
          <span *ngIf="workflowModalOptions?.requestedBy?.length > 52" class="text-truncate requestedBy high-zIndex"
            [ngbTooltip]="workflowModalOptions?.requestedBy"
            placement="top">{{workflowModalOptions?.requestedBy}}</span>
        </span>
        <span *ngIf="workflowModalOptions.operation == 'PUT'" class="d-flex align-items-center">
          <span class="text-secondary mr-1">Field(s) affected</span>
          <span>{{workflowModalOptions.fields}}</span>
        </span>
      </div>
    </div>
    <div class="d-flex flex-column p-3">
      <div class="d-flex">
        <label for="comments" class="font-weight-bold m-0">Attachments:</label>
        <div class="d-flex flex-column align-items-start pl-3 w-100">
          <input #workflowFileUploadInput class="d-none" type="file" name="workflowFileUpload" id="workflowFileUpload"
            (change)="uploadWorkflowFile($event)">
          <button class="btn btn-link p-0" (click)="workflowFileUploadInput.click()">
            <span class="fa fa-paperclip mr-1"></span>
            <span class="text">Add</span>
          </button>
          <div class="d-flex align-items-center justify-content-between w-100"
            *ngFor="let file of workflowFilesList;let fileIndex=index;">
            <div class="d-flex align-items-center">
              <span class="text-primary text-truncate fileName-width" [ngbTooltip]="file.name"
                placement="top">{{file.name}}</span>
              <small class="text-secondary ml-2">({{file.size|filesize}})</small>
            </div>
            <button class="btn btn-sm btn-link text-danger" (click)="removeWorkflowFile(fileIndex)">Remove</button>
          </div>
        </div>
      </div>
      <label for="comments" class="text-secondary">Comments</label>
      <textarea id="comments" class="form-control" [ngClass]="{'is-invalid':requiredError}"
        placeholder="Comments are required to delete this documents" [formControl]="respondControl"
        odpAutoFocus></textarea>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-outline-primary min-width-control" id="workflowModalCancelBtn"
          (click)="workflowModalRef.close(false)">Cancel</button>
        <button class="btn btn-success min-width-control" id="workflowModalSubmitBtn"
          (click)="closeModal()">Submit</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #createNewFilter>
  <div class="modal-header alert">
    <h4 class="modal-title">Save Filter View</h4>
    <button id="clearModalCloseBtn" type="button" class="btn no-focus  close" aria-label="Close"
      (click)="createNewFilterRef.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" [formGroup]='searchForm'>
    <div class='mb-3'>
      <div>Search Name</div>
      <input type="text" class='form-control' formControlName='name'
        [ngClass]="{'is-invalid': (!searchForm.get('name').valid && searchForm.get('name').touched) }">
      <small class='text-danger' *ngIf="(!searchForm.get('name').valid && searchForm.get('name').touched)">
        Search Name is required
      </small>
    </div>
    <div class='d-flex mb-3'>
      <div class='text-secondary font-normal font-bold mr-3'>
        Filter:
      </div>
      <div class="d-inline-block text-truncate mw-100">
        {{searchForm.controls.filter.value}}
      </div>
    </div>
    <div class='d-flex mb-3'>
      <div class='text-secondary font-normal font-bold mr-3'>
        Project:
      </div>
      <div class="d-inline-block text-truncate mw-100">
        {{searchForm.controls.project.value}}
      </div>
    </div>
    <div class='d-flex mb-3'>
      <div class='text-secondary font-normal font-bold mr-3'>
        Sort:
      </div>
      <div class="d-inline-block text-truncate mw-100">
        {{searchForm.controls.sort.value}}
      </div>
    </div>
    <!-- <div class='d-flex mb-3 justify-content-between'>
      <div class="d-flex w-50">
        <div class='text-secondary font-normal font-bold mr-3'>
          Count:
        </div>
        <div class="d-inline-block text-truncate mw-100">
          {{searchForm.controls.count.value}}
        </div>
      </div>
      <div class="d-flex w-50">
        <div class='text-secondary font-normal font-bold mr-3'>
          Page:
        </div>
        <div class="d-inline-block text-truncate mw-100">
          {{searchForm.controls.page.value}}
        </div>
      </div>
    </div> -->
    <div class='font-bold'>
      Select Filter visilibilty
    </div>
    <label class="mr-4">
      <input type="radio" [value]=false formControlName="private" class="mr-2">
      <span>Public</span>
    </label>
    <label>
      <input type="radio" [value]=true formControlName="private" class="mr-2">
      <span>Private</span>
    </label>

  </div>
  <div class="modal-footer">
    <button id="clearModalCancelBtn" type="button" class="btn btn-outline-primary px-4 btn-min-width"
      (click)="createNewFilterRef.close(false)">
      Cancel
    </button>
    <button id="clearModalYesBtn" type="button" class="btn btn-primary px-4 btn-min-width"
      (click)="createNewFilterRef.close(true)" [disabled]="!searchForm.valid">Save
    </button>
  </div>
</ng-template>

<ng-template #clearFilterModal>
  <div class="modal-header alert">
    <h4 class="modal-title text-danger">Save Filter View</h4>
    <button id="clearModalCloseBtn" type="button" class="btn no-focus  close" aria-label="Close"
      (click)="clearFilterModalRef.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">Current filters will be applied and other filters will be removed?</p>
  </div>
  <div class="modal-footer">
    <button id="clearModalCancelBtn" type="button" class="btn btn-secondary px-4 btn-min-width"
      (click)="clearFilterModalRef.close(false)">
      No
    </button>
    <button id="clearModalYesBtn" type="button" class="btn btn-danger px-4 btn-min-width"
      (click)="clearFilterModalRef.close(true)">Yes
    </button>
  </div>
</ng-template>

<div class="overlay" *ngIf="secureFileId"></div>

<div [ngClass]="{'show':secureFileId}" class="download-window position-fixed border-left bg-white p-3"
  *ngIf="secureFileId">
  <div class="d-flex align-items-center justify-content-between">
    <h3>Download File</h3>
    <button type="button" class="btn btn-link p-0" (click)="closeSecureFileDownload()">
      <span class="fa fa-times fa-lg"></span>
    </button>
  </div>
  <hr>
  <div class="mt-3">
    <ng-container>
      <p class="mt-4">File Password</p>
      <input class="form-control" type="password" [(ngModel)]="fileEncryptionKey" required>
    </ng-container>
  </div>
  <div class="mt-4 d-flex align-items-center justify-content-between">
    <button type="button" class="btn-min-width btn btn-dark mr-3" (click)="closeSecureFileDownload()">Cancel</button>
    <button type="button" class="btn-min-width btn btn-success" (click)="downloadSecureFile($event)">Download</button>
  </div>
</div>