@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.top-bar {
  min-height: 40px;
  max-height: 40px;
}

.header {
  .title {
    font-size: 16px;
  }
}

.list-page-wrapper {
  min-height: calc(100vh - 240px);

  &.has-records {
    min-height: calc(100vh - 280px);
  }
}

.list-options {
  min-height: 48px;
  max-height: 48px;

  .filter-icon {
    width: 32px;
    height: 32px;

    span {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.filter-name {
  white-space: nowrap;
}

.filter-list {
  height: 320px;
  width: 360px;
  box-shadow: 0 1px 5px rgba($black, 0.4);
  top: 40px;
  right: 0;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;

  .filter-list-type {
    min-height: 42px;
    max-height: 42px;
  }

  .filter-name {
    height: 40px;

    &:hover {
      background-color: $light;
    }
  }

  .filter-search {
    input {
      text-indent: 16px;
      height: 30px;
    }

    .srch-icon-pos {
      top: 6px;
      left: 8px;
    }
  }

  .sub-container {
    overflow-y: auto;
    overflow-x: hidden;

    .filterNameWidth {
      max-width: 150px;
    }
  }
}

.word-break {
  word-break: break-word;
}

.requestedBy {
  max-width: 350px;
}


.icon-color {
  color: $gray-medium;
}

.filter-type {
  width: 32px;
  height: 32px;
  border: 1px solid $border;
}

.left-radius {
  @extend .filter-type;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.right-radius {
  @extend .filter-type;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: -1px;
}

.icon-pos {
  top: 8px;
  left: 8px;
}

.fileName-width {
  max-width: 150px;
}

.default-loader {
  height: calc(100vh - 40px);
}

.disabled {
  cursor: not-allowed;
}

.context-menu {
  min-width: 200px;
  max-width: 200px;
  min-height: 30px;
  max-height: 160px;
  background: #fff 0 0 no-repeat padding-box;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.16);
  border: 1px solid #ececec;
  border-radius: 6px;
  opacity: 1;
  align-items: flex-start;

  button {
    &:hover {
      background-color: $light;
    }
  }
}

.no-focus {
  box-shadow: none !important;
}

.sort-input-mw {
  width: 90%;
}

.schema-free-filters,
.schema-free-filter-label,
.page-count-filters {
  outline: none;
  border: 0;
  background: none;
  // border-bottom: 1px solid #ececec;
}

.sf-min-width {
  width: 93%;
}

.schema-free-filter-label {
  min-width: 70px;
}

.dropdown-toggle::after {
  margin: auto 0;
  margin-left: 16px;
}

.search-options-section {
  .dropdown-toggle::after {
    display: none;
  }
}

.search-button {
  &.dropdown-toggle::after {
    display: none !important;
  }
}

.page-count-width {
  width: 50%;
}

.max-width-100 {
  max-width: 100px;
}

.view-search-parameters {
  max-width: 270px;
}

.view-project-sort-parameters {
  max-width: 180px;
}

.search-views {
  &.dropdown-item:active {
    background: none;
    color: #000;
  }

  &.dropdown-item:focus {
    outline: none;
  }
}

.sort-filter {
  width: 64%;
}

.download-window {
  height: 100%;
  width: 360px;
  right: -360px;
  // top: 128px;
  top: 0px;
  z-index: 1060;

  &.show {
    right: 0;
  }
}

.input-dim {
  width: 300px;
  min-height: 40px;
  max-height: 40px;
}