<div class="d-flex flex-column w-100 bg-light position-relative vh-100">
    <div class="d-flex flex-column w-100">
        <!-- <div class="header d-flex align-items-center justify-content-between bg-light"> -->
        <!-- <div class="title d-flex align-items-center ml-2">
                <span class="odp-record text-primary mr-2"></span>
                <span class="font-weight-bold m-0">Data Service</span>
                <div class="mx-2">
                    <span class="text-secondary">/</span>
                </div>
                <div class="text-secondary">{{schema?.name}}</div>
                <div class="mx-2">
                    <span class="text-secondary">/</span>
                </div>
                <div class="text-secondary">{{value?._id}}</div>

            </div> -->

        <!-- </div> -->
        <div *ngIf="documentLocked && !inReview" class="document-locked d-flex align-items-center">
            <span class="fa fa-lock text-warning mr-2"></span>
            <span class="text-secondary mr-2">This record is under review.</span>
        </div>
        <div class="bg-light actions d-flex pr-3 w-100 ml-4">
            <div class="d-flex my-auto">
                <span class="dsi dsi-arrow-left text-secondary my-auto mr-3 hover"
                    [routerLink]="['/', currentAppId, 'services', schema._id, 'list']"></span>
                <div class="fw-600 font-24 id-wrap">
                    {{value._id}}
                </div>
            </div>

            <div class="d-flex">
                <!-- <div *ngIf="showVersionHistory" class="d-flex align-items-center justify-content-between mr-2">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-between">
                            <button (click)="toggleVerHistory($event)"
                                class="btn px-3 mr-3 history-version-button show-history bg-white" type="button">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="text-warning font-weight-bold font-lg m-0">
                                        {{selectedAudit?.data._version}}
                                    </h6>
                                    <span [ngbTooltip]="selectedAudit?.name"
                                        class="font-13 text-primary font-weight-bold text-truncate"
                                        placement="top">{{selectedAudit?.name}}</span>
                                    <span class="text-primary fa fa-angle-down"></span>
                                </div>
                            </button>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fa fa-calendar-alt text-muted"></span>
                            <label class="ml-2 mb-0 text-dark font-sm">
                                {{selectedAudit?.timeStamp|date:'dd-MMM-yyyy hh:mm:ssa'}}
                            </label>
                        </div>
                    </div>
                </div> -->
            </div>
            <div *ngIf="inReview" class="d-flex align-items-center">
                <span class="text-warning mr-1 odp-lock"></span>
                <span class="text-secondary mr-2">{{workflowData._createdAt | date:'dd-MMM-yyyy hh:mm:ss a'}}</span>
                <button (click)="scrollToRespond()" id='responseBtn'
                    class="btn btn-primary px-3 ignore-outside responseBtncls" type="button">
                    <span class="text ignore-outside">Respond</span>
                </button>
                <button [routerLink]="['/', currentAppId, 'services', schema._id, 'list']" class="btn btn-link px-3"
                    type="button">
                    <span class="fa fa-angle-left mr-2"></span>
                    <span class="text">Back</span>
                </button>
            </div>
            <div *ngIf="!showVersionHistory && !inReview && !showLazyLoader"
                class="d-flex align-items-center ml-auto mr-4">
                <!-- <button (click)="workflowAlert()" *ngIf="hasPermission('DELETE') && !documentLocked"
                    class="btn btn-link px-3" type="button">
                    <span class="fa fa-trash mr-2 font-13"></span>
                    <span class="text font-13">Delete</span>
                </button> -->
                <button (click)="toggleHistory()" *ngIf="auditAvailable"
                    class="btn btn-link px-3 mr-3 d-flex align-items-center" type="button">
                    <span class="dsi dsi-clock mr-2 font-14"></span>
                    <span class="text font-13">History</span>
                </button>
                <button (click)="review()" *ngIf="canReview" class="btn btn-outline-primary">Review</button>
                <button (click)="manage(value._id)" *ngIf="hasPermission('PUT') && !documentLocked"
                    class="btn btn-primary px-3 btn-min-width" id="_editButton" type="button">
                    <span class="text">Edit</span>
                </button>
                <!-- <button [routerLink]="['/', currentAppId, 'services', schema._id, 'list']" class="btn btn-link px-3"
                    type="button">
                    <span class="fa fa-angle-left mr-2 font-13"></span>
                    <span class="text font-13">Back</span>
                </button> -->
            </div>
            <div *ngIf="showVersionHistory && auditAvailable" class="d-flex align-items-center ml-auto mr-4">
                <div *ngIf="selectedAudit?.wfData && selectedAudit?.wfData?.length>0" class="d-flex">
                    <span (click)="showVersionHistoryWF=!showVersionHistoryWF;$event.stopPropagation()"
                        class="text-warning font-13 mr-3 font-weight-bold hover ignore-outside">
                        <span class="odp-lock"></span>
                        <span class="ml-2">Workflow</span>
                    </span>
                    <div *ngIf="showVersionHistoryWF" class="workflow-content rounded border bg-light" odpClickOutside
                        (outside)="showVersionHistoryWF=false">
                        <odp-workflow-history [auditList]="selectedAudit?.wfData"></odp-workflow-history>
                    </div>
                </div>
                <button class="btn btn-outline-dark btn-min-width hover rounded"
                    (click)="showVersionHistory=false;clearVersion()">
                    Exit History
                </button>
            </div>
        </div>
    </div>
    <odp-history *ngIf="schema?._id" [(toggle)]="showHistoryDropdown" [schema]="schema" [documentId]="id"
        (auditAvailable)="auditAvailable=$event" (selectedAudit)="selectAudit($event)" (compare)="compareVersion()">
    </odp-history>

    <div (outside)="showBlackOutModal = false" *ngIf="showBlackOutModal" odpClickOutside>
        <div class="d-flex bg-dark blackout">
        </div>
    </div>
    <div class="d-flex align-items-center px-4 bg-white mr-4 ml-4 mb-2 mt-2 rounded" style="min-height: 72px"
        *ngIf="wizard.length > 0 || showVersionHistory || stateModelAttr">
        <div class='state-model d-flex align-items-center ' *ngIf='!showLazyLoader && stateModelAttr'>
            <span class='mr-2 font-13 fw-500 state-version hover m-auto' style="color: #484848"
                title="{{stateModelName}}">{{stateModelName}}</span>

            <input class='btn-min-width border rounded font-12 ml-3 pl-2'
                *ngIf="(!showVersionHistory || (showVersionHistory && !stateModelCreated && !stateModelUpdated))"
                [value]="stateModelAttrVal" disabled>

            <div class='history-value p-2 font-sm' *ngIf="showVersionHistory && stateModelCreated">
                <!-- <span class='text-secondary mr-2'>Created</span> -->
                <span class='text-muted'>{{ activeAuditNewData[stateModelAttr] }}</span>
            </div>
            <div class='d-flex' *ngIf="showVersionHistory && stateModelUpdated">
                <div class='history-value p-2 font-sm mr-2 state-version'>
                    <!-- <span class='text-secondary mr-2'>From</span> -->
                    <span class='text-muted text-decoration-line-through hover'
                        title="{{stateModelVersionData(activeAuditOldData)}}">{{
                        stateModelVersionData(activeAuditOldData) }}</span>
                </div>
                <div class='history-value p-2 font-sm state-version'>
                    <!-- <span class='text-secondary mr-2'>To</span> -->
                    <span class='text-muted hover' title="{{stateModelVersionData(activeAuditNewData)}}">{{
                        stateModelVersionData(activeAuditNewData) }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="showVersionHistory" class="d-flex align-items-center justify-content-between mr-2">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                    <button (click)="toggleVerHistory($event)"
                        class="btn btn-white mr-3 history-version-button border border-grey" type="button">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="font-14 fw-500 mr-2 text-primary">
                                {{selectedAudit?.data._version}}
                            </span>
                            <span [ngbTooltip]="selectedAudit?.name" class="text-dark fw-500 text-truncate"
                                placement="top">{{selectedAudit?.name}}</span>
                            <span class="text-primary dsi dsi-drop-down ml-3"></span>
                        </div>
                    </button>
                </div>
                <div class="d-flex align-items-center">
                    <span class="dsi dsi-calendar text-muted"></span>
                    <i class="ml-2 mb-0 text-dark">
                        {{selectedAudit?.timeStamp|date:'dd-MMM-yyyy hh:mm:ssa'}}
                    </i>
                </div>
            </div>
        </div>
        <div>
            <ng-container *ngFor="let step of wizard;let stepIndex = index">
                <div *ngIf="step.actions && step.actions.length>0 && active[stepIndex]"
                    class="d-flex experience-hooks px-3 align-items-center ml-auto">
                    <!-- <div class="text-secondary font-weight-bold w-100 text-nowrap">Available Actions</div> -->
                    <!-- <div class="d-flex experience-hooks-buttons ml-auto"> -->
                    <button (click)="triggerHook(ac)" *ngFor="let ac of step.actions"
                        class="btn btn-min-width btn-outline-dark experience-hooks-btn mr-3 fw-600"
                        type="button">{{ac.name}}</button>
                    <!-- </div> -->
                    <!-- <div class="d-flex position-relative">
                    <button (click)="$event.stopPropagation();toggleAllActionsDropDown = !toggleAllActionsDropDown"
                        class="btn btn-link all-actions-dropdown-btn" type="button">
                        <span class="fa fa-ellipsis-h"></span>
                    </button>
                    <div #allActionsDropdown (outside)="toggleAllActionsDropDown = false"
                        *ngIf="toggleAllActionsDropDown" class="list-group all-actions-dropdown position-absolute"
                        odpClickOutside>
                        <div (click)="triggerHook(ac);toggleAllActionsDropDown=false;"
                            *ngFor="let ac of step.actions; let i=index;"
                            class="list-group-item list-group-item-action hover">{{ac.name}}</div>
                    </div>
                </div> -->
                </div>
            </ng-container>
        </div>
    </div>
    <div class="d-flex flex-column w-100 bg-light " *ngIf="!isSchemaFree" style="border-radius: 6px;">
        <div class="row flex-column bg-white mx-4 rounded" style="height: 100vh">
            <div *ngIf="wizard.length > 0" [ngClass]="{'history':showVersionHistory}"
                class="col-3 border-right pr-0 pl-0 min-vh-100">
                <div class="step-tabs d-flex flex-column ">
                    <ng-container *ngFor="let step of wizard; let i=index;let last=last;">

                        <div (click)="showStep(i)" class="step-tab d-flex hover" style="min-height: 75px"
                            [attr.id]="'step-'+i" [ngClass]="{'selected': active[i] }">
                            <span *ngIf="active[i]" class="active-tab"></span>
                            <div class="d-flex flex-column p-3">
                                <div [ngbTooltip]="" class="d-flex font-12 text-secondary">
                                    Step {{i +1}}
                                </div>
                                <div [ngbTooltip]="step.name" class="text-truncate fw-500">
                                    {{step.name}}</div>
                            </div>
                        </div>

                    </ng-container>
                </div>
                <!-- <div class="step-controls d-flex align-items-center position-relative">
                <button (click)="showStep(currentStep-1);tooltip1.close()" [disabled]="stepFirst"
                    class="btn btn-link btn-sm high-zIndex" ngbTooltip="Previous step" placement="top"
                    #tooltip1="ngbTooltip">
                    <span class="fa fa-angle-left"></span>
                </button>

                <span class="steps-info text-secondary">
                    {{currentStep + 1}} of {{wizard.length}}
                </span>
                <button (click)="showStep(currentStep+1);tooltip2.close()" [disabled]="stepLast"
                    class="btn btn-link btn-sm high-zIndex" ngbTooltip="Next step" placement="top"
                    #tooltip2="ngbTooltip">
                    <span class="fa fa-angle-right"></span>
                </button>
                <button (click)="showAllStepsDropdown($event)" class="btn btn-link btn-sm high-zIndex"
                    ngbTooltip="All step" placement="top">
                    <span class="fa fa-ellipsis-h"></span>
                </button>
                <div #allStepsDropdown (blur)="hideAllStepsDropdown($event)"
                    class="list-group all-steps-dropdown position-absolute" tabindex="0">
                    <div (click)="showStep(i);hideAllStepsDropdown($event)"
                        *ngFor="let step of wizard; let i=index;let last=last;" [ngClass]="{'active':active[i]}"
                        class="list-group-item">{{step.name}}</div>
                </div>
            </div> -->
            </div>

            <div [ngClass]="viewBodyClass" class="bg-white p-3 min-vh-100 w-100 rounded"
                [ngClass]="{'col-9' : wizard.length > 0, 'col-12': wizard.length === 0}">
                <ng-container *ngIf="wizard.length > 0">
                    <ng-container
                        *ngFor="let step of wizard;let stepIndex = index;let stepFirst = first;let stepLast = last">
                        <div [ngClass]="{'d-block':active[stepIndex]}" class="d-flex flex-column w-100  d-none">
                            <div *ngIf="active[stepIndex]" class="container-fluid p-0">
                                <ng-container *ngFor="let field of step.fields;let i=index">
                                    <odp-view-control *ngIf="getDefinition(field)" [definition]="getDefinition(field)"
                                        [newValue]="activeAuditNewData" [oldValue]="activeAuditOldData" [value]="value"
                                        [workflowDoc]='workflowData'>
                                    </odp-view-control>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="wizard.length == 0">
                    <div class="d-flex flex-column w-100 px-3">
                        <ng-container *ngFor="let def of definition;let l=last">
                            <ng-container *ngIf="!checkStateModel(def)">
                                <odp-view-control [definition]="def" [newValue]="activeAuditNewData"
                                    [oldValue]="activeAuditOldData" [value]="value" [last]="l"
                                    [workflowDoc]='workflowData'>
                                </odp-view-control>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <div *ngIf="showLazyLoader" class="loading-placeholder">
                    <div *ngFor="let row of dummyRows" class="rows d-flex align-items-center mt-4 ml-3">
                        <div class="mr-4">
                            <odp-loading-placeholder [height]="16" [width]="120"></odp-loading-placeholder>
                        </div>
                        <div>
                            <odp-loading-placeholder [height]="16" [width]="300"></odp-loading-placeholder>
                        </div>
                    </div>
                </div>
                <!-- <odp-workflow-respond-view *ngIf="showRespondView" [schema]="schema"
                [selectedData]='workflowData' (actionResponse)='actionResponse($event);' [serviceStatus]="schema.status"
                [ids]='[workflowData._id]'> </odp-workflow-respond-view> -->
                <div class="respond-header d-flex p-2 position-fixed ignore-outside" id='ignore' *ngIf='showHeaderOnly '
                    (click)="showRespondView=true;showHeaderOnly=false">
                    <span class="text-white" id='respond' *ngIf="inReview">Respond</span>
                    <span class="text-white" id='remark' *ngIf="!inReview">Remarks</span>
                    <span class="fa fa-angle-up text-white ml-auto font-lg" id='angle-down'></span>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="false">
        <div class="btn-group view-modes mt-2 ml-2" role="group" ngbRadioGroup name="radioViewMode"
            [(ngModel)]="viewMode">
            <label ngbButtonLabel class="text-dark bg-white">
                <input ngbButton type="radio" class="btn-check d-none" value="tree"> Tree
            </label>
            <label ngbButtonLabel class="text-dark bg-white">
                <input ngbButton type="radio" class="btn-check d-none" value="code"> Code
            </label>

        </div>
    </ng-container>
    <ng-container *ngIf="isSchemaFree && !showLazyLoader && viewMode == 'code' && !showVersionHistory">
        <odp-code-editor class="code-editor" [edit]="{status:false}" [theme]="selectedEditorTheme"
            [fontSize]="selectedFontSize" [(code)]="schemaFreeCode">
        </odp-code-editor>
    </ng-container>
    <ng-container *ngIf="isSchemaFree && !showLazyLoader && viewMode == 'code' && showVersionHistory">

        <odp-code-editor class="code-editor" [edit]="{status:false}" [theme]="selectedEditorTheme"
            [diff]='showVersionHistory' [fontSize]="selectedFontSize" [(code)]="schemaFreeCode"
            [oldVal]='activeAuditOldData' [newVal]='activeAuditNewData'>
        </odp-code-editor>
    </ng-container>
    <ng-container *ngIf="isSchemaFree && !showLazyLoader && viewMode == 'tree'">
        <odp-tree-view [code]="schemaFreeCode"></odp-tree-view>
    </ng-container>

</div>


<ng-template #confirmDeleteModal>
    <div class="modal-header alert">
        <h4 class="modal-title">Delete record</h4>
        <button (click)="confirmDeleteModalRef.close(false)" aria-label="Close" class="btn no-focus close"
            type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-center">Are you sure, you want to delete this record?</p>
    </div>
    <div class="modal-footer">
        <button (click)="confirmDeleteModalRef.close(false)" class="btn btn-sm btn-secondary px-3"
            type="button">No</button>
        <button (click)="confirmDeleteModalRef.close(true)" class="btn btn-sm btn-danger px-3"
            type="button">Yes</button>
    </div>
</ng-template>

<ng-template #workflowModal id="_workflowModal">
    <div class="modal-header bg-dark p-2">
        <h4 class="modal-title text-white">Document delete request</h4>
        <button (click)="workflowModalRef.close(false)" aria-label="Close" class="btn no-focus close"
            id="workflowModalCloseBtn" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0 d-flex flex-column">
        <div class="d-flex flex-column bg-light font-weight-bold">
            <div class="d-flex align-items-center px-3 pt-3">
                <span *ngIf="workflowModalOptions.operation == 'POST'"
                    class="text-primary d-flex align-items-center mr-2">
                    <span class="odp-plus-circle mr-1"></span>
                    <span>Create:</span>
                </span>
                <span *ngIf="workflowModalOptions.operation == 'PUT'"
                    class="text-warning d-flex align-items-center mr-2">
                    <span class="odp-edit fa-lg mr-1"></span>
                    <span>Update:</span>
                </span>
                <span *ngIf="workflowModalOptions.operation == 'DELETE'"
                    class="text-danger d-flex align-items-center mr-2">
                    <span class="odp-trash mr-1"></span>
                    <span>Delete:</span>
                </span>
                <span class="text-dark">{{workflowModalOptions._id}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between p-3">
                <span class="d-flex align-items-center">
                    <span class="text-secondary mr-1">Submitted by</span>
                    <span>{{workflowModalOptions.requestedBy}}</span>
                </span>
                <span *ngIf="workflowModalOptions.operation == 'PUT'" class="d-flex align-items-center">
                    <span class="text-secondary mr-1">Fields affected</span>
                    <span>{{workflowModalOptions.fields}}</span>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column p-3">
            <div class="d-flex">
                <label class="font-weight-bold m-0" for="comments">Attachments:</label>
                <div class="d-flex flex-column align-items-start pl-3 w-100">
                    <input #workflowFileUploadInput (change)="uploadWorkflowFile($event)" class="d-none"
                        id="workflowFileUpload" name="workflowFileUpload" type="file">
                    <button (click)="workflowFileUploadInput.click()" class="btn btn-link p-0">
                        <span class="fa fa-paperclip mr-1"></span>
                        <span class="text">Add file(s)</span>
                    </button>
                    <div *ngFor="let file of workflowFilesList;let fileIndex=index;"
                        class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center">
                            <span class="text-primary">{{file.name}}</span>
                            <small class="text-secondary ml-2">({{file.size|filesize}})</small>
                        </div>
                        <button (click)="removeWorkflowFile(fileIndex)" class="btn btn-sm btn-link text-danger">Remove
                        </button>
                    </div>
                </div>
            </div>
            <label class="text-secondary" for="comments">Comments</label>
            <!-- <textarea [(ngModel)]="workflowModalOptions.remarks" class="form-control" id="comments" odpAutoFocus
                placeholder="Provide the reviewer with some helpful information"></textarea> -->
            <textarea id="comments" class="form-control" [ngClass]="{'is-invalid':requiredError}"
                placeholder="Comments are required to delete this documents" [formControl]="respondControl"
                odpAutoFocus></textarea>
            <div class="d-flex justify-content-between mt-3">
                <button (click)="workflowModalRef.close(false)" class="btn btn-outline-primary min-width-control"
                    id="workflowModalCancelBtn">Cancel
                </button>
                <!-- <button (click)="workflowModalRef.close(true)" class="btn btn-success min-width-control"
                    id="workflowModalSubmitBtn">Submit
                </button> -->
                <button class="btn btn-success min-width-control" id="workflowModalSubmitBtn"
                    (click)="closeModal()">Submit</button>

            </div>
        </div>
    </div>
</ng-template>