@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.actions {
  min-height: 48px;
  max-height: 48px;
}
.header {
  max-height: 40px;
  min-height: 40px;
  .title {
    font-size: 16px;
  }
}

.version-workflow-card {
  position: absolute;
  width: 400px;
  right: 15px;
  top: 136px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.view-body {
  min-height: calc(100vh - 242px);
  max-height: calc(100vh - 242px);
  overflow: auto;
  &.no-steps {
    min-height: calc(100vh - 136px);
    max-height: calc(100vh - 136px);
    margin-top: 8px;
  }
  &.history-no-steps {
    min-height: calc(100vh - 136px);
    max-height: calc(100vh - 136px);
    margin-top: 8px;
  }
  &.history-steps-action {
    min-height: calc(100vh - 242px);
    max-height: calc(100vh - 242px);
  }
  &.history-steps-no-action {
    min-height: calc(100vh - 186px);
    max-height: calc(100vh - 186px);
  }
  &.steps-action {
    min-height: calc(100vh - 242px);
    max-height: calc(100vh - 242px);
  }
  &.steps-no-action {
    min-height: calc(100vh - 186px);
    max-height: calc(100vh - 186px);
  }
}
.wizard-steps {
  margin: 8px;
}
.show-history {
  width: 316px;
}

.history-version-button {
  border-radius: 37px !important;
  border-color: #bdbdbd !important;
  height: 40px;
  width: 256px;
}

.steps-wrapper {
  .step-tabs {
    overflow: hidden;
    z-index: 0;
    .step-tab {
      min-width: 150px;
      max-width: 150px;
      min-height: 42px;
      max-height: 42px;
      border-bottom: 4px solid transparent;
      transition: 0.25s;
      &.active {
        font-weight: bold;
      }
      .step-no {
        min-width: 36px;
        max-width: 36px;
        min-height: 42px;
        max-height: 42px;
      }
      .step-name {
        max-width: 114px;
      }
    }
    .not-overlap {
      z-index: 0;
    }
  }
  .step-controls {
    min-width: 134px;
    max-width: 134px;
  }
}

.all-steps-dropdown {
  right: 15px;
  top: 42px;
  width: 230px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  display: none;
  z-index: 10;
  outline: 0;
  max-height: 234px;
  overflow: auto;
  .list-group-item {
    &:not(.active):hover {
      cursor: pointer;
      background: $light;
    }
  }
}

.experience-hooks {
  min-height: 40px;
  max-height: 40px;
  .experience-hooks-title {
    min-width: 120px;
    max-width: 120px;
  }
  .experience-hooks-buttons {
    min-width: calc(100vw - 447px);
    max-width: calc(100vw - 447px);
    overflow: hidden;
    .experience-hooks-btn {
      min-width: 160px;
      max-width: 160px;
      min-height: 26px;
      max-height: 26px;
      padding: 0;
    }
  }
  .btn-link {
    padding: 0;
  }
}

.all-actions-dropdown {
  min-width: 200px;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  max-height: 234px;
  overflow: auto;
}

.blackout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 175px;
  z-index: 0;
  background-color: $modal-backdrop-bg;
  opacity: 0.1;
}

.workflow-content {
  position: absolute;
  width: 480px;
  height: 434px;
  overflow: hidden;
  transition: 0.2s;
  right: 8px;
  top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  z-index: 8;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.no-focus{
  box-shadow: none !important;
}