<div class="relation-control-wrapper position-relative">

    <ng-container *ngIf="!definition.properties.readonly">
        <select *ngIf="recordsCount<=10 && !isSerachFieldSecureTxt" class="form-control form-control-sm rounded"
            [ngClass]="{'is-invalid':requiredError}" [attr.id]="definition.path" (change)="selectOption()"
            (keyup)="onEnter($event)" (focus)="onFocus($event)" (blur)="onBlur()" [(ngModel)]="selectedValue"
            [disabled]="control.disabled">
            <option *ngIf="!definition.properties.required" value="">---select---</option>
            <option *ngFor="let row of records" [value]="row._id">{{formatter(row)}}</option>
        </select>
        <div ngbDropdown #listDropdown="ngbDropdown" container="body" display="dynamic"
            *ngIf="recordsCount>10 || isSerachFieldSecureTxt" (openChange)="onDropdownOpenChange($event)">
            <button ngbDropdownToggle (click)="focusSearch()" [disabled]="control.disabled"
                class="toggle-btn btn btn-sm bg-white rounded w-100 d-flex align-items-center">
                {{ (!!currentItem ? formatter(currentItem) : '') || 'Select' }}
            </button>
            <div class="dropdown-container" ngbDropdownMenu>
                <input type="text" #searchBox name="searchText" class="form-control form-control-sm rounded" autocomplete="off"
                    placeholder="Type to Search" [(ngModel)]="searchText" (ngModelChange)="onSearch()">
                <div class="dropdown-list">
                    <button ngbDropdownItem class="dropdown-itm" *ngFor="let item of dropdownItems" (click)="selectItem(item)"
                        [innerHTML]="getHighlightedSearchItem(item)">
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="definition.properties.readonly">
        <a [routerLink]="relationLink+control.value._id" target="_blank" *ngIf="control?.value?._id">
            {{formatter(relatedData)?formatter(relatedData):control.value._id}}
        </a>
        <span class="text-muted" *ngIf="!control?.value?._id">N.A</span>
    </ng-container>

    <div class="d-flex flex-column align-items-start bg-light p-2 mt-1 text-secondary rounded" *ngIf="requiredError"
        [ngClass]="{'bg-error':requiredError}">
        <ng-container *ngIf="!definition.properties.errorMessage">
            <div *ngIf="requiredError">
                {{definition.properties.label ? definition.properties.label : definition.properties.name}} is required
            </div>
        </ng-container>
        <ng-container *ngIf="definition.properties.errorMessage">
            <div *ngIf="requiredError">{{definition.properties.errorMessage}}</div>
        </ng-container>
    </div>

</div>