@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.error-exclamation {
  top: 9px;
  right: 6px;
}
.relation-control-wrapper {
  min-width: 340px;
  max-width: 340px;
}
.bg-error {
  background-color: #f8dcdc !important;
}

.toggle-btn {
  display: flex !important;
  justify-content: space-between;
  min-height: 25px !important;
  max-height: 25px !important;
  border: 1px solid #ccc;
  color: #495057;
}

.dropdown-container.show {
  display: grid;
  max-height: 200px;
  min-width: 340px;
  grid-template-rows: auto 1fr;
  row-gap: 10px;

  input {
    max-width: 300px;
    margin: 0 20px;
  }

  .dropdown-list {
    overflow: auto;
    min-height: 147px;

    .dropdown-itm {
      &:hover {
        background-color: rgba($primary, 0.25);
        color: black;
      }
      &:active {
        background-color: $primary;
        color: white;
      }
    }
  }

  .dropdown-buttons {
    display: grid;
    padding: 0 10px;
    grid-template-columns: 1fr auto;
  }
}

.form-control-rounded {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
