<div class="field-wrapper d-flex align-items-start flex-column mb-3"
  *ngIf="definition.type!='Object' && definition.type!='Array'">
  <div class="label-wrapper text-secondary font-sm-12 mb-2" [ngStyle]="getLabelWidth()">
    <div class="d-flex align-items-start">
      <label *ngIf="definition.type!='Object' && definition.type!='Array'" [attr.for]="definition.path"
        class="label-width d-flex align-items-start mb-0 text-secondary">
        <span class="text text-secondary font-14 fw-400">{{definition.properties.label ? definition.properties.label :
          definition.properties.name}}</span>
        <small class="fa fa-info-circle ml-2 text-info mt-1 hover" *ngIf="definition.properties._description"
          placement="top" [ngbTooltip]="definition.properties._description"></small>
      </label>
    </div>
    <div
      *ngIf="definition.properties.password  || (definition.type=='Array' && definition.definition[0].properties?.password) ">
      <span class="font-10 text-muted">[Secure]</span>
    </div>
  </div>
  <ng-container *ngIf="definition.type!='Object' && definition.type!='Array' ">
    <odp-view-separator [definition]="definition" [value]="value" [oldValue]="oldValue" [newValue]="newValue"
      [workflowDoc]="workflowDoc">
    </odp-view-separator>
  </ng-container>
</div>

<div class="field-wrapper d-flex align-items-start mb-3" *ngIf="definition.type=='Object'"
  [ngClass]="{'last-control': last}">
  <div class="d-flex flex-column w-100 bg-light rounded p-3 pt-2">
    <label [attr.for]="definition.path" class="label-width d-flex align-items-start mb-4 fw-700 font-20">
      <span class="text">{{definition.properties.label ? definition.properties.label :
        definition.properties.name}}</span>
    </label>
    <ng-container *ngFor="let def of definition.definition;let i = index;">
      <odp-view-control [definition]="def" [value]="value" [oldValue]="oldValue" [newValue]="newValue"
        [workflowDoc]="workflowDoc">
      </odp-view-control>
    </ng-container>
    <ng-container *ngIf="definition.properties.schemaFree">
      <pre *ngIf="value">{{definition.value | json}}</pre>
      <p *ngIf="!value">N.A.</p>
    </ng-container>
  </div>
</div>

<div class="field-wrapper d-flex align-items-start mb-3" *ngIf="definition.type=='Array'"
  [ngClass]="{'last-control': last}">
  <div class="d-flex flex-column w-100">
    <label [attr.for]="definition.path" class="label-width d-flex align-items-start mb-1 fw-700"
      *ngIf="controlType !== 'object'">
      <span class="text">{{definition.properties.label ? definition.properties.label :
        definition.properties.name}}</span>
    </label>
    <div class="bg-light rounded w-100 px-2">
      <odp-view-array #arrayControl
        [collectionFieldName]="definition.properties.label ? definition.properties.label : definition.properties.name"
        [definition]="definition.definition[0]" [oldValue]="oldValue" [newValue]="newValue" [workflowDoc]="workflowDoc">
      </odp-view-array>
    </div>
  </div>
</div>