<div class="field-wrapper d-flex align-items-start px-3" [class.mt-3]="!first">
  <div class="label-wrapper " [ngStyle]="getLabelWidth()">
    <div class="d-flex align-items-start">
      <label [attr.for]="definition.path"
        class="label-width d-flex align-items-start mb-0 text-secondary font-weight-bold">
        <span class="text">{{definition.properties.label ? definition.properties.label :
          definition.properties.name}}</span>
        <small class="fa fa-info-circle ml-2 text-info mt-1 hover" *ngIf="definition.properties._description"
          placement="top" [ngbTooltip]="definition.properties._description"></small>
      </label>
    </div>
    <div *ngIf="definition.properties.password  || (definition.type=='Array' && definition.definition[0].properties?.password) ">
      <small class="text-secondary">[Secure]</small>
    </div>
  </div>
  <ng-container *ngIf="definition.type!='Object' && definition.type!='Array' ">
    <odp-view-separator [definition]="definition" [value]="value" [oldValue]="oldValue" [newValue]="newValue"
      [workflowDoc]="workflowDoc">
    </odp-view-separator>
  </ng-container>
</div>

<div class="field-wrapper d-flex align-items-start px-3" *ngIf="definition.type=='Object'"
  [ngClass]="{'last-control': last}">
  <div class="spacer border-right align-self-stretch" [ngStyle]="spacing(definition.level+1)"></div>
  <div class="d-flex flex-column w-100">
    <ng-container *ngFor="let def of definition.definition;let i = index;">
      <odp-view-control [definition]="def" [value]="value" [oldValue]="oldValue" [newValue]="newValue"
        [workflowDoc]="workflowDoc">
      </odp-view-control>
    </ng-container>
  </div>
</div>

<div class="field-wrapper d-flex align-items-start" [class.px-3]="definition.level === 0"
  *ngIf="definition.type=='Array'" [ngClass]="{'last-control': last}">
  <div class="spacer border-right align-self-stretch" [ngStyle]="spacing(definition.level+1, 'arr')"></div>
  <div class="d-flex flex-column w-100">
    <odp-view-array #arrayControl
      [collectionFieldName]="definition.properties.label ? definition.properties.label : definition.properties.name"
      [definition]="definition.definition[0]" [oldValue]="oldValue" [newValue]="newValue" [workflowDoc]="workflowDoc">
    </odp-view-array>
  </div>
</div>