<div>
  <ng-container *ngIf="valueExist">
      <a *ngIf="definition?.properties?.relatedViewFields && serviceAccess && definition?.properties?.relatedViewFields.length>0;
          else noTooltip" class="high-zIndex" [routerLink]="['/', currentAppId, 'services', relatedSrvc, 'view' , getValue(definition.dataKey + '._id', data)]" target="_blank" [ngbTooltip]="relationData" [placement]="toolTipDir(definition.dataKey)">{{searchFieldValue}}</a>
  </ng-container> 
  <span *ngIf="!valueExist" class="text-muted">N.A.</span>
</div>

<ng-template #noTooltip>
  <a [routerLink]="['/', currentAppId, 'services', relatedSrvc, 'view', getValue(definition.dataKey + '._id', data)]" target="_blank" *ngIf="serviceAccess">{{searchFieldValue}}</a>
  <span *ngIf="!serviceAccess">{{searchFieldValue}}</span>
</ng-template>
<ng-template #relationData>
  <div class="d-flex flex-column">
    <div class="d-flex" *ngFor="let field of definition?.properties?.relatedViewFields">
      <div class="w-50 text-left text-truncate">{{field.name}}</div>
      <div class="w-50 text-left text-truncate">:&nbsp;{{getValue(definition.dataKey+'.'+field.key,data)}}</div>
    </div>
  </div>
</ng-template>
