.footer {
  .rounded-circle {
    width: 20px;
    height: 20px;
    font-size: 8px;
  }
}

.step-box {
  .step-action {
    width: 24px;
    height: 24px;
  }
}
.step-line {
  min-width: 94px;
  border-width: 1px;
}
.box {
  height: 140px;
}
.hidden-input {
  z-index: -100;
}
