<div class="modal-header border-0 p-4">
    <div class="d-flex align-items-center justify-content-between w-100">
        <h4>{{workflowData?._id}}</h4>
        <button type="button" class="btn btn-link text-dark" (click)="dismiss()">
            <span class="fa fa-times"></span>
        </button>
    </div>
</div>
<div class="modal-body p-4">
    <div class="content">
        <div class="steps-view d-flex align-items-start justify-content-center">
            <div class="d-flex flex-column" *ngFor="let item of workflowSteps;let i=index;let f=first;let l=last">
                <div class="step-box d-flex align-items-center">
                    <div class="step-line border-top border-dashed" [ngClass]="{'border-0':f}"></div>
                    <div class="step-action rounded-circle d-flex align-items-center justify-content-center"
                        [ngClass]="{'border border-success bg-success text-white':stepRemarks(item).length > 0,'border border-dashed':stepRemarks(item).length==0}">
                        <span *ngIf="stepRemarks(item).length>0" class="fa fa-check fa-xs"></span>
                        <span *ngIf="stepRemarks(item).length==0" class="text-muted fa-sm">{{i+1}}</span>
                    </div>
                    <div class="step-line border-top border-dashed" [ngClass]="{'border-0':l}"></div>
                </div>
                <div class="step-name mt-2 text-center">{{item.name}}</div>
            </div>
        </div>
        <div class="content-2 d-flex mt-5">
            <div class="comment w-50 mr-2">
                <label for="comments">Comments</label>
                <textarea id="comments" class="box form-control border-dashed" cols="30" rows="5" [(ngModel)]="remarks"
                    placeholder="Type here"></textarea>
            </div>
            <div class="file-attachment w-50 ml-2">
                <label for="attachments">Attach File</label>
                <label
                    class="box form-control border-dashed border-primary d-flex align-items-center justify-content-center bg-primary-0-1 text-primary hover">
                    <input id="attachments" type="file" class="hidden-input hidden position-fixed" (change)="uploadWorkflowFile($event)">
                    <div class="d-flex align-items-center">
                        <span class="fa fa-upload mr-2"></span>
                        <span class="text">Upload</span>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div *ngIf="canRespond" class="footer border-0 mt-5">
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-light bg-white d-flex align-items-center ml-2"
                (click)="respond('Reject')">
                <span class="rounded-circle d-flex align-items-center justify-content-center mr-2 text-white bg-danger">
                    <span class="fa fa-times"></span>
                </span>
                <span class="text">Reject</span>
            </button>
            <button type="button" class="btn btn-light bg-white d-flex align-items-center ml-2"
                (click)="respond('Rework')">
                <span class="rounded-circle d-flex align-items-center justify-content-center mr-2 text-white bg-dark">
                    <span class="fa fa-sync"></span>
                </span>
                <span class="text">Rework</span>
            </button>
            <!-- <button type="button" class="btn btn-light bg-white d-flex align-items-center ml-2" (click)="respond('Revert')">
                <span
                    class="rounded-circle d-flex align-items-center justify-content-center mr-2 text-white bg-warning">
                    <span class="fa fa-arrow-left"></span>
                </span>
                <span class="text">Revert</span>
            </button> -->
            <button type="button" class="btn btn-light bg-white d-flex align-items-center ml-2"
                (click)="respond('Approve')">
                <span
                    class="rounded-circle d-flex align-items-center justify-content-center mr-2 text-white bg-success">
                    <span class="fa fa-check"></span>
                </span>
                <span class="text">Approve</span>
            </button>
        </div>
    </div>
</div>