.round-check{
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    border-radius: 8px;
    .fa-check{
        font-size: 8px;
    }
}
.wrapper{
    white-space: pre;
}