<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="apiCallsPending">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing</div>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center mb-2">
    <span class="sub-heading font-weight-bold d-flex align-items-center">
        <span class="text">Validation Summary</span>
        <span class="text-muted fa fa-angle-right mx-2"></span>
        <span class="text-warning">Duplicate Records</span>
    </span>
    <div class="d-flex align-items-center">
        <div ngbDropdown class="d-inline-block mr-3">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Action</button>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="importFirstOccurance()">Select First Occurance</button>
                <button ngbDropdownItem (click)="unSelectAll()">Unselect All</button>
            </div>
        </div>
        <button class="btn btn-primary font-weight-bold" (click)="done()">
            <span class="fa fa-check mr-1"></span>
            <span class="text">Done</span>
        </button>
    </div>
</div>
<small class="d-flex justify-content-start align-items-center mb-2">
    <span class="d-flex align-items-center text-muted mr-3">
        <span class="text">Total Duplicates</span>
        <span class="text-dark">&nbsp;:&nbsp;{{duplicateRecords.length}}</span>
    </span>
    <span class="d-flex align-items-center text-muted mr-3">
        <span class="text">Unique Records</span>
        <span class="text-dark">&nbsp;:&nbsp;{{uniqueRecords}}</span>
    </span>
    <span class="d-flex align-items-center text-muted">
        <span class="text">Selected Unique</span>
        <span class="text-dark">&nbsp;:&nbsp;{{selectedDuplicates.length}}</span>
    </span>
</small>
<div class="row m-0 position-relative bg-white child-Mapping">
    <div class="data-container p-0 w-100">
        <ag-grid-angular #agGrid *ngIf="columnDef" style="width: 100%; height: 100%;" class="ag-theme-balham border-0"
            [rowData]="duplicateRecords" [columnDefs]="columnDef" [rowHeight]="32" [rowClassRules]="rowClassRules">
        </ag-grid-angular>
    </div>
</div>