<div class="value-wrapper">
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:dateString,timezone:timezone}">
    </ng-container>
    <div *ngIf="isUpdated" class="text-muted text-decoration-line-through mt-2 history-value">
        <!-- <span class="text-secondary mr-2">From</span> -->
        <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:oldVal,timezone:timezone}">
        </ng-container>
    </div>
    <div *ngIf="isUpdated" class="text-muted  mt-2 history-value">
        <!-- <span class="text-secondary mr-2">To</span> -->
        <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal,timezone:timezone}">
        </ng-container>
    </div>
    <div *ngIf="isCreated" class="text-muted  mt-2 history-value">
        <!-- <span class="text-secondary mr-2">Created</span> -->
        <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal,timezone:timezone}">
        </ng-container>
    </div>
</div>

<ng-template #values let-definition="definition" let-value="value" let-timezone="timezone">
    <ng-container *ngIf="value">
        <ng-container *ngIf="definition.properties.dateType=='date'">
            {{formatDate(value)}}
        </ng-container>
        <ng-container *ngIf="definition.properties.dateType!='date'">
            {{value|date:'EEEE, MMMM d, y, h:mm:ss a'}} ({{timezone}})
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!value">
        <span class="text-muted">N.A.</span>
    </ng-container>
</ng-template>