<div class="relation-control-wrapper position-relative">
    <input *ngIf="recordsCount>10" class="form-control" [ngClass]="{'is-invalid':requiredError}"
        [ngModel]="selectedValue" type="text" [ngbTypeahead]="search" [inputFormatter]="formatter"
        #typeAhead="ngbTypeahead" (selectItem)="selectItem($event)" [resultFormatter]="formatter" #relationTypeInput
        (focus)="itemSelected = true" [disabled]="definition.properties.readonly ||  control.disabled" (keyup)="onEnter($event)"
        (focus)="onFocus($event)" [attr.id]="definition.path" (blur)='control.markAsTouched()'>
    <select *ngIf="recordsCount<=10" class="form-control"
        [ngClass]="{'is-invalid':requiredError}" [attr.id]="definition.path" (change)="selectOption()"
        (keyup)="onEnter($event)" (focus)="onFocus($event)" [(ngModel)]="selectedValue"
        [disabled]="definition.properties.readonly || control.disabled">
        <option *ngIf="!definition.properties.required" value="">---select---</option>
        <option *ngFor="let row of records" [value]="row._id">{{formatter(row)}}</option>
    </select>

    <div class="d-flex flex-column align-items-start bg-light p-2 mt-1 text-secondary rounded" *ngIf="requiredError"
        [ngClass]="{'bg-error':requiredError}">
        <ng-container *ngIf="!definition.properties.errorMessage">
            <div *ngIf="requiredError">
                {{definition.properties.label ? definition.properties.label : definition.properties.name}} is required
            </div>
        </ng-container>
        <ng-container *ngIf="definition.properties.errorMessage">
            <div *ngIf="requiredError">{{definition.properties.errorMessage}}</div>
        </ng-container>
    </div>
</div>