@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.header,
.sub-header {
  height: 48px;
  .title {
    font-size: 16px;
  }
}

.body {
  //   overflow-y: auto;
  max-height: calc(100vh - 136px);
  min-height: calc(100vh - 136px);
  height: calc(100vh - 136px);
}

.column-list {
  width: 232px;
  right: 16px;
  z-index: 10;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
}
