@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.column-container {
    min-width: 550px;
    max-width: 590px;
    min-height: 56px;
    display: block;

    // max-height: 56px;
    .propName {
        min-width: 180px;
        max-width: 180px;
        float: left;
    }

    .colDiv {
        min-width: 296px;
        max-width: 296px;
        // min-height: 32px;
        // max-height: 32px;
        color: #B5B8BC;
        padding-right: 20px !important;

        &:focus {
            color: $black;
            font-weight: bold;
        }
    }

    &:hover {
        background: #F4F5F5 0% 0% no-repeat padding-box;
    }

    .colDivArray {
        min-width: 240px;
        max-width: 240px;
        min-height: 32px;
        max-height: 32px;
        color: #B5B8BC;
        padding-right: 20px !important;

        &:focus {
            color: $black;
            font-weight: bold;
        }
    }

    .colDivSmall {
        min-width: 112px;
        max-width: 112px;
        min-height: 32px;
        max-height: 32px;
        color: #B5B8BC;

    }

    .dotted {
        border: 1px dashed #B5B8BC;
    }

    input {
        border: 1px dashed #B5B8BC;
        background-color: #F4F5F5;

    }
}

.column-modal {
    top: 210px;
    background-color: white;
    height: 800px;
    min-height: 400px;
    z-index: 1;
    max-width: 600px;
    min-width: 600px;
    border-radius: 6px;
    overflow: auto;
}

.text-light {
    color: #B5B8BC
}

.bg-light {
    background-color: #F4F5F5;
}

.tilte {
    min-width: 20px;
    max-width: 20px;
}

.objIcon {
    min-width: 14px;
    max-width: 14px;
    min-height: 14px;
    max-height: 14px;
}

.objIcon1 {
    min-width: 14px;
    max-width: 14px;
    min-height: 14px;
    max-height: 14px;
}

.bg-blue {
    background-color: #6D67FF
}

.bg-light1 {
    background-color: #F4F5F5;

}

.times-Clear {
    float: right;
    margin: 8px;
}

.ClearArray {
    float: right;
}

.index-value {
    margin-left: -25px;
}