.long-text-wrapper{
    min-width: 700px;
    max-width: 700px;
}

.show-paragraph{
    white-space: pre-wrap;
    border-radius: 4px;
    word-break: break-all;
    overflow: auto ;
    resize: vertical !important ;
    height: 100px;
}

.eyeIcon{
    right: 1% !important;
    top: 5% !important;
}