<div>
  <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:definition.value, type:'default'}">
  </ng-container>
  <!-- <ng-container *ngIf="definition.value">
      <div *ngIf="isenrichTextWithLinkRequired(definition.value)"
        [innerHTML]="getContent(enrichTextWithLink(definition.value))"></div>
      <div *ngIf="!isenrichTextWithLinkRequired(definition.value)">
        {{showPassword?definition.value:hideText(definition.value)}}
      </div>
    </ng-container>
    <ng-container *ngIf="!definition.value">
      <span class="text-muted">N.A.</span>
    </ng-container> -->
  <div *ngIf="isUpdated" class="text-danger p-2 mt-2 history-value">
    <span class="text-secondary mr-2">From</span>
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:oldVal, type:'from'}"></ng-container>

    <!-- <div *ngIf="isenrichTextWithLinkRequired(oldVal)" [innerHTML]="getContent(enrichTextWithLink(oldVal))"></div> -->
    <!-- <div *ngIf="!isenrichTextWithLinkRequired(oldVal)">
        {{showPassword?oldVal:hideText(oldVal)}}
      </div> -->
  </div>
  <div *ngIf="isUpdated" class="text-success p-2 mt-2 history-value">
    <span class="text-secondary mr-2">To</span>
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal, type:'to'}"></ng-container>

    <!-- <div *ngIf="isenrichTextWithLinkRequired(newVal)" [innerHTML]="getContent(enrichTextWithLink(newVal))"></div>
      <div *ngIf="!isenrichTextWithLinkRequired(newVal)">
        {{showPassword?newVal:hideText(newVal)}}
      </div> -->
  </div>
  <div *ngIf="isCreated" class="text-success p-2 mt-2 history-value">
    <span class="text-secondary mr-2">Created</span>
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal, type:'created'}">
    </ng-container>
    <!-- <div *ngIf="isenrichTextWithLinkRequired(newVal)" [innerHTML]="getContent(enrichTextWithLink(newVal))"></div>
      <div *ngIf="!isenrichTextWithLinkRequired(newVal)">
        {{showPassword?newVal:hideText(newVal)}}
      </div>
    </div> -->
  </div>
</div>
<ng-template #values let-definition="definition" let-value="value" let-type="type">
  <div [ngClass]="{'position-relative':isSecureText}">
    <div class="long-text-wrapper show-paragraph fw-500 ">
      <ng-container *ngIf="!isSecureText">
        <ng-container *ngIf="value">
          <div *ngIf="isenrichTextWithLinkRequired(value)" [innerHTML]="getContent(enrichTextWithLink(value))"></div>
          <div *ngIf="!isenrichTextWithLinkRequired(value)">
            {{value}}
          </div>
        </ng-container>
        <ng-container *ngIf="!value">
          <span class="text-muted">N.A.</span>
        </ng-container>
      </ng-container>
      <div *ngIf="isSecureText">
        <ng-container *ngIf="value">
          <div *ngIf="decryptedValue[type] && enrichSecureTextWithLink(value, type) && showPassword[type] "
            [innerHTML]="getContent(enrichSecureTextWithLink(value, type))"></div>
          <div *ngIf="decryptedValue[type] && !enrichSecureTextWithLink(value, type) && showPassword[type] ">
            {{decryptedValue[type]}}
          </div>
          <span *ngIf="value && !showPassword[type]"> ********* </span>
        </ng-container>
        <ng-container *ngIf="!value">
          <span class="text-muted">N.A.</span>
        </ng-container>
      </div>
    </div>
    <span class="fas text-right hover ml-2 text-primary mt-1 position-absolute eyeIcon" *ngIf="value && isSecureText"
      [ngClass]="{'fa-eye': !showPassword[type],'fa-eye-slash': showPassword[type]} "
      (click)="togglePassword(value,type)"></span>
  </div>
</ng-template>