.error-exclamation {
  top: 9px;
  right: 6px;
}

.progress-circle {
  top: 2px;
  right: 6px;
}

.file-control-wrapper {
  min-width: fit-content;
}

.bg-error {
  background-color: #f8dcdc !important;
}

.upload-window,
.download-window {
  height: 100%;
  width: 360px;
  right: -360px;
  // top: 128px;
  top: 0px;
  z-index: 2;

  &.show {
    right: 0;
  }
}