<!-- <div class="file-control clearfix" id="_fileType">
  <span class="text float-left mt-1 mr-3">{{selectedFileName}}</span>
  <div *ngIf="!definition.properties.readonly" class="file-button hover text-primary-dark float-left mr-2 mt-1" (click)="file.click()">
    <span class="icon odp-upload"></span>
    <span class="text">Upload file</span>
  </div>
  <div *ngIf="control.value" (click)="removeFile()" class="text-primary-dark">
    <span class="far fa-times-circle ml-4 mt-2" placement="right" ngbTooltip="Remove File"></span>
  </div>
  <div *ngIf="progress && progress!=100" class="float-left">
    <odp-progress [progress]="progress" color="#aaa"></odp-progress>
  </div>
</div> -->
<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <span class="fa fa-spinner fa-pulse fa-3x"></span>
    <div class="text-secondary mt-2"><strong>Uploading...</strong></div>
  </div>
</div>
<div class="position-relative d-flex align-items-center" *ngIf="!showLazyLoader">
  <label [attr.for]="definition.path" class="btn btn-sm btn-default d-flex align-items-center m-0 p-0"
    [ngClass]="{'border-danger w-100':requiredError}">
    <button type="button" class="btn btn-link d-flex align-items-center p-0"
      [disabled]="arrayDefinition?.properties?.readonly || definition?.properties?.readonly || control.disabled"
      [ngClass]="{'text-danger':requiredError}" (click)="showUploadWindow=!showUploadWindow">
      <ng-container *ngIf="!control.value">
        <span class="fa fa-upload mr-2"></span>
        <span class="text">Upload file</span>
      </ng-container>
      <ng-container *ngIf="control.value">
        <span class="fa fa-file mr-2"></span>
        <span class="text file-control-wrapper px-2 text-truncate high-zIndex" [ngbTooltip]="control.value.metadata.filename"
          placement="top">{{control.value.metadata.filename}}</span>
        <span class="text file-control-wrapper text-muted">({{control.value.length | filesize}})</span>
      </ng-container>
    </button>
  </label>
  <div
    *ngIf="control.value && !arrayDefinition?.properties?.readonly && !definition?.properties?.readonly && !control.disabled"
    (click)="removeFile()" class="text-da">
    <span class="far fa-times-circle high-zIndex" placement="right" ngbTooltip="Remove File"></span>
  </div>
  <button type="button" class="btn btn-link py-0" *ngIf="control.value" (click)="downloadFile($event)">
    <span class="fa fa-download"></span>
  </button>


  <div *ngIf="progress && progress!=100" class="progress-circle">
    <odp-progress [progress]="progress" color="#3498db"></odp-progress>
  </div>
  <div class="d-flex flex-column align-items-start bg-light p-2 mt-1 text-secondary rounded" *ngIf="requiredError"
    [ngClass]="{'bg-error':requiredError}">
    <ng-container *ngIf="!definition.properties.errorMessage">
      <div *ngIf="requiredError">
        {{definition.properties.label ? definition.properties.label : definition.properties.name}} is required</div>
    </ng-container>
    <ng-container *ngIf="definition.properties.errorMessage">
      <div *ngIf="requiredError">{{definition.properties.errorMessage}}</div>
    </ng-container>
  </div>
</div>

<div *ngIf="showUploadWindow" class="overlay" (click)="closeWindow()"></div>
<div [ngClass]="{'show':showUploadWindow}" class="upload-window position-fixed border-left bg-white p-3">
  <div class="d-flex align-items-center justify-content-between">
    <h3>Upload File</h3>
    <button type="button" class="btn btn-link p-0" (click)="closeWindow()">
      <span class="fa fa-times fa-lg"></span>
    </button>
  </div>
  <hr>
  <div class="mt-3">
    <p>Please select a File</p>
    <label [attr.for]="definition.path" class="btn btn-sm btn-default d-flex align-items-center m-0 p-0"
      [ngClass]="{'border-danger w-100':requiredError}">
      <button type="button" class="btn btn-link d-flex align-items-center p-0"
        [disabled]="arrayDefinition?.properties?.readonly || definition?.properties?.readonly || control.disabled"
        [ngClass]="{'text-danger':requiredError}" (click)="file.click()">
        <ng-container *ngIf="!selectedFileName">
          <span class="fa fa-upload mr-2"></span>
          <span class="text">Select File</span>
        </ng-container>
        <ng-container *ngIf="selectedFileName">
          <span class="fa fa-file mr-2"></span>
          <span class="text file-control-wrapper px-2 text-truncate high-zIndex" [ngbTooltip]="selectedFileName"
            placement="top">{{selectedFileName}}</span>
          <span class="text file-control-wrapper text-muted">({{selectedFileSize | filesize}})</span>
        </ng-container>
      </button>
      <input [attr.id]="definition.path" class="invisible position-absolute" #file type="file"
        (change)="selectFile($event)"
        [disabled]="arrayDefinition?.properties?.readonly || definition?.properties?.readonly || control.disabled">
    </label>
    <ng-container *ngIf="definition?.properties?.password">
      <p class="mt-4">File Password</p>
      <input [attr.id]="definition.path+'.password'" class="form-control" type="password" required
        [(ngModel)]="encryptionKey">
    </ng-container>
  </div>
  <div class="mt-4 d-flex align-items-center justify-content-between">
    <button type="button" class="btn-min-width btn btn-dark mr-3" (click)="closeWindow()">Cancel</button>
    <button type="button" class="btn-min-width btn btn-success" (click)="uploadFile($event)"
      [disabled]="isInvalid">Upload</button>
  </div>
</div>