@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.customer-logo {
  min-width: 216px;
  max-width: 216px;
  max-height: 72px;
  margin-left: 8px;
}


.collapse {
  margin-left: -20px;
}

.sidenav-odp {
  min-width: 264px;
  max-width: 264px;
  margin-right: 0;
  transition: 0.25s;

  .search {
    .fa-search {
      right: 10px;
      top: 12px;
    }

    input {
      height: 32px;
    }
  }

  .logo-holder {
    min-width: 200px;
    max-width: 200px;
    min-height: 64px;
    max-height: 64px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;

    .logo {
      width: 200px;
      height: 64px;
      background-repeat: no-repeat;
      background-size: 200px;
      background-position: -18px;
    }
  }

  .icons-holder {
    min-width: 264px;
    max-width: 264px;
    min-height: 32px;
    max-height: 32px;
    padding: 0px 20px;

    .icon-block {
      min-width: 32px;
      max-width: 32px;
      min-height: 32px;
      max-height: 32px;
      border-radius: 50%;
      border: 1px solid transparent;
      color: $border;

      &.active {
        background: $primary;
        color: $white;
      }

      &:hover {
        cursor: pointer;
        color: $primary;
        border: 1px solid $border-color;
        background: $white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .menu-label {
    min-height: 32px;
    max-height: 32px;
  }
}

.full-height {
  min-height: calc(100vh);
  max-height: calc(100vh);
  overflow-y: auto;
  overflow-x: hidden;
}

.pinning-star {
  display: none;
}

.menu-list {
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow-y: auto;

  .menu-list-item {
    min-height: 32px;
    max-height: 32px;
    padding-left: 8px;

    &:not(.text-white):hover {
      cursor: pointer;
      background: #ececec !important;

      .pinning-star {
        display: block;
      }
    }

    &:hover {
      .pinning-star {
        display: block;
        color: #3498db;
      }
    }

    .list-item-icon {
      min-height: 32px;
      max-height: 32px;
      min-width: 32px;
      max-width: 32px;
    }

    .list-item-label {
      min-width: 156px;
      max-width: 156px;
    }

    .type {
      // width: 22px;
      // height: 22px;
      border-radius: 20%;
    }
  }
}

// .menu-list-item :hover .pinning-star{
//   display: block;
// }
.top-header {
  min-height: 40px;
  max-height: 40px;
  font-size: 13px;

  .sidenav-toggler {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
  }

  .user-details {
    min-width: 192px;
    max-width: 192px;
    min-height: 32px;
    max-height: 32px;
    overflow: hidden;

    &:hover {
      background: $light;
    }

    .user-icon-holder {
      min-width: 24px;
      max-width: 24px;
      min-height: 24px;
      max-height: 24px;
      overflow: hidden;
    }

    .user-name {
      min-width: 122px;
      max-width: 122px;
    }
  }

  .user-details-dropdown {
    min-width: 160px;
    max-width: 160px;
    min-height: 170px;
    max-height: 170px;
    // min-height: 176px;
    // max-height: 176px;
    z-index: 1042;
    right: 31px;
    top: 38px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.32);
    overflow: hidden;

    .user-details-item {
      min-height: 40px;
      max-height: 40px;

      &:hover {
        cursor: pointer;
        background: $light;
      }
    }

    .user-details-footer {
      min-height: 50px;

      .powered-by,
      .info {
        min-height: 50px;
        max-height: 50px;
      }

      .powered-by {
        background-size: 174px;
        background-position: -10px -28px;
        background-repeat: no-repeat;

        small {
          font-size: 12px;
          top: 18px;
          right: 12px;
        }
      }
    }
  }
}

.sub-header {
  min-height: 48px;
  max-height: 48px;
}

.red-dot {
  top: 4px;
  right: 4px;
  font-size: 7px;
  border: 1px solid $light;
  border-radius: 6px;
  color: #dd5151;
}

.current-app {
  min-width: 230px;
  max-width: 230px;
  min-height: 32px;
  max-height: 32px;

  &:hover {
    background: $light;
  }

  .current-app-thumbnail {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    overflow: hidden;
    transition: 0.25s;

    img {
      min-width: 26px;
      max-width: 26px;
      min-height: 26px;
      max-height: 26px;
      overflow: hidden;
    }
  }
}

.username-holder {
  max-width: 90px;
}

.search-control {
  input {
    min-width: 231px;
    max-width: 231px;
    min-height: 48px;
    max-height: 48px;
    background: transparent;
    text-indent: 36px;
    font-size: 12px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $border;
    }
  }

  .fa-search {
    left: 16px;
    top: 19px;
    font-size: 12px;
    color: $border;
  }
}

.user-options {
  min-height: 40px;
  max-height: 40px;

  .user-icon {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }

  .user-name {
    font-size: 13px;
  }
}

.notification {
  .notification-icon {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    position: relative;

    .notification-count {
      position: absolute;
      top: -3px;
      left: 20px;
      font-size: 10px;
      font-weight: bold;
      border-radius: 9px;
      min-height: 21px;
      min-width: 20px;
      display: grid;
      align-content: center;
      justify-content: center;
    }
  }

  .notification-dropdown {
    z-index: 10;
    overflow: hidden;
    min-width: 400px;
    left: -190px;
    top: 40px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.14);
    border-radius: 0.25rem;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f4f5f5;
      margin-top: -10px;
      position: fixed;
      margin-left: 195px;
    }

    .notification-dropdown-header {
      min-height: 38px;
      max-height: 38px;
      user-select: none;

      &.noNotifs {
        display: grid !important;
        min-height: 170px !important;
        justify-content: center !important;
        padding: 20px !important;
        row-gap: 10px;

        * {
          display: grid;
          justify-content: center;
        }

        .noNotif-icon {
          width: 100px;
          height: 100px;
          background: rgba($primary, 0.1);
          border-radius: 50%;
          align-items: center;

          .fa-bell {
            font-size: 70px;
            color: rgba($primary, 0.5);
          }
        }
      }
    }

    .list-group {
      max-height: 385px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0 transparent;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        box-shadow: inset 0 0 6px rgba($primary, 0.5);
      }

      .list-group-item {
        border: 0;
        border-radius: 4px;
      }
    }

    .ds-name {
      max-width: 180px;
      word-break: break-all;
    }

    .fa-circle {
      font-size: 5px;
    }

    .grey-medium {
      color: $gray-medium;
    }

    .file-label {
      min-width: 90px;
    }

    .file-name {
      min-width: 230px;
      max-width: 230px;
    }

    .status-circle {
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
      border-radius: 20px;
      background: #b5b8bc;
    }
  }
}

.last-login {
  font-size: 11px;
}

.staredContainer {
  min-width: 206px;
  max-width: 206px;
  min-height: 112px;
  max-height: 112px;
  background: #f4f5f5 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  margin-left: 12px;
}