<div class="d-flex flex-column w-100 h-100">
    <div class="d-flex">
        <div class="sidenav-odp bg-white" [ngClass]="{'hide':!showSideNav}">
            <div class="logo-holder border-right bg-white d-flex align-items-center">
                <div *ngIf="!(selectedApp?.logo && selectedApp?.logo?.full)" class="logo ml-3"></div>
                <img class="customer-logo" *ngIf="selectedApp?.logo && selectedApp?.logo?.full"
                    [src]="selectedApp?.logo?.full" alt="Logo">
            </div>
            <!-- <div class="search-control position-relative border-right">
                <span class="fa fa-search position-absolute"></span>
                <input type="text" class="border-0" placeholder="Search" [(ngModel)]="searchText">
            </div> -->
            <!-- <div class="icons-holder d-flex justify-content-between border-right my-2">
                <div class="icon-block d-flex justify-content-center align-items-center position-relative"
                    [routerLink]="['services']"
                    [ngClass]="{'bg-primary text-white':selectedMenuItem.key == 'services'}">
                    <span class="dsi dsi-data-service"></span>
                </div>
                <div class="icon-block d-flex justify-content-center align-items-center position-relative"
                    [routerLink]="['workflow']" [ngClass]="{'bg-primary text-white':selectedMenuItem.key == 'workflow'}">
                    <span class="dsi dsi-branch"></span>
                    <span class="red-dot fa fa-sm fa-circle position-absolute" *ngIf="notificationList.length>0"></span>
                </div>
                <div *ngIf="enableB2b" class="icon-block d-flex justify-content-center align-items-center position-relative"
                    [routerLink]="['interactions/all']"
                    [ngClass]="{'bg-primary text-white':selectedMenuItem.key == 'interactions'}">
                    <span class="dsi dsi-flows"></span>
                </div>
                <div class="icon-block d-flex justify-content-center align-items-center position-relative"
                    [routerLink]="['bookmark']" [ngClass]="{'bg-primary text-white':selectedMenuItem.key == 'bookmark'}">
                    <span class="dsi dsi-bookmark"></span>
                </div>
            </div> -->
            <!-- <div
                class="menu-label pl-3 text-primary font-weight-bold d-flex align-items-center justify-content-start border-bottom border-right border-top">
                {{selectedMenuItem.label}}
            </div> -->
            <odp-dashboard-menu #dashMenu></odp-dashboard-menu>
        </div>
        <div class="full-height d-flex flex-column w-100 bg-light">
            <div class="top-header d-flex align-items-center justify-content-between pr-3 bg-white">
                <div class="left-side d-flex align-items-center">
                    <!-- <div class="sidenav-toggler d-flex align-items-center justify-content-center bg-primary text-white hover"
                        (click)="showSideNav=!showSideNav">
                        <span class="fa fa-bars"></span>
                    </div> -->
                    <div class="d-flex align-items-center ml-4">
                        <span class="text-secondary fw-400 font-14" *ngIf="breadcrumbs">{{breadcrumbs}} /&nbsp;</span>
                        <span class="text-dark fw-400 font-14">{{current}}</span>
                    </div>
                    <div class="fa fa-info-circle text-warning font-16 ml-3" *ngIf="showBulkUpdateInfo"
                        ngbTooltip=" Multiple Documents will be updated with the same new value entered in the form">
                    </div>
                </div>
                <div class="right-side d-flex align-items-center">
                    <div class="notification mr-3 position-relative" odpClickOutside
                        [ignore]="['.clearNotificationBtn']" (outside)="toggleNotification=false">
                        <div class="notification-icon d-flex align-items-center justify-content-center hover text-secondary"
                            [class.border-primary]="!!newNotificationsCount"
                            (click)="toggleNotification=!toggleNotification">
                            <span *ngIf="newNotificationsCount" class="font-20 dsi dsi-notification-active">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                            </span>
                            <span *ngIf="!newNotificationsCount" class="font-20 dsi dsi-notification"></span>
                            <!-- <div class="notification-count bg-primary text-white" *ngIf="!!newNotificationsCount">
                                {{ unreadNotificationsCount }}
                            </div> -->
                        </div>
                        <div *ngIf="toggleNotification"
                            class="notification-dropdown d-flex flex-column position-absolute border bg-white">
                            <div
                                class="notification-dropdown-header d-flex align-items-center justify-content-between px-3">
                                <div class="d-flex align-items-center">
                                    <ng-container *ngIf="!fetchingFileTransfers">
                                        <span *ngIf="hasNotifications" class="dsi dsi-notification-active mr-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                        </span>
                                        <span *ngIf="!hasNotifications" class="dsi dsi-notification mr-2"></span>
                                        <div class="fw-400">
                                            {{ hasNotifications ? 'Notifications' : 'No Notifications' }}
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="fetchingFileTransfers">
                                        <div class="spinner-border text-dark notification-loader mr-2" role="status">
                                            <span class="sr-only">Processing...</span>
                                        </div>
                                        <div class="fw-400">Loading...</div>
                                    </ng-container>
                                </div>
                                <button *ngIf="hasNotifications" type="button"
                                    class="btn btn-link btn-sm p-0 text-secondary"
                                    (click)="deleteReadFileTransfers()">Clear Read Notifications</button>
                            </div>
                            <div class="list-group list-group-flush" *ngIf="hasNotifications"
                                (scroll)="onNotificationScroll($event)">
                                <ng-container *ngFor="let item of fileTransfersList; let lastItem = last;">
                                    <odp-notification-item [item]="item" [isLast]="lastItem"
                                        (clear)="deleteFileTransfers($event)"
                                        (download)="downloadFile($event);toggleNotification=false"
                                        (navigateToSheetSelect)="navigateToSheetSelect($event);toggleNotification=false"
                                        (navigateToFileMapper)="navigateToFileMapper($event);toggleNotification=false"
                                        (markAsRead)="markItemAsRead($event)">
                                    </odp-notification-item>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="current-app d-flex align-items-center hover rounded border mr-3 ignore-outside px-2 border-light"
                        (click)="toggleAppOptions()">
                        <div class="current-app-thumbnail ignore-outside rounded d-flex align-items-center justify-content-center mr-2"
                            [ngStyle]="{background:selectedApp?.bg}">
                            <img *ngIf="selectedApp.logo && selectedApp.logo.thumbnail"
                                [src]="selectedApp.logo.thumbnail" alt="Logo">
                            <span
                                *ngIf="!selectedApp.logo || !selectedApp.logo.thumbnail">{{selectedApp.firstLetter}}</span>
                        </div>
                        <div class="current-app-name ignore-outside text-dark text-truncate" ngbTooltip="Current App"
                            placement="bottom">
                            {{selectedApp._id}}
                        </div>
                        <div *ngIf="multipleApps" class="ml-auto ignore-outside">
                            <span class="dsi dsi-drop-down text-black-50"></span>
                        </div>
                    </div>
                    <div class="user-details d-flex align-items-center hover ignore-outside"
                        (click)="showProfileOptions=!showProfileOptions" [ngbTooltip]="name">
                        <div
                            class="user-icon-holder border rounded-circle d-flex align-items-center justify-content-center mx-2 dark-border">
                            <span class="dsi dsi-user font-18 text-dark"></span>
                        </div>
                        <div class="user-name text-truncate">{{name}}</div>
                    </div>
                    <div *ngIf="showProfileOptions"
                        class="user-details-dropdown position-absolute bg-white rounded p-4 dark-border"
                        [ignore]="['.user-details']" odpClickOutside (outside)="showProfileOptions=false">
                        <div
                            class="user-details-container position-relative d-flex align-items-center h-100 w-100 pb-4 border-bottom ng-tns-c110-3">
                            <div
                                class="user-details-thumbnail d-flex align-items-center justify-content-center rounded-circle bg-light border border-light mr-4 ng-tns-c110-3">
                                <span class="dsi dsi-user text-grey ng-tns-c110-3"></span>
                            </div>
                            <div class="user-details-data d-flex flex-column ng-tns-c110-3">
                                <div class="user-details-name text-truncate font-20 fw-600 ng-tns-c110-3">
                                    {{name}}
                                </div>
                                <div class="user-details-more text-truncate font-14 fw-400 text-grey ng-tns-c110-3">
                                    {{username}}
                                </div>
                            </div>
                        </div>

                        <div *ngIf="authType && authType === 'local'"
                            class="user-details-item font-14 fw-500 py-2 d-flex align-items-center rounded mt-3"
                            (click)="showProfileOptions=false;toggleChangePassword=true;">
                            <span class="text-secondary dsi dsi-settings mr-2"></span>
                            <span class="text-dark">Change Password</span>
                        </div>
                        <div class="user-details-item font-14 fw-500 py-2 d-flex align-items-center rounded"
                            (click)="showProfileOptions=false;logout()">
                            <span class="text-secondary dsi dsi-logout mr-2"></span>
                            <span class="text-dark">Logout</span>
                        </div>
                        <div class="user-details-footer border rounded d-flex flex-column mt-3">
                            <div class="powered-by"></div>
                            <div class="logo-info logo"></div>
                        </div>
                        <div
                            class="last-login d-flex align-items-center justify-content-between mt-3 font-12 fw-400 text-grey">
                            <div class="d-flex align-items-center">
                                <span class="mr-2">Last Login:</span>
                                <span class="">{{lastLogin | date:'yyyy MMM dd, HH:mm:ss'}}</span>
                            </div>
                            <span class="">v{{version}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body position-relative">
                <router-outlet #o="outlet"></router-outlet>
            </div>
        </div>
    </div>
</div>

<odp-app-switcher *ngIf="showAppOptions" [activeApp]="selectedApp" (activeAppChange)="onAppChange($event)"
    (cancel)="showAppOptions=false"></odp-app-switcher>
<odp-change-password *ngIf="toggleChangePassword" [(toggleModal)]="toggleChangePassword"></odp-change-password>