<ng-container *ngIf="specificType=='object'">
  <odp-edit-collection-of-objects-grid #gridComponent [formArray]="form" [definition]="definition"
    [collectionFieldName]="arrayDefinition.properties.name">
  </odp-edit-collection-of-objects-grid>
</ng-container>
<ng-container *ngIf="specificType!='object'">
  <div class="d-flex flex-column">
    <div class="d-flex" *ngIf="arrayControls.length==0">No Items</div>
    <div class="d-flex mb-3" *ngFor="let control of arrayControls;let controlIndex=index;let firstControl = first;">
      <odp-form-control [control]="control" [definition]="getDefinitionWithValue(definition,controlIndex)"
        [first]="firstControl" (keyupEvent)="keyupEvent($event,controlIndex)" [arrayDefinition]="arrayDefinition">
      </odp-form-control>
      <button type="button" class="btn btn-sm btn-link text-danger mr-3" (click)="removeItem(controlIndex)"
        *ngIf="!arrayDefinition?.properties?.readonly">
        <span class="fa fa-trash mr-2"></span>
        <span class="text">Remove</span>
      </button>
    </div>
  </div>
</ng-container>