<div class="field-wrapper rounded p-3 mb-3" [formGroup]="form"
  *ngIf="definition.type !== 'Object' && definition.type !== 'Array'">
  <div class="mark-enable d-flex">
    <div *ngIf="markEnable && canEnable" class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [id]="checkboxKey" [(ngModel)]="toggleEnable"
        [ngModelOptions]="{standalone: true}">
      <label class="custom-control-label" [attr.for]="checkboxKey">&nbsp;</label>
    </div>
    <div *ngIf="markEnable && !canEnable" class="check"></div>
  </div>
  <div class="label-wrapper w-100">
    <div class="d-flex align-items-start">
      <label class="label-width d-flex font-12 fw-400"
        *ngIf="definition.type !== 'Object' && definition.type !== 'Array'">
        <span class="text text-secondary"
          [odpTruncated]="definition.properties.label ? definition.properties.label : definition.properties.name"
          [ngClass]="{'text-muted':!toggleEnable}">{{definition.properties.label ? definition.properties.label :
          definition.properties.name}}</span>
        <sup placement="top" ngbTooltip="Required" *ngIf="definition.properties.required"
          class="text-danger high-zIndex">
          <small class="fa fa-asterisk"></small>
        </sup>
        <small class="fa fa-info-circle ml-2 text-info mt-1 hover high-zIndex"
          *ngIf="definition.properties._description" placement="top"
          [ngbTooltip]="definition.properties._description"></small>
        <small class="fa fa-info-circle ml-2 text-info mt-1 hover high-zIndex"
          *ngIf="definition.type==='Array'&&definition?.definition[0].properties._description" placement="top"
          [ngbTooltip]="definition?.definition[0].properties._description"></small>
      </label>

    </div>
    <div
      *ngIf="definition.properties.password || (definition.type=='Array' && definition.definition[0].properties?.password) ">
    </div>
  </div>
  <ng-container *ngIf="definition.type!='Object' && definition.type!='Array'">
    <odp-form-control [markEnable]="markEnable" [control]="form?.get(definition.key)" [definition]="definition"
      [first]="first"></odp-form-control>
  </ng-container>
</div>

<div class="field-wrapper rounded p-3 d-flex align-items-start mb-3" [formGroup]="form"
  *ngIf="definition.type=='Object'">
  <div class="d-flex flex-column w-100">
    <label [attr.for]="definition.path" class="label-width d-flex align-items-start mb-4 fw-700 font-20">
      <span class="text text-dark">{{definition.properties.label ? definition.properties.label :
        definition.properties.name}}</span>
    </label>
    <ng-container *ngFor="let def of definition.definition;let i = index;">
      <odp-manage-control [markEnable]="markEnable" [form]="objectForm" [definition]="def"></odp-manage-control>
    </ng-container>
  </div>
</div>

<div class="field-wrapper rounded p-3 d-flex flex-column align-items-start mb-3" [formGroup]="form"
  *ngIf="definition.type=='Array'">
  <div class="d-flex flex-column w-100">
    <div class="d-flex flex-row" *ngIf="controlType !== 'object'">
      <label [attr.for]="definition.path" class="label-width d-flex align-items-start mb-1 fw-700">
        <span class="text">{{definition.properties.label ? definition.properties.label :
          definition.properties.name}}</span>
      </label>
      <button type="button" class="btn btn-link pl-0 add-new ml-auto"
        *ngIf="!definition?.properties?.readonly && toggleEnable" (click)="arrayControlRef.addNew()"
        [attr.id]="definition.path">
        <span class="fa fa-plus-circle mr-2 text-dark"></span>
        <span class="text text-dark">Add new</span>
      </button>
    </div>
    <odp-array-control #arrayControl [markEnable]=" markEnable" [form]="arrayForm"
      [definition]="definition.definition[0]" [arrayDefinition]="definition"></odp-array-control>
  </div>
</div>