<div *ngIf="serviceAccess">
    <ng-container *ngIf="searchFieldValue">
        <ng-container *ngIf="!isSecureText">
            <a *ngIf="serviceAccess" [routerLink]="['/', currentAppId, 'services', serviceId, 'view', documentId]"
                target="_blank">{{searchFieldValue}}</a>
            <span *ngIf="!serviceAccess">{{searchFieldValue}}</span>
        </ng-container>
        <ng-container *ngIf="isSecureText">
            <ng-container *ngIf="!showPassword">
                **********
            </ng-container>
            <ng-container *ngIf="showPassword">
                <a *ngIf="serviceAccess" [routerLink]="['/', currentAppId, 'services', serviceId, 'view', documentId]"
                    target="_blank">{{searchFieldValue}}</a>
                <span *ngIf="!serviceAccess">{{searchFieldValue}}</span>
            </ng-container>
            <span class="fa p-0 ml-2" 
                (click)="showPassword=!showPassword;$event.stopPropagation();"
                [ngClass]="{'fa-eye-slash':showPassword,'fa-eye':!showPassword}">
            </span>
        </ng-container>
    </ng-container>

    <span *ngIf="!searchFieldValue" class="text-muted">N.A.</span>
</div>

<div *ngIf="!serviceAccess">
    <a *ngIf="documentId" [routerLink]="['/', currentAppId, 'services', serviceId, 'view', documentId]"
        target="_blank">{{documentId}}</a>
    <span *ngIf="!documentId" class="text-muted">N.A.</span>

</div>