<input *ngIf="type==='String' || type==='File' || type==='Geojson' || type==='Relation' || type==='User'" type="text"
    class="border bg-white w-100 filter-dim mb-2" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
<input *ngIf="type==='Number'" type="number" class="border bg-white w-100 mb-2 filter-dim" [(ngModel)]="value"
    odpOnChange (textChange)="onChange($event)">
<input *ngIf="type==='Date'" type="date" max="9999-12-31" class="border bg-white w-100 mb-2 filter-dim"
    [(ngModel)]="value" (change)="onChange($event.target.value)">
<select *ngIf="type==='Boolean'" class="border bg-white w-100 mb-2 filter-dim" [(ngModel)]="value"
    (ngModelChange)="onChange($event)">
    <option [value]="null">--All--</option>
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
</select>