@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

:host {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 1s;
  max-width: 300px;
}

:host.ag-tooltip-hiding {
  opacity: 0;
}

.list-item {
  margin: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;

  .label {
    font-weight: bold;
  }

  .value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}