<div class="font-weight-bold value-wrapper">
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:definition.value}"></ng-container>
    <div *ngIf="isUpdated" class="text-danger p-2 mt-2 history-value">
        <span class="text-secondary mr-2">From</span>
        <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:oldVal,type:'from'}"></ng-container>
    </div>
    <div *ngIf="isCreated" class="text-success p-2 mt-2 history-value">
        <span class="text-secondary mr-2">Created</span>
        <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal,type:'created'}"></ng-container>
    </div>
    <div *ngIf="isUpdated" class="text-success p-2 mt-2 history-value">
        <span class="text-secondary mr-2">To</span>
        <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal,type:'to'}"></ng-container>
    </div>

</div>

<ng-template #values let-definition="definition" let-value="value" let-type="type">
    <ng-container *ngIf="definition.properties.password ">
        <ng-container *ngIf="value && value.value">
            <ng-container *ngIf="!showPassword[type]">
                **********
            </ng-container>
            <ng-container *ngIf="showPassword[type]">
                {{decryptedVal[type]}}
            </ng-container>
            <button type="button" class="btn btn-sm btn-link p-0 ml-2" (click)="showDecryptedValue(value,type)">
                {{showPassword[type]?'Hide':'Show'}}
            </button>
        </ng-container>
        <span *ngIf="!value || !value?.value" class="text-muted">N.A.</span>
    </ng-container>
</ng-template>