<div class="search-control position-relative border-right">
    <span class="fa fa-search position-absolute"></span>
    <input type="text" class="border-0" placeholder="Search" [(ngModel)]="searchText">
</div>
<div class="menu-list-item d-flex align-items-center justify-content-between" (click)="loadBookmark(item)"
    *ngFor="let item of records | serviceSearch:searchText"
    [ngClass]="{'bg-primary text-white':item._id === activeId,'bg-light text-secondary':item._id !== activeId}">
    <div class="d-flex align-items-center">
        <div class="list-item-icon d-flex align-items-center">
            <span class="odp-bookmark"></span>
        </div>
        <div class="list-item-label d-flex align-items-center text-truncate" [odpTruncated]="item.name">
            {{item.name}}
        </div>
    </div>
</div>
<div *ngIf="!records || records.length==0"
    class="menu-list-item d-flex align-items-center justify-content-between bg-light text-secondary">
    <div class="d-flex align-items-center">
        <div class="list-item-label d-flex align-items-center text-muted pl-2">No Records</div>
    </div>
</div>