<div class="d-flex flex-column value-wrapper fw-500 font-14">
  <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:definition.value}"></ng-container>
  <div *ngIf="isUpdated" class="text-muted text-decoration-line-throughmt-2 history-value">
    <!-- <span class="text-secondary mr-2">From</span> -->
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:oldVal}"></ng-container>
  </div>
  <div *ngIf="isUpdated" class="text-muted mt-2 history-value">
    <!-- <span class="text-secondary mr-2">To</span> -->
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal}"></ng-container>
  </div>
  <div *ngIf="isCreated" class="text-muted mt-2 history-value">
    <!-- <span class="text-secondary mr-2">Created</span> -->
    <ng-container *ngTemplateOutlet="values;context:{definition:definition,value:newVal}"></ng-container>
  </div>
</div>

<ng-template #values let-definition="definition" let-value="value">
  <div class="d-flex align-items-center">
    <ng-container *ngIf="value">
      <span class="fa fa-check-circle mr-2 text-primary"></span>
      <span class="font-weight-bold">Yes</span>
    </ng-container>
    <ng-container *ngIf="!value">
      <span class="dsi dsi-close-circle mr-2 text-muted"></span>
      <span class="font-weight-bold">No</span>
    </ng-container>
  </div>
</ng-template>